<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
          <button data-switch-theme aria-label="toggle app theme"
            class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
            <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
          </button>
        </div>
      </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Avatar Default
            </h1>
            <div class="p-6 flex flex-wrap gap-2 rd-lg b bdr-high">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar" class="avatar-md object-cover">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="avatar-md object-cover rd-sm">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="avatar-md object-cover rd">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="avatar-md object-cover rd-md">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="avatar-md object-cover rd-lg">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="avatar-md object-cover rd-xl">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar"
                    class="avatar-md object-cover rd-full">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar-xs"
                    class="avatar-xs object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar-sm"
                    class="avatar-sm object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar-md"
                    class="size-10 object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar-lg"
                    class="avatar-md object-cover rd-full">
                <img src="/defaultavatar.webp" width="640" height="427" alt="avatar-xl"
                    class="size-14 object-cover rd-full">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                ShipText/Badge
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-5 rd-lg b bdr-high">
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span class="absolute bottom-0 left-3 bg-primary-600 text-white px-1 text-xs py-px rd-full w-max">
                        Online
                    </span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span
                        class="absolute bottom-0 right-0 bg-green-600 size-3 flex border-2 border-white dark:border-gray-950 rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="size-10 object-cover rd-full">
                    <span class="absolute top-0 right-3 bg-primary-600 text-white px-1 text-xs py-px rd-full w-max">
                        top-left
                    </span>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                PlaceHolder : Text/Image
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <div
                    class="avatar-placeholder avatar-placeholder-md avatar-placeholder-solid-gray rd-full p-1">
                    <span aria-hidden="true" class="flex i-ph-user"></span>
                </div>
                <div
                    class="avatar-placeholder avatar-placeholder-md avatar-placeholder-soft-primary rd-full p-1">
                    <span aria-hidden="true" class="flex i-ph-user"></span>
                </div>
                <div
                    class="avatar-placeholder avatar-placeholder-md avatar-placeholder-subtle-primary rd-full p-1">
                    JK
                </div>
                <div
                    class="avatar-placeholder avatar-placeholder-md avatar-placeholder-outline-primary b rd-full p-1">
                    JK
                </div>
                <div
                    class="avatar-placeholder avatar-placeholder-md avatar-placeholder-outline-accent b rd-full p-1">
                    JK
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Grouped
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <div class="-space-x-3 flex items-center w-full children-b-2 children-b-white dark-children-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full ">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                </div>
                <div class="-space-x-3 flex items-center w-full -ml-1 children-b-4 children-b-white dark-children-b-gray950">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full ">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar md"
                        class="avatar-md object-cover rd-full">
                    <span class="avatar-placeholder avatar-placeholder-md avatar-placeholder-solid rd-full text-sm font-medium">
                        +4
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>