<div class="flex flex-col gap-3">
    <div class="flex gap-x-3 text-sm items-start">
        <input type="radio" name="def_radio" id="def_check" class="form-input-radio size-4 peer">
        <label for="def_check" class="text-body peer-disabled-op80 peer-disabled-pointer-events-none">Default radio</label>
    </div>
    <div class="flex gap-x-3 text-sm items-start">
        <input type="radio" checked name="def_radio" id="def_radio_checked" class="form-input-radio size-4 peer">
        <label for="def_radio_checked" class="text-body peer-disabled-op80 peer-disabled-pointer-events-none">Default radio Checked</label>
    </div>
</div>