<div class="flex flex-col gap-4 wfull">
    <div class="flex gap-x-3 text-sm items-start">
        <input checked type="radio" name="radio_help_1" id="radio_help_1" class="form-input-radio size-4 peer">
        <label for="radio_help_1" class="text-title font-medium text-base peer-disabled:op80 peer-disabled:pointer-events-none flex flex-col">
            Label
            <p class="text-body text-sm font-light">
                Please check this box
            </p>
        </label>
    </div>
    <label for="radio_help_2" class="flex gap-x-3 text-sm items-start p-4 rd-md b bdr-high has-[:checked]:border-secondary-600 dark-has-[:checked]:border-secondary-500">
        <input type="radio" name="radio_help_1" id="radio_help_2" class="form-input-radio-secondary size-4 peer">
        <div class="text-title font-medium text-base peer-disabled:op80 peer-disabled:pointer-events-none flex flex-col">
            Label
            <p class="text-body text-sm font-light">
                Please check this box
            </p>
        </div>
    </label>
</div>