<div class="flex gap-x-3 text-sm items-start">
    <input type="radio" name="def_radio_required" id="def_radio_required" class="form-input-radio size-4 peer">
    <label for="def_radio_required" class="text-body peer-disabled:op80 peer-disabled:pointer-events-none ">Default radio <span aria-hidden="true" class="text-danger-600 dark:text-danger-500">*</span></label>
</div>