<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Sizes
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-3 rd-lg bdr_high">
                <kbd class="kbd-xs kbd-solid text-title rd-md">
                    kbd xs
                </kbd>
                <kbd class="kbd-sm kbd-solid text-title rd-md">
                    Kbd sm
                </kbd>
                <kbd class="kbd-md kbd-solid text-title rd-md">
                    Kbd md
                </kbd>
                <kbd class="kbd-lg kbd-solid text-title rd-md">
                    Kbd lg
                </kbd>
                <kbd class="kbd-xl kbd-solid text-title rd-md">
                    Kbd xl
                </kbd>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                KBD with Icon - Symbol
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-3 rd-lg bdr_high">
                
                <kbd class="kbd-md kbd-solid text-title rd-md">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>    
                </kbd>
                <kbd
                    class="kbd-md rd-md kbd-outline text-title">
                    <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18v-6H5l7-7 7 7h-4v6H9z"/></svg>
                </kbd>
                <kbd     
                    class="kbd-md min-w-[30px] flex items-center justify-center text-sm rd-md kbd-outline text-title">
                    /
                </kbd>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Grouped
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg bdr_high">
                <div class="flex items-center gap-x-2">
                    <kbd class="kbd-md rd-md kbd-solid text-title flex items-center gap-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg> 
                        +
                        B                     
                    </kbd>
                    <span class="text-body">
                        And
                    </span>
                    <kbd class="kbd-md text-sm rd-md kbd-solid text-title flex items-center gap-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg> 
                        + R                    
                    </kbd>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>