<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default DropDown
            </h1>
            <div class="p-6 flex flex-wrap gap-4 gap-y-3 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger class="btn btn-md rd-lg btn-white">
                        Open Dropdown
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 1
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 2
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 3
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 4
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Trigger With Indicator
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 1
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 2
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 3
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 4
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Hover behavior
            </h1>
            <div class="p-6 flex flex-wrap gap-4 gap-y-3 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down data-trigger-strategy="hover" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Hover me
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 1
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 2
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 3
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex duration-200 hover-bg-high-solid p-2 rd-md">
                            Item 4
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Close Behavior
            </h1>
            <div class="p-6 flex flex-wrap gap-4 gap-y-3 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down data-prevent-close-outside class="relative">
                    <button data-dropdown-trigger class="btn btn-md btn-white rd-lg">
                        Prevent Close From Outside
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-prevent-close-inside class="relative">
                    <button data-dropdown-trigger class="btn btn-md btn-white rd-lg">
                        Prevent Close From Inside
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <button
                            class="focus-outline flex items-center gap-x-3 hover:bg-gray-200/80 dark:hover:bg-gray-800/80 p-2 rd-md w-full">
                            <span class="flex items-center flex-1 gap-x-3">
                                <span ari-hidden="true" class="text-lg flex i-ph-moon-stars"> </span>
                                <span class="flex-1 inline-flex">Dark Mode</span>
                            </span>
                            <span class="flex items-center hmax">
                                <input type="checkbox" name="switch_1" id="switch_1"
                                    class="bg-body text-primary1 dark-text-primary8/40 switch switch-md switch-thumb-gray8 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Icons / Separator
            </h1>
            <div class="p-6 flex flex-wrap justify-center items-center gap-4 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        User Setting
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180 gap-x-2">
                        With Separator
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform divide-y divide-gray-200 dark:divide-gray-800 children:py-2 first:children:pt-0 last:children:pb-0">
                        <div class="flex flex-col">
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Edit Profile
                            </a>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Setting
                            </a>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Billing
                            </a>
                        </div>
                        <div>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Log Out
                            </a>
                        </div>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        With Separator 2 Right
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-60 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform divide-y divide-gray-200 dark:divide-gray-800 children:py-2 first:children:pt-0 last:children:pb-0">
                        <div class="flex flex-col">
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Edit Profile
                            </a>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Setting
                            </a>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Billing
                            </a>
                        </div>
                        <div>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Delete Account
                            </a>
                        </div>
                        <div>
                            <a href="#link" aria-label="some alt text for link"
                                class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                                <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                                Log Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Custom Trigger
            </h1>
            <div class="p-6 flex flex-wrap justify-center items-center gap-4 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger aria-label="toggle dropdown"
                        class="group text-sub-title btn [&[aria-expanded=true]>span]-rotate-180 gap-x-0.5">
                        <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                            class="size-12 rd-full object-cover">
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>

                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger aria-label="toggle dropdown"
                        class="group btn btn-white px2.5 py1 gap-x-2 rd-lg [&[aria-expanded=true]>span]-rotate-180">
                        <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                            class="size-9 rd-full object-cover">
                        <div class="flex items-start flex-col">
                            <h4 class="font-semibold text-title">Johnkat MJ</h4>
                            <span class="text-sm text-sub-body">FrontEnd Designer</span>
                        </div>
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Custom DropDown
            </h1>
            <div class="p-6 flex flex-wrap justify-center items-center gap-4 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger aria-label="toggle dropdown"
                        class="group px-2.5 py1 btn btn-white gap-x-2 rd-lg [&[aria-expanded=true]>span]-rotate-180">
                        <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                            class="size-9 rd-full object-cover">
                        <div class="flex items-start flex-col">
                            <h4 class="font-semibold text-title">Johnkat MJ</h4>
                            <span class="text-sm text-sub-body">FrontEnd Designer</span>
                        </div>
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900">
                            <h2 class="font-semibold text-body">My Profile</h2>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down class="relative">
                    <button data-dropdown-trigger aria-label="toggle dropdown" class="group btn btn-md btn-white rd-lg">
                        Account
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Placement
            </h1>
            <div class="p-6 flex flex-wrap justify-center items-center gap-4 rd-lg bdr_high h-96">
                <div data-fx-dropdown data-drop-down data-placement="bottom-start" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open BottomStart
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-placement="bottom-end" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open BottomEnd
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-placement="top-start" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open TopStart
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-placement="top-end" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open TopEnd
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-placement="left-start" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open LeftStart
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-placement="left-end" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open LeftEnd
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>

                <div data-fx-dropdown data-drop-down data-placement="right-start" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open RightStart
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
                <div data-fx-dropdown data-drop-down data-placement="right-end" class="relative">
                    <button data-dropdown-trigger
                        class="btn btn-md rd-lg btn-white group gap-x-2 [&[aria-expanded=true]>span]-rotate-180">
                        Open RightEnd
                        <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-200"></span>
                    </button>
                    <div role="list" data-fx-popper
                        class="u-fx-popper z-20 op0 invisible translate-y-3 fx-open-op100 fx-open-visible fx-open-translate-y-0 w-56 p-2 dropdown-wrapper-body bdr rd-lg flex flex-col overflow-hidden text-body ease-linear transition-transform">
                        <div
                            class="pb-2 border-b mb-2 border-b-gray-100 dark:border-b-gray-900 flex items-center gap-x-3">
                            <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                                class="size-9 rd-full object-cover">
                            <div class="flex items-start flex-col">
                                <h4 class="font-semibold text-title">Johnkat MJ</h4>
                                <span class="text-sm text-sub-body">FrontEnd Designer</span>
                            </div>
                        </div>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-pencil"></span>
                            Edit Profile
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Setting
                        </a>
                        <a href="#link" aria-label="some alt text for link"
                            class="focus-outline focus-bg-solid outline-none ease-linear flex items-center gap-x-3 duration-200 hover-bg-high-solid p-2 rd-md">
                            <span aria-hidden="true" class="text-lg flex i-ph-user"></span>
                            Billing
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>