<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default select
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="relative">
                    <select name="select-country" id="select-country"
                        class="form-input form-input-md  form-input-bordered bg-body rd-md">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Gray
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="relative">
                    <select name="select-country" id="select-country"
                        class="form-input form-input-md  form-input-bordered bg-high rd-md">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Label
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="space-y-2">
                    <label for="country-list" class="text-sm text-sub-body">Select Country</label>
                    <div class="relative">
                        <select name="country-list" id="country-list"
                            class="form-input form-input-md  form-input-bordered bg-body rd-md">
                            <option value="" disabled class="op60">Search Country</option>
                            <option value="DRC">DR Congo</option>
                            <option value="TZ">Tanzania</option>
                            <option value="MA">Morocco</option>
                            <option value="NG">Nigeria</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Icon - Grouped-Input
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="relative">
                    <select name="select-country" id="select-country"
                        class="form-input form-input-md  form-input-bordered ps9 bg-body rd-md peer">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                    <span aria-hidden="true" class="absolute left-3 h-full flex items-center top-0 text-body peer-invalid:text-danger-600 dark:invalid:text-danger-500">
                        <span aria-hidden="true" class="flex i-ph-flag"></span>
                    </span>
                </div>
                <div class="relative flex">
                    <span aria-hidden="true" class="p-2.5 flex items-center bg-high bdr_l rd-l-md text-body">
                        <span aria-hidden="true" class="flex i-ph-flag"></span>
                    </span>
                    <select name="select-country" id="select-country"
                        class="form-input form-input-md  form-input-bordered bg-body rd-r-md">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Disabled
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="relative">
                    <select name="select-country" disabled id="select-country" class="form-input form-input-md  form-input-bordered bg-body rd-md">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                </div>
                <div class="relative">
                    <select name="select-country" disabled id="select-country"
                        class="form-input form-input-md  form-input-bordered ps9 bg-body rd-md">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                    <span aria-hidden="true" class="absolute left-3 h-full flex items-center top-0 text-body">
                        <span class="flex i-ph-flag"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Custom Icon Indicator
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="relative w-full">
                    <select name="select-country" id="select-country"
                        class="form-input form-input-md  form-input-bordered pe-9 bg-body rd-md">
                        <option value="DRC">DR Congo</option>
                        <option value="TZ">Tanzania</option>
                        <option value="MA">Morocco</option>
                        <option value="NG">Nigeria</option>
                    </select>
                    <span aria-hidden="true"
                        class="absolute right-3 inset-y-2px text-body pointer-events-none flex items-center bg-body">
                        <span class="flex i-ph-caret-up-down"></span>                          
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>