<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
          <button data-switch-theme aria-label="toggle app theme"
            class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
            <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
          </button>
        </div>
      </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Video/TV
            </h1>
            <div class="p-6 flex items-center justify-center h-max rd-lg bdr_high">
                <div class="w-4/5 aspect-video">
                    <img src="/images/img2.webp" class="w-full h-full object-cover rd-lg" width="2400" alt="Image by Johnnathan Tshibangu">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Square
            </h1>
            <div class="p-6 flex items-center justify-center h-max rd-lg bdr_high">
                <div class="w-3/5 aspect-square">
                    <img src="/images/img2.webp" class="w-full h-full object-cover rd-lg" width="2400" alt="Image by Johnnathan Tshibangu">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                35mm film
            </h1>
            <div class="p-6 flex items-center justify-center h-max rd-lg bdr_high">
                <div class="w-4/5 aspect-35mm-film">
                    <img src="/images/img2.webp" class="w-full h-full object-cover rd-lg" width="2400" alt="Image by Johnnathan Tshibangu">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Standard TV/Monitor
            </h1>
            <div class="p-6 flex items-center justify-center h-max rd-lg bdr_high">
                <div class="w-3/5 aspect-standard-tv">
                    <img src="/images/img2.webp" class="w-full h-full object-cover rd-lg" width="2400" alt="Image by Johnnathan Tshibangu">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Ultrawide monitor
            </h1>
            <div class="p-6 flex items-center justify-center h-max rd-lg bdr_high">
                <div class="aspect-ultrawide">
                    <img src="/images/img2.webp" class="w-full h-full object-cover rd-lg" width="2400" alt="Image by Johnnathan Tshibangu">
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>