<div data-popover data-trigger-strategy="hover" id="testHover" class="relative">
    <button data-fx-tooltip-trigger aria-controls="popper" class="btn btn-md btn-white ease-linear rd-lg relative">
        Open On Hover
    </button>
    <div aria-labelledby="popper" data-fx-popper class="u-fx-popper w-60 p-4 bg-high rd-md invisible op0 fx-open:visible fx-open:op100 z60">
        <div class="flex h-40 rounded bg-high">

        </div>
    </div>
</div>