<div class="flex flex-wrap gap-3">
    <a href="#" class="btn btn-md btn-solid btn-solid-neutral rd-md transition-colors ease-linear">
        Click me
    </a>
    <a href="#" class="btn btn-md gap-x-2.5 rd-md btn-soft btn-soft-gray">
        Bck to profile
        <span aria-hidden="true" class="flex i-ph-caret-right text-sm"></span>
    </a>
</div>