<div class="flex flex-col gap-3">
    <div>
        <a href="#" class="text-body hover-text-title underline">
            Profile Page
        </a>
    </div>
    <div>
        <a href="#" class="text-body hover-text-title underline underline-offset-2">
            Undeline Offset
        </a>
    </div>
    <div>
        <a href="#"  class="text-success600 dark-text-success500 hover-text-title underline underline-offset-2 decoration-success-600 dark:decoration-success-500 hover:decoration-gray-900 dark:hover:decoration-white">
            Undeline colored
        </a>
    </div>
</div>