<div class="flex flex-col gap-8 wfull">
    <div class="wfull">
        <div class="flex justify-end" style="width: 40%">
            <span class="text-sm text-body">40%</span>
        </div>
        <progress max="10" value="4" class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-md text-primary600"></progress>
    </div>
    <div class="wfull relative h-max">
        <div class="flex justify-end absolute top-0 left-0 h-6 items-center" style="width: 40%">
            <span class="text-sm text-white">40%</span>
        </div>
        <progress max="10" value="4" class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-2xl text-primary600"></progress>
    </div>
</div>