<div class="flex flex-col gap-8 wfull">
    <progress max="14" value="4"
        class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-xs text-success600"></progress>
    <progress max="14" value="4"
        class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-sm text-primary600"></progress>
    <progress max="14" value="8"
        class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-md text-success600"></progress>
    <progress max="14" value="5"
        class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-lg text-primary600"></progress>
    <progress max="14" value="8"
        class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-xl text-primary600"></progress>
    <progress max="14" value="8"
        class="progress-bar progress-bar-bg-gray progress-bar-rd-full progress-bar-2xl text-primary600"></progress>
</div>