<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                SlideOver/Offcanvas
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-from-left" aria-controls="slide-over-from-left"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Open from left
                    </button>
                    <div data-fx-offcanvas data-slideover id="slide-over-from-left" aria-labelledby="slide-over-from-left"
                        class="fixed h-dvh w-full max-w-sm -left-full top-0 fx-open:left-0 ease-linear duration-200 p-4 bg-high flex">
                        <div class="size-full border-dashed b bdr-high">

                        </div>
                    </div>
                </div>
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-top" aria-controls="slide-over-top"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Open from top
                    </button>
                    <div data-fx-offcanvas data-slideover aria-labelledby="slide-over-top" id="slide-over-top"
                        class="fixed left-0 w-screen h-64 -top-full ease-linear duration-200 fx-open:top-0 flex p-4 bg-high">
                        <div class="size-full border-dashed b bdr-high">
                                
                        </div>
                    </div>
                </div>
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-bottom" aria-controls="slide-over-bottom"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Open from bottom
                    </button>
                    <div data-fx-offcanvas data-slideover aria-labelledby="slide-over-bottom" id="slide-over-bottom"
                        class="fixed left-0 w-screen h-64 -bottom-full ease-linear duration-200 fx-open:bottom-0 flex p-4 bg-high">
                        <div class="size-full border-dashed b bdr-high">

                        </div>
                    </div>
                </div>
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-from-right" aria-controls="slide-over-from-right"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Open from right
                    </button>
                    <div data-fx-offcanvas data-slideover id="slide-over-from-right" aria-labelledby="slide-over-from-right"
                        class="fixed h-dvh w-full max-w-sm -right-full top-0 fx-open:right-0 ease-linear duration-200 p-4 bg-high flex">
                        <div class="size-full border-dashed b bdr-high">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Overlay
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-offcanvas-trigger data-target="slide-over-overlay" aria-controls="slide-over-overlay"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Overlay
                    </button>
                    <div data-fx-offcanvas data-slideover data-offcanvas-backdrop="u-fx-overlay bg-gray-800/80" id="slide-over-overlay" aria-labelledby="slide-over-overlay"
                        class="fixed h-dvh w-full max-w-sm -right-full top-0 fx-open:right-0 ease-linear duration-200 p-4 bg-high flex">
                        <div class="size-full border-dashed b bdr-high">

                        </div>
                    </div>
                </div>
                <div class="">
                    <button data-offcanvas-trigger data-target="slide-over-overlay1" aria-controls="slide-over-overlay1"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Overlay with blur
                    </button>
                    <div data-fx-offcanvas data-slideover data-offcanvas-backdrop="u-fx-overlay backdrop-filter backdrop-blur-xl bg-gray-800/50" id="slide-over-overlay1" aria-labelledby="slide-over-overlay1"
                        class="fixed h-dvh w-full max-w-sm -right-full top-0 fx-open:right-0 ease-linear duration-200 p-4 bg-high flex">
                        <div class="size-full border-dashed b bdr-high">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Body Scroll
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-offcanvas-trigger data-target="slide-overscrollbody" aria-controls="slide-overscrollbody"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Scroll body
                    </button>
                    <div data-fx-offcanvas data-slideover data-allow-body-scroll id="slide-overscrollbody" aria-labelledby="slide-overscrollbody"
                        class="fixed h-dvh w-full max-w-sm -right-full top-0 fx-open:right-0 ease-linear duration-200 p-4 bg-high flex">
                        <div class="size-full border-dashed b bdr-high">

                        </div>
                    </div>
                </div>
                <div class="">
                    <button data-offcanvas-trigger data-target="slide-overbodyscroll_overlay" aria-controls="slide-overbodyscroll_overlay"
                        class="btn btn-solid btn-solid-primary rd-lg btn-md">
                        Body Scroll With Overlay
                    </button>
                    <div data-fx-offcanvas data-slideover data-allow-body-scroll data-offcanvas-backdrop="u-fx-overlay backdrop-filter backdrop-blur-xl bg-gray-800/50" id="slide-overbodyscroll_overlay" aria-labelledby="slide-overbodyscroll_overlay"
                        class="fixed h-dvh w-full max-w-sm -right-full top-0 fx-open:right-0 ease-linear duration-200 p-4 bg-high flex">
                        <div class="size-full border-dashed b bdr-high">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>