<div class="relative w-full">
    <select name="select-country" id="select-country" class="form-input form-input-md  form-input-bordered pe-9 bg-body rd-md">
        <option value="DRC">DR Congo</option>
        <option value="TZ">Tanzania</option>
        <option value="MA">Morocco</option>
        <option value="NG">Nigeria</option>
    </select>
    <span aria-hidden="true" class="absolute right-3 inset-y-2px text-body pointer-events-none flex items-center bg-body">
        <span class="flex i-ph-caret-up-down"></span>                          
    </span>
</div>