<div class="flex flex-col gap-3 wfull">
    <div class="relative">
        <select name="select-country" id="select-country"
            class="form-input form-input-md  form-input-bordered ps9 bg-body rd-md peer">
            <option value="DRC">DR Congo</option>
            <option value="TZ">Tanzania</option>
            <option value="MA">Morocco</option>
            <option value="NG">Nigeria</option>
        </select>
        <span aria-hidden="true" class="absolute left-3 h-full flex items-center top-0 text-body peer-invalid:text-danger-600 dark:invalid:text-danger-500">
            <span aria-hidden="true" class="flex i-ph-flag"></span>
        </span>
    </div>
    <div class="relative flex">
        <span aria-hidden="true" class="p-2.5 flex items-center bg-high bdr_l rd-l-md text-body">
            <span aria-hidden="true" class="flex i-ph-flag"></span>
        </span>
        <select name="select-country" id="select-country"
            class="form-input form-input-md  form-input-bordered bg-body rd-r-md">
            <option value="DRC">DR Congo</option>
            <option value="TZ">Tanzania</option>
            <option value="MA">Morocco</option>
            <option value="NG">Nigeria</option>
        </select>
    </div>
</div>