---

---
<div class="max-w-sm mx-auto w-full">
    <!-- card component -->
    <div
        class="ui-card-xl rd-md b bdr-high card-body space-y-6">
        <div class="aspect-video b bdr-high b-dashed rounded">

        </div>
        <div class="space-y-3 text-body">
            <h2 class="text-xl font-semibold text-title">
                Card Title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    </div>
    <!-- end card component -->
</div>