<div class="max-w-sm mx-auto w-full">
    <!-- card component -->
    <div class="p-1 rd-lg ui-solid relative">
        <div class="relative">
            <div
                class="absolute inset-x-1 top-1 flex justify-between items-center text-body text-xs">
                <span
                    class="ui-subtle dark-text-gray800 px-2 py-px rd-full">
                    -40%
                </span>
                <button aria-label="add to favorite"
                    class="p-1.5 bg-gray-900/80 backdrop-filter backdrop-blur-sm text-white rd-full">
                    <span aria-hidden="true" class="flex i-ph-heart"></span>
                </button>
            </div>
            <img src="/images/bottes-cuir.webp" alt="bottes cuir" class="w-full h-auto rd-md">
        </div>
        <div class="flex justify-between items-start gap-2 px-4 pt-3 pb-2 text-sm">
            <h2 class="flex-1 text-title font-medium">
                Air Nike
            </h2>
            <span class="text-sub-title">12$</span>
        </div>
    </div>
    <!-- end card component -->
</div>