<div class="max-w-sm mx-auto w-full">
    <!-- card component -->
    <div class="p-1 rd-lg ui-solid relative space-y-3">
        <div class="px-4 pt-2">
            <span class="text-sub-title text-sm">
                Top Seller
            </span>
        </div>
        <img src="/images/sports-shoe.webp" alt="Sport Shoe" class="w-full h-auto rounded-md">
        <div class="px-4 pb-2 text-sm space-y-2">
            <div class="flex justify-between items-start gap-2">
                <h2 class="flex-1 text-title font-medium">
                    Air Nike
                </h2>
                <span class="text-sub-title">12$</span>
            </div>
            <div class="flex justify-between items-start gap-2 text-sm">
                <p class="flex-1 text-sub-body">
                    Colored
                </p>
                <button
                    class="btn btn-xs btn-solid btn-solid-neutral rd-md">
                    Add to card
                </button>
            </div>
        </div>
    </div>
    <!-- end card component -->
</div>