<div class="max-w-sm w11/12 ">
    <div class="ui-outline ui-solid p6 md-p8  rd-lg flex flex-col">
        <span class="text-title font-bold text-xl">Business Plan</span>
        <p class="text-body my6">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
        <div class="flex items-end gap4 py4 b-y bdr_y-high">
            <span
                class="bg-clip-text text-transparent bg-gradient-to-br from-primary500 to-accent-400 font-bold text-4xl">
                $400
            </span>
            <span class="ui-soft-primary ui-size-md rd-md">
                lifetime
            </span>
        </div>
        <ul class="flex flex-col gap-y3 children-flex children-items-center children-gap-x4 py8">
            <li>
                <span aria-hidden="true" class="flex i-ph-check text-primary500"></span>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                <span aria-hidden="true" class="flex i-ph-check text-primary500"></span>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                <span aria-hidden="true" class="flex i-ph-check text-primary500"></span>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                <span aria-hidden="true" class="flex i-ph-check text-primary500"></span>
                Lorem ipsum dolor sit amet
            </li>
            <li>
                <span aria-hidden="true" class="flex i-ph-check text-primary500"></span>
                Lorem ipsum dolor sit amet
            </li>
        </ul>
        <a href="#pricing" class="btn btn-md rd-md btn-solid btn-solid-primary text-white wfull justify-center">
            Get Started
        </a>
    </div>
</div>