---
import type { VariantIntent } from "@/types/index";

type Props = {
    title: string;
    icon?: string;
    description: string;
    intent: VariantIntent;
};
const { title, icon = "i-ph-info", description, intent } = Astro.props;
---

<div
    class:list={[
        "rd-md p-4 flex items-start gap-x-4",
        {
            "ui-soft": intent === "gray",
            "ui-soft-primary": intent === "primary",
            "ui-soft-secondary": intent === "secondary",
            "ui-soft-accent": intent === "accent",
            "ui-soft-success": intent === "success",
            "ui-soft-danger": intent === "danger",
            "ui-soft-warning": intent === "warning",
            "ui-soft-info": intent === "info",
            "ui-soft-neutral": intent === "neutral",
        },
    ]}
>
    <div class="w-max">
        <span class={`flex text-lg ${icon}`}></span>
    </div>
    <div class="flex-1">
        <h3
            class:list={[
                "font-medium text-lg",
                {
                    "text-title": intent === "gray"||intent === "neutral",
                    "text-primary-600": intent === "primary",
                    "text-secondary-600": intent === "secondary",
                    "text-accent-600": intent === "accent",
                    "text-success-600": intent === "success",
                    "text-info-600": intent === "info",
                    "text-warning-600": intent === "warning",
                    "text-danger-600": intent === "danger",
                },
            ]}
        >
            {title}
        </h3>
        <p>
            {description}
        </p>
    </div>
</div>
