<div class="flex flex-col gap-4">
    <nav aria-label="Breadcrumbs">
        <ol class="flex items-center gap-x-3 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#"
                    class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rd-full">
                    Home
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#"
                    class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rd-full">
                    Navigation
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li
                class="px-1.5 py-px rd-full b bdr-nm bg-high text-title font-semibold">
                <span aria-current="page" class="flex">Current Page</span>
            </li>
        </ol>
    </nav>
    <nav aria-label="Breadcrumbs">
        <ol class="flex items-center gap-x-3 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#"
                    class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rd-full">
                    Home
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#"
                    class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rd-full">
                    Navigation
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li
                class="px-1.5 py-px rd-full border text-white bg-primary-600 dark:bg-primary-500 border-primary-600 dark:border-primary-600 font-semibold">
                <span aria-current="page" class="flex">Current Page</span>
            </li>
        </ol>
    </nav>
    <nav aria-label="Breadcrumbs">
        <ol class="flex items-center gap-x-3 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#"
                    class="ease-linear hover-text-sub-title flex items-center gap-x-1.5 px-1.5 py-px rd-full bg-high hover:bg-gray-200 dark:hover:bg-gray-800">
                    <span aria-hidden="true" class="flex i-ph-house-line text-lg"></span>
                    Home
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#"
                    class="ease-linear hover-text-sub-title flex items-center gap-x-1.5 px-1.5 py-px rd-full bg-high hover:bg-gray-200 dark:hover:bg-gray-800">
                    <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                    Navigation
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li
                class="flex items-center gap-x-1.5 text-title font-semibold px-1.5 py-px rd-full bg-body">
                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                <span aria-current="page" class="flex">Current Page</span>
            </li>
        </ol>
    </nav>
</div>