<div class="flex flex-col gap-4">
    <nav aria-label="Breadcrumbs">
        <ol class="flex items-center gap-x-1.5 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title">Home</a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title">Navigation</a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5 text-title font-semibold">
                <span aria-current="page">Current Page</span>
            </li>
        </ol>
    </nav>
    <nav aria-label="Breadcrumbs">
        <ol class="flex items-center gap-x-1.5 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title">Home</a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title">Navigation</a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5 text-primary-600 dark:text-primary-500 font-semibold">
                <span aria-current="page">Current Page</span>
            </li>
        </ol>
    </nav>
</div>