<div class="flex flex-col gap-4 wfull">
    <nav aria-label="Breadcrumbs" class="py-2 px-4 rd-md bdr-nm b">
        <ol class="flex items-center gap-x-3 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title">
                    Home
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title">
                    Navigation
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="text-title font-semibold">
                <span aria-current="page" class="flex">Current Page</span>
            </li>
        </ol>
    </nav>
    <nav aria-label="Breadcrumbs" class="border-y py-2 px-4 border-gray-200 dark:border-gray-800">
        <ol class="flex items-center gap-x-3 text-sub-body">
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                    <span aria-hidden="true" class="flex i-ph-house-line text-lg"></span>
                    Home
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5">
                <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                    <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                    Navigation
                </a>
                <span aria-hidden="true" class="flex i-ph-caret-right"></span>
            </li>
            <li class="flex items-center gap-x-1.5 text-title font-semibold">
                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                <span aria-current="page" class="flex">Current Page</span>
            </li>
        </ol>
    </nav>
</div>