<nav aria-label="Breadcrumbs">
    <ol class="flex items-center gap-x-3 text-sub-body">
        <li class="flex items-center gap-x-1.5">
            <a href="#" class="ease-linear hover-text-sub-title">
                Home
            </a>
            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
        </li>
        <li class="flex items-center gap-x-1.5">
            <span class="pointer-events-none">
                <span aria-hidden="true" class="flex i-ph-dots-three"></span>
            </span>
            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
        </li>
        <li class="text-title font-semibold">
            <span aria-current="page" class="flex">Current Page</span>
        </li>
    </ol>
</nav>