<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-subtle">Badge</span>
    <span class="rd-xl badge-md ui-soft-primary">Badge</span>
    <span class="rd-xl badge-md ui-outline-warning">Badge</span>
    <span class="rd-xl badge-md ui-solid-danger">Badge</span>
    <span class="rd-xl badge-md ui-solid-neutral text-sub-title-reverse">Badge</span>
</div>