<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-outline">Badge Gray</span>
    <span class="rd-xl badge-md ui-outline-neutral">Badge Neutral</span>
    <span class="rd-xl badge-md ui-outline-primary">Badge Primary</span>
    <span class="rd-xl badge-md ui-outline-secondary">Badge Secondary</span>
    <span class="rd-xl badge-md ui-outline-accent">Badge Accent</span>
    <span class="rd-xl badge-md ui-outline-warning">Badge Warning</span>
    <span class="rd-xl badge-md ui-outline-danger">Badge danger</span>
    <span class="rd-xl badge-md ui-outline-info">Badge Info</span>
    <span class="rd-xl badge-md ui-outline-success">Badge Success</span>
</div>