<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-soft">Badge Gray</span>
    <span class="rd-xl badge-md ui-soft-neutral">Badge Neutral</span>
    <span class="rd-xl badge-md ui-soft-primary">Badge Primary</span>
    <span class="rd-xl badge-md ui-soft-secondary">Badge Secondary</span>
    <span class="rd-xl badge-md ui-soft-accent">Badge Accent</span>
    <span class="rd-xl badge-md ui-soft-warning">Badge Warning</span>
    <span class="rd-xl badge-md ui-soft-danger">Badge danger</span>
    <span class="rd-xl badge-md ui-soft-info">Badge Info</span>
    <span class="rd-xl badge-md ui-soft-success">Badge Success</span>
</div>