<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-solid">Badge Gray</span>
    <span class="rd-xl badge-md ui-solid-neutral text-sub-title-reverse">Badge Neutral</span>
    <span class="rd-xl badge-md ui-solid-primary">Badge Primary</span>
    <span class="rd-xl badge-md ui-solid-secondary">Badge Secondary</span>
    <span class="rd-xl badge-md ui-solid-accent">Badge Accent</span>
    <span class="rd-xl badge-md ui-solid-warning">Badge Warning</span>
    <span class="rd-xl badge-md ui-solid-danger">Badge danger</span>
    <span class="rd-xl badge-md ui-solid-info">Badge Info</span>
    <span class="rd-xl badge-md ui-solid-success">Badge Success</span>
</div>