<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-subtle">Badge Gray</span>
    <span class="rd-xl badge-md ui-subtle-neutral">Badge Neutral</span>
    <span class="rd-xl badge-md ui-subtle-primary">Badge Primary</span>
    <span class="rd-xl badge-md ui-subtle-secondary">Badge Secondary</span>
    <span class="rd-xl badge-md ui-subtle-accent">Badge Accent</span>
    <span class="rd-xl badge-md ui-subtle-warning">Badge Warning</span>
    <span class="rd-xl badge-md ui-subtle-danger">Badge danger</span>
    <span class="rd-xl badge-md ui-subtle-info">Badge Info</span>
    <span class="rd-xl badge-md ui-subtle-success">Badge Success</span>
</div>