<div class="flex flex-wrap gap-4">
    <span class="rd-xl badge-md ui-soft-success d-flex-items-center gap-x1">
        12%
        <span aria-hidden="true" class="flex i-ph-trend-up"></span>
    </span>
    <span class="rd-xl badge-md ui-soft-danger d-flex-items-center gap-x1">
        50%
        <span aria-hidden="true" class="flex i-ph-trend-down"></span>
    </span>
    <span class="rd-xl badge-md ui-soft-warning d-flex-items-center gap-x1">
        You're reaching out your limit
        <span aria-hidden="true" class="flex i-ph-warning"></span>
    </span>
</div>