<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Tooltip
            </h1>
            <div class="p-6 flex flex-col gap-16 rd-lg b bdr-high">
                <div class="flex items-center gap-4 relative">
                    <button aria-label="tooltip with default placement" data-fx-tooltip data-tooltip data-placement="bottom" id="tooltip-test"
                        class="relative text-body b bdr-high p-2 rd-full">
                        <span aria-hidden="true" class="flex i-ph-caret-down"></span>
                        <p data-fx-popper
                            class="u-fx-popper w-48 px-4 py-1.5 text-center text-sub-body truncate bg-high rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open:visible">
                            This is a tooltip
                        </p>
                    </button>
                    <button aria-label="tooltip with top placement" data-fx-tooltip data-tooltip data-placement="top" id="tooltip-testTop"
                        class="relative text-body b bdr-high p-2 rd-full">
                        <span aria-hidden="true" class="flex i-ph-caret-up"></span>
                        <p data-fx-popper
                            class="u-fx-popper w-48 px-4 py-1.5 text-center text-sub-body truncate bg-high rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open:visible">
                            This is a tooltip
                        </p>
                    </button>
                    <button aria-label="tooltip with left placement" data-fx-tooltip data-tooltip data-placement="left" id="tooltip-testLeft"
                        class="relative text-body b bdr-high p-2 rd-full">
                        <span aria-hidden="true" class="flex i-ph-caret-down"></span>
                        <p data-fx-popper
                            class="u-fx-popper w-48 px-4 py-1.5 text-center text-sub-body truncate bg-high rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open:visible">
                            This is a tooltip
                        </p>
                    </button>
                    <button aria-label="tooltip with right placement" data-fx-tooltip data-tooltip data-placement="right" id="tooltip-testRight"
                        class="relative text-body b bdr-high p-2 rd-full">
                        <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        <p data-fx-popper
                            class="u-fx-popper w-48 px-4 py-1.5 text-center text-sub-body truncate bg-high rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open:visible">
                            This is a tooltip
                        </p>
                    </button>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Tooltip : Trigger on click
            </h1>
            <div class="p-6 flex flex-col gap-16 rd-lg b bdr-high">
                <div class="flex items-center relative">
                    <button aria-label="tooltip with default placement" data-fx-tooltip data-tooltip data-trigger-strategy="click" id="tooltip-testClick"
                        class="relative text-body b bdr-high p-2 rd-full">
                        <span aria-hidden="true" class="flex i-ph-caret-down"></span>
                        <p data-fx-popper
                            class="u-fx-popper w-48 px-4 py-1.5 text-center text-sub-body truncate bg-high rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open:visible">
                            This is a tooltip
                        </p>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>