<form class="space-y-4 wfull">
    <input type="text" placeholder="Start typing..." class="form-input form-input-md form-input-bordered bg-body rd-md">
    <input type="text" placeholder="Start typing..." class="form-input form-input-md form-input-bordered form-input-gray rd-md">
</form>