<form class="flex flex-col wfull space-y-4">
    <div class="flex flex-col space-y-2">
        <label for="user_email_2" class="text-sm text-sub-body">Your Email</label>
        <input type="email" name="user_email_2" id="user_email_2" placeholder="Your email here"
        class="form-input form-input-md form-input-bordered bg-body rd-md">
    </div>
    <div class="flex items-center gap-2">
        <label for="user_email" class="text-sub-body min-w-max text-sm">Your Email</label>
        <input type="email" placeholder="Your email here" name="user_email" id="user_email"
        class="form-input form-input-md form-input-bordered bg-body rd-md">
    </div>
</form>