<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default/Fill Default
            </h1>
            <div class="p-6 flex flex-col space-y-8 rd-lg b bdr-high">
                <div>
                    <a href="" class="px-2 py-1 rounded-md btn-soft-gray bdr-high">
                        Unoify V1 is now Released!
                    </a>
                </div>
                <div>
                    <div class="px-2 py-1 rounded-md btn-soft-gray bdr-high w-max">
                        Unoify V1 is now Released! <a href="#"
                            class="underline underline-offset-2 text-title font-medium">Check it</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Outline
            </h1>
            <div class="p-6 flex flex-col space-y-8 rd-lg b bdr-high">
                <div>
                    <a href="" class="px-2 py-1 rounded-md bdr-nm b text-sub-title ease-linear duration-200 hover-bdr-high">
                        Unoify V1 is now Released!
                    </a>
                </div>
                <div>
                    <div
                        class="px-2 py-1 rounded-md bdr-nm text-sub-title ease-linear duration-200 hover-bdr-high w-max hover:cursor-default">
                        Unoify V1 is now Released! <a href="#"
                            class="underline underline-offset-2 text-title font-medium">Check it</a>
                    </div>
                </div>
                <div>
                    <a href=""
                        class="px-2 py-1 rounded-md border border-success-600 dark:border-success-500 text-success-600 dark:text-success-500 ease-linear duration-200 hover:text-success-700 dark:hover:text-success-600 hover:border-success-700 dark:hover:border-success-600">
                        Our System is now safe.
                    </a>
                </div>
                <div>
                    <a href=""
                        class="px-2 py-1 rounded-md border border-warning-600 dark:border-warning-500 text-warning-600 dark:text-warning-500 ease-linear duration-200 hover:text-warning-700 dark:hover:text-warning-600 hover:border-warning-700 dark:hover:border-warning-600">
                        2FA Now Required for all Users
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Soft
            </h1>
            <div class="p-6 flex flex-col space-y-8 rd-lg b bdr-high">
                <div>
                    <a href="" class="px-2 py-1 rounded-md btn-soft-gray ease-linear duration-200 ">
                        Unoify V1 is now Released!
                    </a>
                </div>
                <div>
                    <a href="" class="px-2 py-1 rounded-md btn-soft-primary text-primary-600 ease-linear duration-200">
                        Unoify V1 is now Released!
                    </a>
                </div>
                <div>
                    <a href="" class="px-2 py-1 rounded-md btn-soft-danger text-danger-600 ease-linear duration-200">
                        Sorry to annonce that whe're off!!
                    </a>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With pill - Icon
            </h1>
            <div class="p-6 flex flex-col space-y-8 rd-lg b bdr-high">
                <div>
                    <a href=""
                        class="pl-1 pr-2 gap-1.5 flex items-center w-max py-1 rounded-md btn-soft-accent ease-linear duration-200 ">
                        <span class="rounded px-1.5 py-px bg-accident-600 text-white">
                            News!
                        </span>
                        Unoify V1 is now Released!
                    </a>
                </div>
                <div>
                    <a href=""
                        class="pr-1 pl-2 gap-1.5 flex items-center w-max py-1 rounded-md bg-gray-200/80 dark:bg-gray-800/20 text-sub-title hover:bg-gray-400/60 dark:hover:bg-gray-700/70 ease-linear duration-200 ">
                        Unoify V1 is now Released!
                        <span class="rounded px-1.5 py-px bg-primary-600 text-white">
                            Check Now
                        </span>
                    </a>
                </div>
                <div>
                    <a href=""
                        class="px-2 gap-1.5 flex items-center w-max py-1 rounded-3xl bg-gray-200/80 dark:bg-gray-800/20 text-sub-title hover:bg-gray-400/60 dark:hover:bg-gray-700/70 ease-linear duration-200 ">
                        Unoify V1 is now Released!
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd"
                                d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href="#"
                        class="px-2 py-1 rounded-md border border-warning-600 dark:border-warning-500 text-warning-600 dark:text-warning-500 ease-linear duration-200 hover:text-warning-700 dark:hover:text-warning-600 hover:border-warning-700 dark:hover:border-warning-600 flex w-max items-center space-x-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-4 mr-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                        </svg>
                        2FA Now Required for all Users
                    </a>
                </div>
                <div>
                    <a href=""
                        class="pl-1 pr-2 gap-1.5 flex items-center w-max py-1 rounded-3xl bg-gray-200/80 dark:bg-gray-800/20 text-sub-title hover:bg-gray-400/60 dark:hover:bg-gray-700/70 ease-linear duration-200 ">
                        <span class="rounded-full px-1.5 py-px bg-primary-600 text-white">
                            News!
                        </span>
                        Unoify V1 is now Released!
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd"
                                d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>