<div class="flex flex-col gap-8 wfull">
    <meter max="100" value="70" class="meter meter-h-xs meter-rd-md bg-high text-primary500"></meter>
    <meter max="100" value="70" class="meter meter-h-sm meter-rd-md bg-high text-primary500"></meter>
    <meter max="100" value="70" class="meter meter-h-md meter-rd-md bg-high text-primary500"></meter>
    <meter max="100" value="70" class="meter meter-h-lg meter-rd-md bg-high text-primary500"></meter>
    <meter max="100" value="70" class="meter meter-h-xl meter-rd-md bg-high text-primary500"></meter>
</div>