@import url(./default-colors.css);
@import url(./aang.css);
@import url(./toph.css);
@import url(./zuko.css);
@import url(./katara.css);

:root {
  --pagefind-ui-scale: .8;
  --ui-find-page-input-bt: rgb(var(--c-gray-200));
  --page-find-message: rgb(var(--c-gray-600));
  --card-ui-find-page-bg-hover: rgb(var(--c-gray-100));
  --card-ui-find-page-bdr: rgb(var(--c-gray-100));
  --card-ui-find-page-bdr-hover: rgb(var(--c-gray-200));
  --card-ui-find-page-title: var(--c-gray-900);
  --card-ui-find-page-text-expert: rgb(var(--c-gray-600));

  --card-ui-find-mark-bg: rgb(var(--c-primary-600));
  --card-ui-find-mark-text: white;
  --ui-find-input-bg: white;
  --ui-find-input-placeholder: rgb(var(--c-gray-600));
  --pagefind-ui-text:rgb(var(--c-gray-600));
}

.dark {
  --ui-find-page-input-bt: rgb(var(--c-gray-800));
  --page-find-message: rgb(var(--c-gray-400));
  --card-ui-find-page-bg-hover: rgb(var(--c-gray-900));
  --card-ui-find-page-bdr: rgb(var(--c-gray-900));
  --card-ui-find-page-bdr-hover: rgb(var(--c-gray-800));
  --card-ui-find-page-title: white;
  --card-ui-find-page-text-expert: rgb(var(--c-gray-400));
  --ui-find-input-bg: rgb(var(--c-gray-950));
  --ui-find-input-placeholder: rgb(var(--c-gray-400));
  --pagefind-ui-text:rgb(var(--c-gray-400));
}
