:root {
  --c-emerald-50: 236, 253, 245;
  --c-emerald-100: 209, 250, 229;
  --c-emerald-200: 167, 243, 208;
  --c-emerald-300: 110, 231, 183;
  --c-emerald-400: 52, 211, 153;
  --c-emerald-500: 16, 185, 129;
  --c-emerald-600: 5, 150, 105;
  --c-emerald-700: 4, 120, 87;
  --c-emerald-800: 6, 95, 70;
  --c-emerald-900: 6, 78, 59;
  --c-emerald-950: 2, 44, 34;

  --c-eucalyptus-50: 240, 249, 243;
  --c-eucalyptus-100: 218, 241, 225;
  --c-eucalyptus-200: 183, 227, 200;
  --c-eucalyptus-300: 136, 205, 166;
  --c-eucalyptus-400: 86, 177, 129;
  --c-eucalyptus-500: 47, 133, 90;
  --c-eucalyptus-600: 36, 119, 79;
  --c-eucalyptus-700: 29, 95, 65;
  --c-eucalyptus-800: 25, 76, 53;
  --c-eucalyptus-900: 22, 62, 45;
  --c-eucalyptus-950: 11, 35, 25;

  --c-soft-blue-50: 240, 247, 255;
  --c-soft-blue-100: 225, 238, 253;
  --c-soft-blue-200: 188, 219, 251;
  --c-soft-blue-300: 129, 191, 248;
  --c-soft-blue-400: 62, 159, 242;
  --c-soft-blue-500: 20, 131, 227;
  --c-soft-blue-600: 7, 92, 176;
  --c-soft-blue-700: 8, 81, 156;
  --c-soft-blue-800: 11, 69, 129;
  --c-soft-blue-900: 15, 59, 107;
  --c-soft-blue-950: 10, 37, 71;

  --c-la-palma-50: 237, 252, 233;
  --c-la-palma-100: 216, 248, 207;
  --c-la-palma-200: 181, 241, 165;
  --c-la-palma-300: 134, 230, 112;
  --c-la-palma-400: 92, 215, 68;
  --c-la-palma-500: 60, 189, 37;
  --c-la-palma-600: 38, 135, 23;
  --c-la-palma-700: 35, 115, 24;
  --c-la-palma-800: 32, 91, 25;
  --c-la-palma-900: 30, 78, 25;
  --c-la-palma-950: 10, 43, 8;


  --c-dodger-blue-50: 241, 247, 254;
  --c-dodger-blue-100: 226, 238, 252;
  --c-dodger-blue-200: 190, 220, 249;
  --c-dodger-blue-300: 132, 191, 245;
  --c-dodger-blue-400: 66, 158, 238;
  --c-dodger-blue-500: 30, 136, 229;
  --c-dodger-blue-600: 12, 101, 189;
  --c-dodger-blue-700: 11, 81, 153;
  --c-dodger-blue-800: 14, 69, 126;
  --c-dodger-blue-900: 17, 59, 105;
  --c-dodger-blue-950: 11, 37, 70;

  --c-sky-50: 240, 249, 255;
  --c-sky-100: 224, 242, 254;
  --c-sky-200: 186, 230, 253;
  --c-sky-300: 125, 211, 252;
  --c-sky-400: 56, 189, 248;
  --c-sky-500: 14, 165, 233;
  --c-sky-600: 2, 132, 199;
  --c-sky-700: 3, 105, 161;
  --c-sky-800: 7, 89, 133;
  --c-sky-900: 12, 74, 110;
  --c-sky-950: 8, 47, 73;

  --c-cyan-50: 236, 254, 255;
  --c-cyan-100: 207, 250, 254;
  --c-cyan-200: 165, 243, 252;
  --c-cyan-300: 103, 232, 249;
  --c-cyan-400: 34, 211, 238;
  --c-cyan-500: 6, 182, 212;
  --c-cyan-600: 8, 145, 178;
  --c-cyan-700: 14, 116, 144;
  --c-cyan-800: 7, 89, 133;
  --c-cyan-900: 22, 78, 99;
  --c-cyan-950: 8, 51, 68;

  --c-teal-50: 240, 253, 250;
  --c-teal-100: 204, 251, 241;
  --c-teal-200: 153, 246, 228;
  --c-teal-300: 94, 234, 212;
  --c-teal-400: 45, 212, 191;
  --c-teal-500: 20, 184, 166;
  --c-teal-600: 13, 148, 136;
  --c-teal-700: 15, 118, 110;
  --c-teal-800: 17, 94, 89;
  --c-teal-900: 19, 78, 74;
  --c-teal-950: 4, 47, 46;

  --c-air-yellow-50: 251, 247, 235;
  --c-air-yellow-100: 245, 237, 204;
  --c-air-yellow-200: 236, 218, 156;
  --c-air-yellow-300: 225, 191, 99;
  --c-air-yellow-400: 215, 165, 56;
  --c-air-yellow-500: 200, 143, 42;
  --c-air-yellow-600: 172, 112, 34;
  --c-air-yellow-700: 138, 82, 30;
  --c-air-yellow-800: 115, 67, 32;
  --c-air-yellow-900: 99, 57, 32;
  --c-air-yellow-950: 57, 28, 15;


  --c-air-orange-50: 255, 243, 224;
  --c-air-orange-100: 255, 215, 166;
  --c-air-orange-200: 255, 177, 109;
  --c-air-orange-300: 255, 138, 68;
  --c-air-orange-400: 255, 109, 41;
  --c-air-orange-500: 255, 89, 0;
  --c-air-orange-600: 244, 81, 0;
  --c-air-orange-700: 230, 73, 0;
  --c-air-orange-800: 216, 64, 0;
  --c-air-orange-900: 191, 54, 0;
  --c-air-orange-950: 139, 39, 0;

  --c-orange-50: 255, 247, 237;
  --c-orange-100: 255, 237, 213;
  --c-orange-200: 254, 215, 170;
  --c-orange-300: 253, 186, 116;
  --c-orange-400: 251, 146, 60;
  --c-orange-500: 249, 115, 22;
  --c-orange-600: 234, 88, 12;
  --c-orange-700: 194, 65, 12;
  --c-orange-800: 154, 52, 18;
  --c-orange-900: 124, 45, 18;
  --c-orange-950: 67, 20, 7;

  --c-camouflage-50: 253, 246, 232;
  --c-camouflage-100: 249, 236, 206;
  --c-camouflage-200: 244, 221, 162;
  --c-camouflage-300: 234, 201, 108;
  --c-camouflage-400: 221, 182, 62;
  --c-camouflage-500: 194, 157, 32;
  --c-camouflage-600: 155, 126, 21;
  --c-camouflage-700: 118, 99, 21;
  --c-camouflage-800: 94, 81, 22;
  --c-camouflage-900: 80, 70, 23;
  --c-camouflage-950: 61, 54, 10;

  --c-amber-50: 255, 251, 235;
  --c-amber-100: 254, 243, 199;
  --c-amber-200: 253, 230, 138;
  --c-amber-300: 252, 211, 77;
  --c-amber-400: 251, 191, 36;
  --c-amber-500: 245, 158, 11;
  --c-amber-600: 217, 119, 6;
  --c-amber-700: 180, 83, 9;
  --c-amber-800: 146, 64, 14;
  --c-amber-900: 120, 53, 15;
  --c-amber-950: 69, 26, 3;


  --c-thunderbird-50: 255, 242, 241;
  --c-thunderbird-100: 255, 226, 224;
  --c-thunderbird-200: 255, 201, 198;
  --c-thunderbird-300: 255, 163, 158;
  --c-thunderbird-400: 255, 110, 102;
  --c-thunderbird-500: 253, 64, 54;
  --c-thunderbird-600: 221, 29, 19;
  --c-thunderbird-700: 198, 24, 15;
  --c-thunderbird-800: 163, 24, 17;
  --c-thunderbird-900: 135, 27, 21;
  --c-thunderbird-950: 74, 8, 5;




  --c-red-50: 254, 242, 242;
  --c-red-100: 254, 226, 226;
  --c-red-200: 254, 202, 202;
  --c-red-300: 252, 165, 165;
  --c-red-400: 248, 113, 113;
  --c-red-500: 239, 68, 68;
  --c-red-600: 220, 38, 38;
  --c-red-700: 185, 28, 28;
  --c-red-800: 153, 27, 27;
  --c-red-900: 127, 29, 29;
  --c-red-950: 69, 10, 10;



  --c-stone-50: 250, 250, 249;
  --c-stone-100: 245, 245, 244;
  --c-stone-200: 231, 229, 228;
  --c-stone-300: 214, 211, 209;
  --c-stone-400: 168, 162, 158;
  --c-stone-500: 120, 113, 108;
  --c-stone-600: 87, 83, 78;
  --c-stone-700: 68, 64, 60;
  --c-stone-800: 41, 37, 36;
  --c-stone-900: 28, 25, 23;
  --c-stone-950: 12, 10, 9;

  --c-slate-50: 248, 250, 252;
  --c-slate-100: 241, 245, 249;
  --c-slate-200: 226, 232, 240;
  --c-slate-300: 203, 213, 225;
  --c-slate-400: 148, 163, 184;
  --c-slate-500: 100, 116, 139;
  --c-slate-600: 71, 85, 105;
  --c-slate-700: 51, 65, 85;
  --c-slate-800: 30, 41, 59;
  --c-slate-900: 15, 23, 42;
  --c-slate-950: 2, 6, 23;

  --c-gray-base-50: 249, 250, 251;
  --c-gray-base-100: 243, 244, 246;
  --c-gray-base-200: 229, 231, 235;
  --c-gray-base-300: 209, 213, 219;
  --c-gray-base-400: 156, 163, 175;
  --c-gray-base-500: 107, 114, 128;
  --c-gray-base-600: 75, 85, 99;
  --c-gray-base-700: 55, 65, 81;
  --c-gray-base-800: 31, 41, 55;
  --c-gray-base-900: 17, 24, 39;
  --c-gray-base-950: 3, 7, 18;

  --c-cool-gray-50: 249, 250, 251;
  --c-cool-gray-100: 243, 244, 246;
  --c-cool-gray-200: 229, 231, 235;
  --c-cool-gray-300: 209, 213, 219;
  --c-cool-gray-400: 156, 163, 175;
  --c-cool-gray-500: 107, 114, 128;
  --c-cool-gray-600: 75, 85, 99;
  --c-cool-gray-700: 55, 65, 81;
  --c-cool-gray-800: 31, 41, 55;
  --c-cool-gray-900: 17, 24, 39;
  --c-cool-gray-950: 3, 7, 18;
  
  --c-neutral-50: 250, 250, 250;
  --c-neutral-100: 245, 245, 245;
  --c-neutral-200: 229, 229, 229;
  --c-neutral-300: 212, 212, 212;
  --c-neutral-400: 163, 163, 163;
  --c-neutral-500: 115, 115, 115;
  --c-neutral-600: 82, 82, 82;
  --c-neutral-700: 64, 64, 64;
  --c-neutral-800: 38, 38, 38;
  --c-neutral-900: 23, 23, 23;
  --c-neutral-950: 10, 10, 10;
  
  --c-zinc-50: 250, 250, 250;
  --c-zinc-100: 244, 244, 245;
  --c-zinc-200: 228, 228, 231;
  --c-zinc-300: 212, 212, 216;
  --c-zinc-400: 161, 161, 170;
  --c-zinc-500: 113, 113, 122;
  --c-zinc-600: 82, 82, 91;
  --c-zinc-700: 63, 63, 70;
  --c-zinc-800: 39, 39, 42;
  --c-zinc-900: 24, 24, 27;
  --c-zinc-950: 9, 9, 11;


  --c-primary-50: 239, 238, 255;
  --c-primary-100: 226, 224, 255;
  --c-primary-200: 202, 199, 254;
  --c-primary-300: 170, 165, 252;
  --c-primary-400: 136, 129, 248;
  --c-primary-500: 107, 99, 241;
  --c-primary-600: 79, 70, 229;
  --c-primary-700: 64, 56, 202;
  --c-primary-800: 55, 48, 163;
  --c-primary-900: 51, 46, 129;
  --c-primary-950: 30, 27, 75;
  
  --c-secondary-50: var(--c-cyan-50);
  --c-secondary-100: var(--c-cyan-100);
  --c-secondary-200: var(--c-cyan-200);
  --c-secondary-300: var(--c-cyan-300);
  --c-secondary-400: var(--c-cyan-400);
  --c-secondary-500: var(--c-cyan-500);
  --c-secondary-600: var(--c-cyan-600);
  --c-secondary-700: var(--c-cyan-700);
  --c-secondary-800: var(--c-cyan-800);
  --c-secondary-900: var(--c-cyan-900);
  --c-secondary-950: var(--c-cyan-950);

  --c-accent-50: var(--c-soft-blue-50);
  --c-accent-100: var(--c-soft-blue-100);
  --c-accent-200: var(--c-soft-blue-200);
  --c-accent-300: var(--c-soft-blue-300);
  --c-accent-400: var(--c-soft-blue-400);
  --c-accent-500: var(--c-soft-blue-500);
  --c-accent-600: var(--c-soft-blue-600);
  --c-accent-700: var(--c-soft-blue-700);
  --c-accent-800: var(--c-soft-blue-800);
  --c-accent-900: var(--c-soft-blue-900);
  --c-accent-950: var(--c-soft-blue-950);

  --c-success-50: var(--c-emerald-50);
  --c-success-100: var(--c-emerald-100);
  --c-success-200: var(--c-emerald-200);
  --c-success-300: var(--c-emerald-300);
  --c-success-400: var(--c-emerald-400);
  --c-success-500: var(--c-emerald-500);
  --c-success-600: var(--c-emerald-600);
  --c-success-700: var(--c-emerald-700);
  --c-success-800: var(--c-emerald-800);
  --c-success-900: var(--c-emerald-900);
  --c-success-950: var(--c-emerald-950);

  --c-warning-50: var(--c-orange-50);
  --c-warning-100: var(--c-orange-100);
  --c-warning-200: var(--c-orange-200);
  --c-warning-300: var(--c-orange-300);
  --c-warning-400: var(--c-orange-400);
  --c-warning-500: var(--c-orange-500);
  --c-warning-600: var(--c-orange-600);
  --c-warning-700: var(--c-orange-700);
  --c-warning-800: var(--c-orange-800);
  --c-warning-900: var(--c-orange-900);
  --c-warning-950: var(--c-orange-950);

  --c-info-50: var(--c-sky-50);
  --c-info-100: var(--c-sky-100);
  --c-info-200: var(--c-sky-200);
  --c-info-300: var(--c-sky-300);
  --c-info-400: var(--c-sky-400);
  --c-info-500: var(--c-sky-500);
  --c-info-600: var(--c-sky-600);
  --c-info-700: var(--c-sky-700);
  --c-info-800: var(--c-sky-800);
  --c-info-900: var(--c-sky-900);
  --c-info-950: var(--c-sky-950);
  
  --c-danger-50: var(--c-red-50);
  --c-danger-100: var(--c-red-100);
  --c-danger-200: var(--c-red-200);
  --c-danger-300: var(--c-red-300);
  --c-danger-400: var(--c-red-400);
  --c-danger-500: var(--c-red-500);
  --c-danger-600: var(--c-red-600);
  --c-danger-700: var(--c-red-700);
  --c-danger-800: var(--c-red-800);
  --c-danger-900: var(--c-red-900);
  --c-danger-950: var(--c-red-950);

  --c-gray-50: var(--c-zinc-50);
  --c-gray-100: var(--c-zinc-100);
  --c-gray-200: var(--c-zinc-200);
  --c-gray-300: var(--c-zinc-300);
  --c-gray-400: var(--c-zinc-400);
  --c-gray-500: var(--c-zinc-500);
  --c-gray-600: var(--c-zinc-600);
  --c-gray-700: var(--c-zinc-700);
  --c-gray-800: var(--c-zinc-800);
  --c-gray-900: var(--c-zinc-900);
  --c-gray-950: var(--c-zinc-950);
}