:root {
  --astro-code-color-text: #24292f;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #005cc5;
  --astro-code-token-string: #032f62;
  --astro-code-token-comment: #6a737d;
  --astro-code-token-keyword: #d73a49;
  --astro-code-token-parameter: #24292f;
  --astro-code-token-function: #6f42c1;
  --astro-code-token-string-expression: #005cc5;
  --astro-code-token-punctuation: #24292f;
  --astro-code-token-link: #22863a;

  --list-circle-indi: rgb(var(--c-gray-400));
}

html.dark {
  --astro-code-color-text: #ffffff;
  --astro-code-color-background: #212121;
  --astro-code-token-constant: #82aaff;
  --astro-code-token-string: #c3e88d;
  --astro-code-token-comment: #546e7a;
  --astro-code-token-keyword: #ff5370;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: #c792ea;
  --astro-code-token-string-expression: #82aaff;
  --astro-code-token-punctuation: #eeffff;
  --astro-code-token-link: #80cbc4;

  --list-circle-indi: rgb(var(--c-gray-800));
}

.line.diff {
  transition: background-color 0.5s;
  position: relative;
  z-index: 1;
  margin: 0 -20px;
  padding: 0 20px;
  width: calc(100% + 40px);
  display: inline-block;
}


.line.diff.add::before,
.line.diff.remove::before {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 24px;
  padding-left: 4px;
  border-left-width: 3px;
}

.line.diff.add {
  --fx-gradient-from-position: 0%;
  --fx-gradient-from: rgb(var(--c-success-900) / 0.02) var(--fx-gradient-from-position);
  --fx-gradient-to-position: 100%;
  --fx-gradient-to: rgb(var(--c-success-500) / 0.09) var(--fx-gradient-to-position);
  --fx-gradient-stops: var(--fx-gradient-from), var(--fx-gradient-to);
  --fx-gradient-shape: to left;
  --fx-gradient: var(--fx-gradient-shape), var(--fx-gradient-stops);
  background-image: linear-gradient(var(--fx-gradient));
}

.line.diff.add::before {
  content: "+";
  color: rgb(var(--c-info-500));
  border-left-color: rgb(var(--c-info-500));
}

.line.diff.remove {
  --fx-gradient-from-position: 0%;
  --fx-gradient-from: rgb(var(--c-danger-900) / 0.05) var(--fx-gradient-from-position);
  --fx-gradient-to-position: 100%;
  --fx-gradient-to: rgb(var(--c-danger-400) / 0.04) var(--fx-gradient-to-position);
  --fx-gradient-stops: var(--fx-gradient-from), var(--fx-gradient-to);
  --fx-gradient-shape: to left;
  --fx-gradient: var(--fx-gradient-shape), var(--fx-gradient-stops);
  background-image: linear-gradient(var(--fx-gradient));
}

.line.diff.remove::before {
  content: "-";
  color: rgb(var(--c-danger-500));
  border-left-color: rgb(var(--c-danger-500));
}


div>code,
li>code,
h3>code, td>code {
  background-color: rgba(var(--c-gray-100), 0.6);
  border-width: 1px;
  border-color: rgba(var(--c-gray-200), 0.9);
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: rgb(var(--c-gray-700));
}

html.dark div>code,
html.dark li>code,
html.dark h3>code, html.dark td>code {
  background-color: rgba(var(--c-gray-900), 0.6);
  border-color: rgba(var(--c-gray-800), 0.6);
  color: rgb(var(--c-gray-300));
}

[data-shell-indicator] .line {
  position: relative;
  padding-left: 18px;
}

[data-shell-indicator] .line:not(:last-child)::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  font-size: 14px;
  color: rgb(var(--c-orange-500));
  content: '$';
}

[data-code-snippet] code{
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}