:root {
  --astro-code-color-background: rgb(var(--c-gray-900));
  --astro-code-background:transparent;
  --astro-code-token-constant: #C678DD;
  --astro-code-token-string: #98C379;
  --astro-code-token-comment: #ABB2BF;
  --astro-code-token-keyword: #E06C75;
  --astro-code-token-parameter: #E5C07B;
  --astro-code-token-function: #61AFEF;
  --astro-code-token-string-expression: #98C379;
  --astro-code-token-punctuation: #ABB2BF;
  --astro-code-token-link: #80cbc4;
  --astro-code-foreground:rgb(var(--c-gray-400));
  --astro-code-color-text:rgb(var(--c-gray-400));
}

html.dark {
  --astro-code-color-background: rgb(0 0 0 / 0.3);
}

.line.diff {
  transition: background-color 0.5s;
  position: relative;
  z-index: 1;
  margin: 0 -20px;
  padding: 0 20px;
  width: calc(100% + 40px);
  display: inline-block;
}


.line.diff.add::before,
.line.diff.remove::before {
  position: absolute;
  left: -4px;
  top: 0px;
  bottom: 0px;
  width: 24px;
  padding-left: 4px;
  border-left-width: 3px;
}

.line.diff.add {
  --fx-gradient-from-position: 0%;
  --fx-gradient-from: rgba(var(--c-success-900) , 0.02) var(--fx-gradient-from-position);
  --fx-gradient-to-position: 100%;
  --fx-gradient-to: rgba(var(--c-success-500) , 0.09) var(--fx-gradient-to-position);
  --fx-gradient-stops: var(--fx-gradient-from), var(--fx-gradient-to);
  --fx-gradient-shape: to left;
  --fx-gradient: var(--fx-gradient-shape), var(--fx-gradient-stops);
  background-image: linear-gradient(var(--fx-gradient));
}

.line.diff.add::before {
  content: "+";
  color: rgb(var(--c-info-500));
  opacity: .5;
  border-left-color: rgb(var(--c-info-500));
}

.line.diff.remove {
  --fx-gradient-from-position: 0%;
  --fx-gradient-from: rgba(var(--c-danger-900) , 0.05) var(--fx-gradient-from-position);
  --fx-gradient-to-position: 100%;
  --fx-gradient-to: rgba(var(--c-danger-400) , 0.04) var(--fx-gradient-to-position);
  --fx-gradient-stops: var(--fx-gradient-from), var(--fx-gradient-to);
  --fx-gradient-shape: to left;
  --fx-gradient: var(--fx-gradient-shape), var(--fx-gradient-stops);
  background-image: linear-gradient(var(--fx-gradient));
}

.line.diff.remove::before {
  content: "-";
  opacity: .5;
  color: rgb(var(--c-danger-500));
  border-left-color: rgb(var(--c-danger-500));
}


div>code,
li>code,
h3>code, td>code {
  background-color: rgba(var(--c-gray-100), 0.6);
  border-width: 1px;
  border-color: rgba(var(--c-gray-200), 0.9);
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: rgb(var(--c-gray-700));
}

li strong{
  color:rgb(var(--c-gray-800))
}
html.dark li strong{
  color:rgb(var(--c-gray-100))
}

html.dark div>code,
html.dark li>code,
html.dark h3>code, html.dark td>code {
  background-color: rgba(var(--c-gray-900), 0.6);
  border-color: rgba(var(--c-gray-800), 0.6);
  color: rgb(var(--c-gray-300));
}

figure pre{
  padding-left: 1.45rem;
  padding-right: 1.45rem;
}

[data-shell-indicator=true] .line {
  position: relative;
  padding-left: 24px;
}

[data-shell-indicator=true] .line:not(:last-child)::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  font-size: 14px;
  color: rgb(var(--c-orange-500));
  content: '$';
}

[data-code-snippet] code{
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}



[data-invisible-scrollbar] {
  scrollbar-width: none !important;
}

[data-invisible-scrollbar]::-webkit-scrollbar{
  -webkit-appearance: none !important;
          appearance: none !important;
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}