[data-doc-page-find] {
  width: 100%;
  height: 100%;
}

[data-doc-page-find] .pagefind-ui {
  width: 100%;
  height: 100%;
}

[data-doc-page-find] .pagefind-ui .pagefind-ui__form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pagefind-ui .pagefind-ui__form .pagefind-ui__search-input {
  padding: 10px 20px;
  border:0px;
  border-bottom: 1px solid var(--ui-find-page-input-bt);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  padding-inline-start: 2.75rem;
  width: 100%;
  min-height: max-content;
  background: transparent;
}
.pagefind-ui .pagefind-ui__form .pagefind-ui__search-input::placeholder{
    color: var(--ui-find-input-placeholder);
}

.pagefind-ui .pagefind-ui__form .pagefind-ui__search-input:focus{
    border-bottom-color: var(--card-ui-find-mark-bg);
}



.pagefind-ui__form:before {
    background-color: var(--ui-find-input-placeholder);
    width: calc(18px * var(--pagefind-ui-scale));
    height: calc(18px * var(--pagefind-ui-scale));
    top: calc(23px * var(--pagefind-ui-scale));
    left: calc(20px * var(--pagefind-ui-scale));
    content: "";
    position: absolute;
    display: block;
    opacity: .7;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    z-index: 9;
    pointer-events: none
}

.pagefind-ui .pagefind-ui__search-clear{
    /* display: none; */
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 4px;
    border-radius: 5px;
}




.pagefind-ui .pagefind-ui__drawer{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
.pagefind-ui .pagefind-ui__results-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pagefind-ui .pagefind-ui__results-area .pagefind-ui__message{
    color: var(--page-find-message);
    padding: 4px 16px;
}
.pagefind-ui .pagefind-ui__results{
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}



.pagefind-ui .pagefind-ui__results .pagefind-ui__result{
    padding: 1rem;
    border: 1px solid var(--card-ui-find-page-bdr);
    border-radius: 0.375rem;
}

.pagefind-ui .pagefind-ui__results .pagefind-ui__result:last-child{
    margin-bottom: 1rem;
}


.pagefind-ui .pagefind-ui__results .pagefind-ui__result, .pagefind-ui .pagefind-ui__results .pagefind-ui__result-nested{
    padding: 1rem;
    border: 1px solid var(--card-ui-find-page-bdr);
    border-radius: 0.375rem;
}
.pagefind-ui .pagefind-ui__results .pagefind-ui__result:hover{
    background-color: var(--card-ui-find-page-bg-hover);
    border-color: var(--card-ui-find-page-bdr-hover);
}
.pagefind-ui .pagefind-ui__results .pagefind-ui__result:hover .pagefind-ui__result-nested{
    border-color: var(--card-ui-find-page-bdr-hover);
}

.pagefind-ui .pagefind-ui__results .pagefind-ui__result-nested{
    margin-left: 20px;
}
.pagefind-ui .pagefind-ui__results .pagefind-ui__result-nested:not(:first-child){
    margin-top: 10px;
}

.pagefind-ui .pagefind-ui__result-title{
    color: var(--card-ui-find-page-title);
}




.pagefind-ui .pagefind-ui__result-excerpt{
    color: var(--card-ui-find-page-text-expert);
}

.pagefind-ui mark{
    background: var(--card-ui-find-mark-bg);
    color: var(--card-ui-find-mark-text);
    padding: 1px 5px;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.pagefind-ui__drawer .pagefind-ui__button{
    /* width: 100%; */
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid var(--card-ui-find-page-bdr);
    border-radius: 10px;
    background: var(--ui-find-input-bg);
    margin: 4px 20px;
    position: sticky;
    bottom: 6;
}

.pagefind-ui__drawer .pagefind-ui__button:hover{
    background: var(--card-ui-find-page-bg-hover);
}

