
 .os-size-observer,
 .os-size-observer-listener {
   scroll-behavior: auto !important;
   direction: inherit;
   pointer-events: none;
   overflow: hidden;
   visibility: hidden;
   box-sizing: border-box;
 }
 
 .os-size-observer,
 .os-size-observer-listener,
 .os-size-observer-listener-item,
 .os-size-observer-listener-item-final {
   writing-mode: horizontal-tb;
   position: absolute;
   left: 0;
   top: 0;
 }
 
 .os-size-observer {
   z-index: -1;
   contain: strict;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   padding: inherit;
   border: inherit;
   box-sizing: inherit;
   margin: -133px;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   transform: scale(0.1);
 }
 .os-size-observer::before {
   content: "";
   flex: none;
   box-sizing: inherit;
   padding: 10px;
   width: 10px;
   height: 10px;
 }
 
 .os-size-observer-appear {
   animation: os-size-observer-appear-animation 1ms forwards;
 }
 
 .os-size-observer-listener {
   box-sizing: border-box;
   position: relative;
   flex: auto;
   padding: inherit;
   border: inherit;
   margin: -133px;
   transform: scale(calc(1 / 0.1));
 }

 .os-size-observer-listener:empty::before {
   content: "";
   width: 100%;
   height: 100%;
 }
 .os-size-observer-listener:empty::before, .os-size-observer-listener > .os-size-observer-listener-item {
   display: block;
   position: relative;
   padding: inherit;
   border: inherit;
   box-sizing: content-box;
   flex: auto;
 }
 
 .os-size-observer-listener-scroll {
   box-sizing: border-box;
   display: flex;
 }
 
 .os-size-observer-listener-item {
   right: 0;
   bottom: 0;
   overflow: hidden;
   direction: ltr;
   flex: none;
 }
 
 .os-size-observer-listener-item-final {
   transition: none;
 }
 
 @keyframes os-size-observer-appear-animation {
   from {
     cursor: auto;
   }
   to {
     cursor: none;
   }
 }
 .os-trinsic-observer {
   flex: none;
   box-sizing: border-box;
   position: relative;
   max-width: 0px;
   max-height: 1px;
   padding: 0;
   margin: 0;
   border: none;
   overflow: hidden;
   z-index: -1;
   height: 0;
   top: calc(100% + 1px);
   contain: strict;
 }
 .os-trinsic-observer:not(:empty) {
   height: calc(100% + 1px);
   top: -1px;
 }
 .os-trinsic-observer:not(:empty) > .os-size-observer {
   width: 1000%;
   height: 1000%;
   min-height: 1px;
   min-width: 1px;
 }
 
 /**
  * hide native scrollbars
  * changes to this styles need to be reflected in the environment styles to correctly detect scrollbar hiding
  */
 [data-overlayscrollbars-initialize],
 [data-overlayscrollbars-viewport~=scrollbarHidden] {
   scrollbar-width: none !important;
 }
 
 [data-overlayscrollbars-initialize]::-webkit-scrollbar,
 [data-overlayscrollbars-initialize]::-webkit-scrollbar-corner,
 [data-overlayscrollbars-viewport~=scrollbarHidden]::-webkit-scrollbar,
 [data-overlayscrollbars-viewport~=scrollbarHidden]::-webkit-scrollbar-corner {
   -webkit-appearance: none !important;
           appearance: none !important;
   display: none !important;
   width: 0 !important;
   height: 0 !important;
 }
 
 /**
  * elements wont suddenly clip after initialization is done
  */
 [data-overlayscrollbars-initialize]:not([data-overlayscrollbars]):not(html):not(body) {
   overflow: auto;
 }
 
 /**
  * applied to body 
  */
 html[data-overlayscrollbars-body] {
   overflow: hidden;
 }
 
 html[data-overlayscrollbars-body],
 html[data-overlayscrollbars-body] > body {
   width: 100%;
   height: 100%;
   margin: 0;
 }
 
 html[data-overlayscrollbars-body] > body {
   overflow: visible;
   margin: 0;
 }
 
 /**
  * structure setup 
  */
 [data-overlayscrollbars] {
   position: relative;
 }
 
 [data-overlayscrollbars~=host],
 [data-overlayscrollbars-padding] {
   display: flex;
   align-items: stretch !important;
   flex-direction: row !important;
   flex-wrap: nowrap !important;
   scroll-behavior: auto !important;
 }
 
 [data-overlayscrollbars-padding],
 [data-overlayscrollbars-viewport]:not([data-overlayscrollbars]) {
   box-sizing: inherit;
   position: relative;
   flex: auto !important;
   height: auto;
   width: 100%;
   min-width: 0;
   padding: 0;
   margin: 0;
   border: none;
   z-index: 0;
 }
 
 [data-overlayscrollbars-viewport]:not([data-overlayscrollbars]) {
   --os-vaw: 0;
   --os-vah: 0;
   outline: none;
 }
 [data-overlayscrollbars-viewport]:not([data-overlayscrollbars]):focus {
   outline: none;
 }
 [data-overlayscrollbars-viewport][data-overlayscrollbars-viewport~=arrange]::before {
   content: "";
   position: absolute;
   pointer-events: none;
   z-index: -1;
   min-width: 1px;
   min-height: 1px;
   width: var(--os-vaw);
   height: var(--os-vah);
 }
 
 [data-overlayscrollbars],
 [data-overlayscrollbars-padding],
 [data-overlayscrollbars-viewport] {
   overflow: hidden !important;
 }
 
 [data-overlayscrollbars~=noClipping],
 [data-overlayscrollbars-padding~=noClipping] {
   overflow: visible !important;
 }
 
 [data-overlayscrollbars-viewport~=measuring] {
   overflow: hidden !important;
   scroll-behavior: auto !important;
   scroll-snap-type: none !important;
 }
 
 [data-overlayscrollbars-viewport~=overflowXVisible]:not([data-overlayscrollbars-viewport~=measuring]) {
   overflow-x: visible !important;
 }
 
 [data-overlayscrollbars-viewport~=overflowXHidden] {
   overflow-x: hidden !important;
 }
 
 [data-overlayscrollbars-viewport~=overflowXScroll] {
   overflow-x: scroll !important;
 }
 
 [data-overlayscrollbars-viewport~=overflowYVisible]:not([data-overlayscrollbars-viewport~=measuring]) {
   overflow-y: visible !important;
 }
 
 [data-overlayscrollbars-viewport~=overflowYHidden] {
   overflow-y: hidden !important;
 }
 
 [data-overlayscrollbars-viewport~=overflowYScroll] {
   overflow-y: scroll !important;
 }
 
 [data-overlayscrollbars-viewport~=noContent]:not(#osFakeId) {
   font-size: 0 !important;
   line-height: 0 !important;
 }
 
 [data-overlayscrollbars-viewport~=noContent]:not(#osFakeId)::before,
 [data-overlayscrollbars-viewport~=noContent]:not(#osFakeId)::after,
 [data-overlayscrollbars-viewport~=noContent]:not(#osFakeId) > * {
   display: none !important;
   position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   padding: 0 !important;
   margin: -1px !important;
   overflow: hidden !important;
   clip: rect(0, 0, 0, 0) !important;
   white-space: nowrap !important;
   border-width: 0 !important;
 }
 
 [data-overlayscrollbars-viewport~=scrolling] {
   scroll-behavior: auto !important;
   scroll-snap-type: none !important;
 }
 
 [data-overlayscrollbars-content] {
   box-sizing: inherit;
 }
 
 /**
  * Display contents to bridge any flickering during deferred initialization.
  */
 [data-overlayscrollbars-contents]:not(#osFakeId):not([data-overlayscrollbars-padding]):not([data-overlayscrollbars-viewport]):not([data-overlayscrollbars-content]) {
   display: contents;
 }
 
 /**
  * optional & experimental grid mode
  */
 [data-overlayscrollbars-grid],
 [data-overlayscrollbars-grid] [data-overlayscrollbars-padding] {
   display: grid;
   grid-template: 1fr/1fr;
 }
 
 [data-overlayscrollbars-grid] > [data-overlayscrollbars-padding],
 [data-overlayscrollbars-grid] > [data-overlayscrollbars-viewport],
 [data-overlayscrollbars-grid] > [data-overlayscrollbars-padding] > [data-overlayscrollbars-viewport] {
   height: auto !important;
   width: auto !important;
 }
 
 @property --os-scroll-percent {
   syntax: "<number>";
   inherits: true;
   initial-value: 0;
 }
 @property --os-viewport-percent {
   syntax: "<number>";
   inherits: true;
   initial-value: 0;
 }
 .os-scrollbar {
   --os-viewport-percent: 0;
   --os-scroll-percent: 0;
   --os-scroll-direction: 0;
   --os-scroll-percent-directional: calc(
     var(--os-scroll-percent) - (var(--os-scroll-percent) + (1 - var(--os-scroll-percent)) * -1) *
       var(--os-scroll-direction)
   );
 }
 
 .os-scrollbar {
   contain: size layout;
   contain: size layout style;
   transition: opacity 0.15s, visibility 0.15s, top 0.15s, right 0.15s, bottom 0.15s, left 0.15s;
   pointer-events: none;
   position: absolute;
   opacity: 0;
   visibility: hidden;
 }
 
 body > .os-scrollbar {
   position: fixed;
   z-index: 99999;
 }
 
 .os-scrollbar-transitionless {
   transition: none !important;
 }
 
 .os-scrollbar-track {
   position: relative;
   padding: 0 !important;
   border: none !important;
 }
 
 .os-scrollbar-handle {
   position: absolute;
 }
 
 .os-scrollbar-track,
 .os-scrollbar-handle {
   pointer-events: none;
   width: 100%;
   height: 100%;
 }
 
 .os-scrollbar.os-scrollbar-track-interactive .os-scrollbar-track,
 .os-scrollbar.os-scrollbar-handle-interactive .os-scrollbar-handle {
   pointer-events: auto;
   touch-action: none;
 }
 
 .os-scrollbar-horizontal {
   bottom: 0;
   left: 0;
 }
 
 .os-scrollbar-vertical {
   top: 0;
   right: 0;
 }
 
 .os-scrollbar-auto-hide.os-scrollbar-auto-hide-hidden {
   opacity: 0;
   visibility: hidden;
 }
 
 .os-scrollbar-interaction.os-scrollbar-visible {
   opacity: 1;
   visibility: visible;
 }
 
 .os-scrollbar-unusable,
 .os-scrollbar-unusable *,
 .os-scrollbar-wheel,
 .os-scrollbar-wheel * {
   pointer-events: none !important;
 }
 
 .os-scrollbar-unusable .os-scrollbar-handle {
   opacity: 0 !important;
   transition: none !important;
 }
 
 .os-scrollbar-horizontal .os-scrollbar-handle {
   bottom: 0;
   left: calc(var(--os-scroll-percent-directional) * 100%);
   transform: translateX(calc(var(--os-scroll-percent-directional) * -100%));
   width: calc(var(--os-viewport-percent) * 100%);
 }
 
 .os-scrollbar-vertical .os-scrollbar-handle {
   right: 0;
   top: calc(var(--os-scroll-percent-directional) * 100%);
   transform: translateY(calc(var(--os-scroll-percent-directional) * -100%));
   height: calc(var(--os-viewport-percent) * 100%);
 }
 
 @supports (container-type: size) {
   .os-scrollbar-track {
     container-type: size;
   }
   .os-scrollbar-horizontal .os-scrollbar-handle {
     left: auto;
     transform: translateX(calc(var(--os-scroll-percent-directional) * 100cqw + var(--os-scroll-percent-directional) * -100%));
   }
   .os-scrollbar-vertical .os-scrollbar-handle {
     top: auto;
     transform: translateY(calc(var(--os-scroll-percent-directional) * 100cqh + var(--os-scroll-percent-directional) * -100%));
   }
 }

 .os-scrollbar.os-scrollbar-horizontal.os-scrollbar-cornerless {
   left: 0;
   right: 0;
 }
 
 .os-scrollbar.os-scrollbar-vertical.os-scrollbar-cornerless {
   top: 0;
   bottom: 0;
 }
 
 @media print {
   .os-scrollbar {
     display: none;
   }
 }
 .os-scrollbar {
    --os-size: 0;
    --os-padding-perpendicular: 0;
    --os-padding-axis: 0;
    --os-track-border-radius: 0;
    --os-track-bg: rgba(var(--c-gray-100), 0.4);
    --os-track-bg-hover: rgba(var(--c-gray-100), 0.4);
    --os-track-bg-active: rgba(var(--c-gray-100), 0.4);
    --os-track-border: none;
    --os-track-border-hover: none;
    --os-track-border-active: none;
    --os-handle-border-radius: 0;
    --os-handle-bg: rgb(var(--c-gray-200));
    --os-handle-bg-hover: rgb(var(--c-gray-200));
    --os-handle-bg-active: rgb(var(--c-gray-200));
    --os-handle-border: none;
    --os-handle-border-hover: none;
    --os-handle-border-active: none;
    --os-handle-min-size: 33px;
    --os-handle-max-size: none;
    --os-handle-perpendicular-size: 100%;
    --os-handle-perpendicular-size-hover: 100%;
    --os-handle-perpendicular-size-active: 100%;
    --os-handle-interactive-area-offset: 0;
 }
 html.dark .os-scrollbar {
    --os-track-bg: rgba(var(--c-gray-900), 0.4);
    --os-track-bg-hover: rgba(var(--c-gray-900), 0.4);
    --os-track-bg-active: rgba(var(--c-gray-900), 0.4);
    --os-handle-bg: rgb(var(--c-gray-800));
    --os-handle-bg-hover: rgb(var(--c-gray-800));
    --os-handle-bg-active: rgb(var(--c-gray-800));
}
 
 .os-scrollbar-track {
   border: var(--os-track-border);
   border-radius: var(--os-track-border-radius);
   background: var(--os-track-bg);
   transition: opacity 0.15s, background-color 0.15s, border-color 0.15s;
 }
 .os-scrollbar-track:hover {
   border: var(--os-track-border-hover);
   background: var(--os-track-bg-hover);
 }
 .os-scrollbar-track:active {
   border: var(--os-track-border-active);
   background: var(--os-track-bg-active);
 }
 
 .os-scrollbar-handle {
   border: var(--os-handle-border);
   border-radius: var(--os-handle-border-radius);
   background: var(--os-handle-bg);
 }
 .os-scrollbar-handle:hover {
   border: var(--os-handle-border-hover);
   background: var(--os-handle-bg-hover);
 }
 .os-scrollbar-handle:active {
   border: var(--os-handle-border-active);
   background: var(--os-handle-bg-active);
 }
 
 .os-scrollbar-track:before,
 .os-scrollbar-handle:before {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: block;
 }
 
 .os-scrollbar-horizontal {
   padding: var(--os-padding-perpendicular) var(--os-padding-axis);
   right: var(--os-size);
   height: var(--os-size);
 }

 .os-scrollbar-horizontal .os-scrollbar-track:before {
   top: calc(var(--os-padding-perpendicular) * -1);
   bottom: calc(var(--os-padding-perpendicular) * -1);
 }
 .os-scrollbar-horizontal .os-scrollbar-handle {
   min-width: var(--os-handle-min-size);
   max-width: var(--os-handle-max-size);
   height: var(--os-handle-perpendicular-size);
   transition: opacity 0.15s, background-color 0.15s, border-color 0.15s, height 0.15s;
 }
 .os-scrollbar-horizontal .os-scrollbar-handle:before {
   top: calc((var(--os-padding-perpendicular) + var(--os-handle-interactive-area-offset)) * -1);
   bottom: calc(var(--os-padding-perpendicular) * -1);
 }
 .os-scrollbar-horizontal:hover .os-scrollbar-handle {
   height: var(--os-handle-perpendicular-size-hover);
 }
 .os-scrollbar-horizontal:active .os-scrollbar-handle {
   height: var(--os-handle-perpendicular-size-active);
 }
 
 .os-scrollbar-vertical {
   padding: var(--os-padding-axis) var(--os-padding-perpendicular);
   bottom: var(--os-size);
   width: var(--os-size);
 }
 .os-scrollbar-vertical .os-scrollbar-track:before {
   left: calc(var(--os-padding-perpendicular) * -1);
   right: calc(var(--os-padding-perpendicular) * -1);
 }
 .os-scrollbar-vertical .os-scrollbar-handle {
   min-height: var(--os-handle-min-size);
   max-height: var(--os-handle-max-size);
   width: var(--os-handle-perpendicular-size);
   transition: opacity 0.15s, background-color 0.15s, border-color 0.15s, width 0.15s;
 }
 .os-scrollbar-vertical .os-scrollbar-handle:before {
   left: calc((var(--os-padding-perpendicular) + var(--os-handle-interactive-area-offset)) * -1);
   right: calc(var(--os-padding-perpendicular) * -1);
 }

 .os-scrollbar-vertical:hover .os-scrollbar-handle {
   width: var(--os-handle-perpendicular-size-hover);
 }
 .os-scrollbar-vertical:active .os-scrollbar-handle {
   width: var(--os-handle-perpendicular-size-active);
 }
 
 
 /* DARK & LIGHT THEME: */
 .os-theme-dark,
 .os-theme-light {
   box-sizing: border-box;
   --os-size: 10px;
   --os-padding-perpendicular: 2px;
   --os-padding-axis: 2px;
   --os-track-border-radius: 10px;
   --os-handle-interactive-area-offset: 4px;
   --os-handle-border-radius: 10px;
 }
 

 [data-overlayscrollbars-initialize]:hover .os-scrollbar:not(.os-scrollbar-unusable),
[data-overlayscrollbars-initialize]:active .os-scrollbar:not(.os-scrollbar-unusable) {
    opacity: 1 !important;
    visibility: visible !important;
}

[data-overlayscrollbars-initialize] .os-scrollbar .os-scrollbar-track {
    pointer-events: all !important;
    cursor: grab;
}

[data-overlayscrollbars-initialize] .os-scrollbar .os-scrollbar-track:active {
    cursor: grabbing;
}