<div class="flex items-center relative">
    <button aria-label="tooltip with default placement" data-fx-tooltip data-tooltip data-trigger-strategy="click" id="tooltip-testClick" class="relative text-body b bdr-high p-2 rd-full">
        <span aria-hidden="true" class="flex i-ph-caret-down"></span>
        <p data-fx-popper
            class="u-fx-popper w-48 px-4 py-1.5 text-center text-sub-body truncate bg-high rd-lg shadow-lg dark:shadow-none shadow-gray-200 invisible fx-open:visible">
            This is a tooltip
        </p>
    </button>
</div>