<div class="max-w-sm wfull p-8 rd-md bdr-high bg-body space-y-6   animate-pulse">
    <div class="aspect-video bg-higher rd animate-pulse"></div>
    <div class="space-y-3 text-body">
        <h3 class="text-lg content-['skeleton'] text-transparent rd-full bg-higher">sd</h3>
        <p class="text-transparent text-xs w-9/12 bg-higher rd-full">
            description
        </p>
        <p class="text-transparent text-xs w-3/6 bg-higher rd-full">
            description
        </p>
    </div>
</div>