<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>

    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default TextArea
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-high">
                <textarea placeholder="Your email here" class="form-input form-input-md form-input-bordered bg-body rd-md"></textarea>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                NoResize TextArea
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-high">
                <textarea placeholder="Your email here" class="resize-none form-input form-input-md form-input-bordered bg-body rd-md"></textarea>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                AutoResize
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-high">
                <textarea placeholder="Your email here" data-autoresizable class="w-full form-input-md form-input-bordered bg-body rd-md"></textarea>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Gray
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-high">
                <textarea placeholder="Your email here" class="form-input form-input-md form-input-bordered-high bg-high rd-md"></textarea>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Label
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="flex flex-col space-y-2">
                    <label for="message" class="w-max text-sm text-sub-body">Your Message</label>
                    <textarea id="message" name="message" placeholder="Tell us your ...." class="form-input form-input-md form-input-bordered bg-body rd-md"></textarea>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Disabled
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-high">
                <textarea disabled placeholder="disabled form-input" class="w-full form-input form-input-md form-input-bordered bg-body rd-md"></textarea>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>