---
import SoftAlert from "./variants/SoftAlert.astro";
---

<div class="space-y-4">
    <SoftAlert
        title="New update!"
        description="A new software update is available. See what's new in version 3.0.7"
        intent="gray"
        icon="i-ph-info"
    />
    <SoftAlert
        title="New update!"
        description="A new software update is available. See what's new in version 3.0.7"
        intent="primary"
    />
    <SoftAlert
        title="Successfully updated."
        description="You have successfully updated your profil."
        intent="success"
        icon="i-ph-user-circle-check"
    />
    <SoftAlert
        title="New update!"
        description="A new software update is available. See what's new in version 3.0.7"
        intent="neutral"
        icon="i-ph-info"
    />
</div>
