---
import SubtleAlert from "./variants/SubtleAlert.astro";
---

<div class="space-y-4">
    <SubtleAlert
        title="New update!"
        description="A new software update is available. See what's new in version 3.0.7"
        intent="gray"
        icon="i-ph-info"
    />
    <SubtleAlert
        title="New update!"
        description="A new software update is available. See what's new in version 3.0.7"
        intent="primary"
    />
    <SubtleAlert
        title="Successfully updated."
        description="You have successfully updated your profil."
        intent="success"
        icon="i-ph-user-circle-check"
    />
    <SubtleAlert
        title="New update!"
        description="A new software update is available. See what's new in version 3.0.7"
        intent="neutral"
        icon="i-ph-info"
    />
</div>
