<div class="ui-outline border rd-md p4">
    <h3 class="font-medium text-title">
        Alert with title
      </h3>
    <p class="text-body">
        You can add components to your app using the cli.
    </p>
</div>