<div class="ui-outline border rd-md py4 pr4 pl3 flex items-start gap-x4">
    <div class="flex">
        <span aria-hidden="true" class="flex text-lg i-ph-info"></span>
    </div>
    <div class="flex-1">
        <h3 class="font-medium text-title">
            Alert with title
          </h3>
        <p class="text-body">
            You can add components to your app using the cli.
        </p>
    </div>
</div>
