<div class="space-y-4 wfull">
    <div data-custom-range-wrapper data-range-indicator="peer-disabled-bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-1" class="relative w-full flex items-center h-2">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xs range-track-bg-gray text-success6 dark-text-success500">
    </div>
    <div data-custom-range-wrapper data-range-indicator="peer-disabled-bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2" id="range_custom1" class="relative w-full flex items-center h-4">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-sm range-track-bg-gray text-success6 dark-text-success500">
    </div>
    <div data-custom-range-wrapper data-range-indicator="peer-disabled-bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2.5" id="range_custom1" class="relative w-full flex items-center h-4">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-success6 dark-text-success500">
    </div>
    <div data-custom-range-wrapper data-range-indicator="peer-disabled-bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2.5" id="range_custom1" class="relative w-full flex items-center h-4">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-lg range-track-bg-gray text-success6 dark-text-success500">
    </div>
    <div data-custom-range-wrapper data-range-indicator="peer-disabled-bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2.5" id="range_custom1" class="relative w-full flex items-center h-4">
        <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xl range-track-bg-gray text-success6 dark-text-success500">
    </div>
</div>