<div class="wfull space-y-5">
    <div class="relative w-full flex items-center h-2">
        <label for="range_slide_xs" class="sr-only">rangexs</label>
        <input type="range" name="range_slide_xs" id="range_slide_xs" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xs range-track-bg-gray text-primary600">
    </div>
    <div class="relative w-full flex items-center h-3">
        <label for="range_slide_sm" class="sr-only">rangesm</label>
        <input type="range" name="range_slide_sm" id="range_slide_sm" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-sm range-track-bg-gray text-primary600">
    </div>
    <div class="relative w-full flex items-center h-4">
        <label for="range_slide_md" class="sr-only">rangemd</label>
        <input type="range" name="range_slide_md" id="range_slide_md" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
    </div>
    <div class="relative w-full flex items-center h-5">
        <label for="range_slide_lg" class="sr-only">rangelg</label>
        <input type="range" name="range_slide_lg" id="range_slide_lg" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-lg range-track-bg-gray text-primary600">
    </div>
    <div class="relative w-full flex items-center h-6">
        <label for="range_slide_xl" class="sr-only">rangexl</label>
        <input type="range" name="range_slide_xl" id="range_slide_xl" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xl range-track-bg-gray text-primary600">
    </div>
</div>