<div class="relative w-full flex items-center h-4">
    <input type="range" name="range_slide" step="4" min="0" max="40" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
</div>