<div class="flex flex-col space-y-5 wfull">
    <div class="relative w-full flex items-center h-4">
        <input type="range" name="range_slide" min="0" max="100" class="wfull cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
    </div>
    <div class="relative w-full flex items-center h-4">
        <input type="range" name="range_slide" min="0" max="100" class="wfull cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-secondary600">
    </div>
    <div class="relative w-full flex items-center h-4">
        <input type="range" name="range_slide" min="0" max="100" class="wfull cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-accent600">
    </div>
    <div class="relative w-full flex items-center h-4">
        <input type="range" name="range_slide" min="0" max="100" class="wfull cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-success600">
    </div>
    <div class="relative w-full flex items-center h-4">
        <input type="range" name="range_slide" min="0" max="100" class="wfull cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-info600">
    </div>
</div>