---
import PaletteCard from "@components/atoms/PaletteCard.astro"


const palettes = [
    {
        label:"Water",
        colors:["#2e67a0","#0d9488","#0c65bd"],
        id:"katara"
    },
    {
        label:"Earth",
        colors:["#24774f","#ac7022","#dd1d13"],
        id:"toph"
    },
    {
        label:"Fire",
        colors:["#dd1d13","#f45100","#075cb0"],
        id:"zuko"
    },
    {
        label:"Air",
        colors:["#f45100","#dd1d13","#268717"],
        id:"aang"
    },
    {
        label:"Default",
        colors:["#4f46e5","#0891b2","#075cb0"],
        id:"default",
        isDefault:true
    },
]
---
<div  class="">
    <button data-offcanvas-trigger data-target="theme-setting" aria-label="Switch UI Theme Palette" class="btn-nav-icon relative">
        <span class="flex i-ph-palette"></span>
    </button>
    <div data-ui-offcanvas id="theme-setting" data-offcanvas-backdrop="u-fx-overlay bg-gray900/80 backdrop-blur-md invisible fx-visible-visible" class="fixed space-y-6 z100 w-full max-w-xs bg-body -right-full invisible fx-open-visible fx-open-right-2 inset-y-2 rd-lg p6 b bdr-nm ease-linear duration-200">
        <div class="flex justify-end text-body">
            <button data-offcanvas-close
                aria-label="Close Palette"
                class="p2 b b-transparent rd-lg hover-b bdr-high hover-bg-nm ease-linear flex z10"
            >
                <span aria-hidden="true" class="flex i-ph-x"></span>
            </button>
        </div>
        <div class="flex items-center justify-between">
            <span class="font-semibold text-sub-title">
                Theme
            </span>
            <div class="grid grid-cols-2 rd-md b bdr-nm bg-nm">
                <button data-toggle-theme data-theme="light" data-state="active" class="btn btn-xs gap-x-1.5 fx-active-bg-body rd-l-md">
                    <span aria-hidden="true" class="flex i-fx-sun"></span>
                    Light
                </button>
                <button data-toggle-theme data-theme="dark" class="btn btn-xs gap-x-1.5 fx-active-bg-body rd-r-md">
                    <span aria-hidden="true" class="flex i-fx-moon-star"></span>
                    Dark
                </button>
            </div>
        </div>
        <div>
            <span>
                Palette
            </span>
            <ul data-palette-container role="radiogroup" class="grid grid-cols-2 gap-4">
                {
                    palettes.map(palette => (
                        <PaletteCard {...palette}/>
                    ))
                }
            </ul>
        </div>
    </div>
</div>