---

---

<button
  data-modal-trigger
  data-modal-target="modal-page-find"
  aria-label="Show Search Box Modal"
  class="btn-input-search"
>
  <span aria-hidden="true" class="flex i-ph-magnifying-glass"></span>
  <span class="flex-1 flex"> Search... </span>
  <kbd class="kbd-xs ui-outline-gray bg-nm rd">ctrl+/</kbd>
</button>
<button
  data-toggle-modal-search
  aria-label="Open Search Box"
  class="btn-nav-icon md-hidden"
>
  <span class="i-ph-magnifying-glass flex"></span>
</button>
<div
  data-fx-modal
  data-modal-find
  data-modal-id="modal-page-find"
  data-modal-overlay="u-fx-overlay bg-gray8/30 backdrop-blur-lg"
  class="justify-center items-start p4 fixed wscreen hscreen top-0 left-0 z130 hidden fx-open-flex"
  aria-hidden="true"
>
  <dialog
    data-modal-content
    data-enter-animation="fadeInScale .4s linear"
    data-exit-animation="fadeOutScale .1s linear"
    class="relative u-fx-animated-modal-content bg-body rd-lg overflow-hidden wfull md-max-w43rem h86% flex flex-col gap-y4 items-center ease-linear transition-all bg_test"
  >
    <slot />
  </dialog>
</div>

<script>
  import { $ } from "@assets/js/selector";
  import { Modal } from "@flexilla/flexilla";

  const searchModal = new Modal("[data-modal-find]", {
    onShow() {
      const modalSearchInput = $(
        "[data-doc-page-find] .pagefind-ui__search-input"
      );
      if (modalSearchInput instanceof HTMLElement) modalSearchInput.focus();
    },
    onHide() {},
  });

  window.addEventListener("keydown", (event) => {
    const isOpened =
      $("[data-modal-find]")?.getAttribute("data-state") === "open";
    if (!isOpened && event.ctrlKey && event.key === "/") {
      console.log("you pressed the slash");
      event.preventDefault();
      searchModal.showModal();
      const modalSearchInput = $(
        "[data-doc-page-find] .pagefind-ui__search-input"
      );
      if (modalSearchInput instanceof HTMLElement) modalSearchInput.focus();
    }
  });
</script>
