---
type Props = {
  icon: string;
  title: string;
  path: string;
  isActive: boolean;
}
const { icon, title, path, isActive } = Astro.props;
---

<li>
  <a
    href={path}
    aria-label={`Link to ${title}`}
    class={`flex items-center gap-x2.5 ${isActive ? "text-title font-600" : "hover-text-title"}`}
  >
    <span
      aria-hidden="true"
      class={`size-7 flex items-center justify-center rd-lg 
     ${isActive ? "ui-subtle " : "b bdr-nm "}`}
    >
      <span class={`flex ${icon} text-sm`}></span>
    </span>
    <span>
      {title}
    </span>
  </a>
</li>
