---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">

const { class: className = "", ...rest } = Astro.props;
---

<div
  data-hidden-scrollbar-s
  data-overlayscrollbars-initialize
  class={`overflow-hidden overflow-y-auto hfull ${className}`}
  {...rest}
>
  <slot />
</div>
