---
import SidebarItemBlock from "./SidebarItemBlock.astro";

type Props = {
  activeItem: string;
  label: string;
  items: {
    title: string;
    path: string;
    state?: "updated" | "draft" | "new" | "none";
  }[];
}
const { label, items, activeItem } = Astro.props;
---

<div class="space-y-0.5 pt5">
  <SidebarItemBlock label={label}>
    <ul class="space-y-2 text-sub-body b-l bdr_l-nm py3">
      {
        items.map((item) => (
          <li class="flex">
            <a
              href={item.path}
              aria-label={`Link to ${item.title}`}
              class={`ease-linear pl-3 ${item.path === activeItem ? "text-title b-l-2 b-l-gray8 dark-b-l-white" : "hover-text-title"}`}
            >
              {item.title}
              {item.state ? (
                item.state === "draft" ? (
                  <span
                    aria-hidden="true"
                    class="badge-sm rd-lg ui-subtle-warning"
                  >
                    draft
                  </span>
                ) : item.state === "updated" ? (
                  <span
                    aria-hidden="true"
                    class="badge-sm rd-lg ui-subtle-info"
                  >
                    updates
                  </span>
                ) : item.state === "new" ? (
                  <span
                    aria-hidden="true"
                    class="badge-sm rd-lg ui-subtle-primary"
                  >
                    new
                  </span>
                ) : null
              ) : null}
            </a>
          </li>
        ))
      }
    </ul>
  </SidebarItemBlock>
</div>
