---
type Props = {
  hideTableOfContent?: boolean;
}

const { hideTableOfContent } = Astro.props;
---

<div
  class={`h12 top-14 sticky ${hideTableOfContent ? "hidden" : "flex xl-hidden"} z40 lg-pl8 b-b bdr_b-nm`}
>
  <span aria-hidden="true" class="blured-bg-ui"></span>
  <div
    class="relative hfull wfull flex justify-between items-center px4 sm-px8 lg-px0"
  >
    <button
      data-offcanvas-trigger
      data-target="doc_sidebar"
      aria-label="toggle sidebar"
      class="text-xl -ml-2 p2 hover-bg-nm ease-linear flex lg-hidden text-body"
    >
      <span aria-hidden="true" class="flex i-fx-list-broken"></span>
    </button>
    {
      !hideTableOfContent ? (
        <button
          data-trigger-tab-content
          aria-expanded="false"
          aria-label="show table of content"
          class="btn-show-table-content text-body"
        >
          On this page
          <span
            aria-hidden="true"
            class="i-ph-caret-down flex ease-linear duration-200"
          />
        </button>
      ) : null
    }
  </div>
</div>
