<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
  <div class="fixed bottom-0 w-screen inset-x-0">
    <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
      <button data-switch-theme aria-label="toggle app theme"
        class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
        <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
      </button>
    </div>
  </div>
  <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Outline Alert
      </h1>
      <div class="p-6 space-y-4 rd-lg b bdr-high">
        <div class="ui-outline border rd-md ui-card-md">
          <p class="text-body">
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-outline border rd-md ui-card-md">
          <h3 class="font-semibold text-title">
            With Border
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-outline border rd-md ui-card-md flex items-start gap-x-4">
          <div class="w-max text-body">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>            
          </div>
          <div class="flex-1">
            <h3 class="font-semibold text-title">
              Alert with title & Icon : default Reverse
            </h3>
            <p>
              You can add components to your app using the ou CLI.
            </p>
          </div>
        </div>
        <div class="ui-outline border rd-md ui-card-md flex items-start gap-x-4">
          <div class="w-max p-2 rd-full border border-gray-100 dark:border-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>            
          </div>
          <div class="flex-1">
            <h3 class="font-semibold text-title">
              Alert with title & Icon : default Reverse
            </h3>
            <p>
              You can add components to your app using the ou CLI.
            </p>
          </div>
        </div>
        <div class="ui-outline-primary border rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-outline-primary border rd-md ui-card-md">
          <h3 class="font-semibold text-primary-600">
            With Border
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-outline-warning border rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-outline-danger border rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-outline-neutral rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Soft Alert
      </h1>
      <div class="p-6 space-y-4 rd-lg b bdr-high">
        <div class="ui-soft rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-soft rd-md ui-card-md">
          <h3 class="font-semibold text-title">
            Soft with title
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-soft rd-md ui-card-md flex items-start gap-x-4">
          <div class="w-max p-2 ui-soft rd-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>            
          </div>
          <div class="flex-1">
            <h3 class="font-semibold text-title">
              Soft with title
            </h3>
            <p>
              You can add components to your app using the ou CLI.
            </p>
          </div>
        </div>
        <div class="ui-soft-primary rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-soft-primary rd-md ui-card-md">
          <h3 class="font-semibold text-primary-600">
            With Border
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>

        <div class="ui-soft-danger rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-soft-warning rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-soft-success rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
      </div>
    </div>
    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Solid Alert
      </h1>
      <div class="p-6 space-y-4 rd-lg b bdr-high">
        <div class="ui-solid rd-md ui-card-md">
          <p class="text-body">
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-solid rd-md ui-card-md">
          <h3 class="font-semibold text-title">
            Alert with title : default
          </h3>
          <p class="text-body">
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-solid-neutral rd-md ui-card-md flex items-start gap-x-4 text-gray-300 dark:text-gray-700">
          <div class="w-max">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>            
          </div>
          <div class="flex-1">
            <h3 class="font-semibold text-title-reverse">
              Alert with title & Icon : default Reverse
            </h3>
            <p>
              You can add components to your app using the ou CLI.
            </p>
          </div>
        </div>
        <div class="ui-solid-primary rd-md ui-card-md">
          <h3 class="font-semibold text-white">
            Alert with title : solid style
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-solid-danger rd-md ui-card-md">
          <h3 class="font-semibold text-white">
            Alert with title : solid style
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-solid-warning rd-md ui-card-md">
          <h3 class="font-semibold text-white">
            Alert with title : solid style
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-solid-primary rd-md ui-card-md">
          <h3 class="font-semibold text-white">
            Alert with title : solid style
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Subtle Alert
      </h1>
      <div class="p-6 space-y-4 rd-lg b bdr-high">
        <div class="ui-subtle rd-md ui-card-md">
          <p class="text-body">
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-subtle rd-md ui-card-md">
          <h3 class="font-semibold text-title">
            Soft with title
          </h3>
          <p class="text-body">
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-subtle-primary rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-subtle-primary rd-md ui-card-md">
          <h3 class="font-semibold text-primary-600 dark-text-primary500">
            With Border
          </h3>
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>

        <div class="ui-subtle-danger rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-subtle-warning rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
        <div class="ui-subtle-danger rd-md ui-card-md">
          <p>
            You can add components to your app using the ou CLI.
          </p>
        </div>
      </div>
    </div>

  </section>
  <script type="module" src="/main.ts"></script>
</body>

</html>