<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Chip Defaulft
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg bdr_high">
                <div class="relative">
                    <button
                        class="btn btn-icon-md flex justify-center items-center gap-x-2 rd bdr text-sub-title">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                        </svg>
                    </button>
                    <span
                        class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 rd-full bg-danger-800 ring-2 ring-white dark:ring-gray-950 text-sm text-white px-1 min-w-[1rem] h-4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="avatar-md object-cover rd-full">
                    <span
                        class="absolute bottom-0 right-0 bg-success-600 size-3 flex border-2 border-white dark:border-gray-950 rd-full"></span>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Chip Placement
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg bdr_high">
                <div class="relative">
                    <button
                        class="btn btn-white btn-icon-md rd-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                        </svg>
                    </button>
                    <span
                        class="absolute top-0 left-0 -translate-y-1/2 -translate-x-1/2 rd-full bg-danger-800 ring-2 ring-white dark:ring-gray-950 text-sm text-white px-1 min-w-[1rem] h-4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <button
                        class="btn btn-white btn-icon-md rd-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                        </svg>
                    </button>
                    <span
                        class="absolute bottom-0 left-0 translate-y-1/2 -translate-x-1/2 rd-full bg-danger-800 ring-2 ring-white dark:ring-gray-950 text-sm text-white px-1 min-w-[1rem] h-4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <button
                        class="btn btn-white btn-icon-md rd-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                        </svg>
                    </button>
                    <span
                        class="absolute top-0 right-0 -translate-y-1/2 translate-x-1/2 rd-full bg-danger-800 ring-2 ring-white dark:ring-gray-950 text-sm text-white px-1 min-w-[1rem] h-4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <button
                        class="btn btn-white btn-icon-md rd-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5" />
                        </svg>
                    </button>
                    <span
                        class="absolute bottom-0 right-0 translate-y-1/2 translate-x-1/2 rd-full bg-danger-800 ring-2 ring-white dark:ring-gray-950 text-sm text-white px-1 min-w-[1rem] h-4 flex justify-center items-center">
                        3
                    </span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="avatar-md object-cover rd-full">
                    <span
                        class="absolute top-0 left-0 bg-success-600 size-3 flex border-2 border-white dark:border-gray-950 rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="avatar-md object-cover rd-full">
                    <span
                        class="absolute bottom-0 left-0 bg-success-600 size-3 flex border-2 border-white dark:border-gray-950 rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="avatar-md object-cover rd-full">
                    <span
                        class="absolute bottom-0 right-0 bg-success-600 size-3 flex border-2 border-white dark:border-gray-950 rd-full"></span>
                </div>
                <div class="relative">
                    <img src="/defaultavatar.webp" width="640" height="427" alt="avatar xs"
                        class="avatar-md object-cover rd-full">
                    <span
                        class="absolute top-0 right-0 bg-success-600 size-3 flex border-2 border-white dark:border-gray-950 rd-full"></span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>