<div class="flex flex-col gap-4 wfull">
    <hr class="divider-hr-border-primary">
    <hr class="divider-hr-border-secondary">
    <hr class="divider-hr-border-danger">
    <hr class="divider-hr-border">
</div>