<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Card : With Image
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div
                        class="p-8 rounded-md bdr_high card-body space-y-6">
                        <div class="aspect-video bdr_high b-dashed rounded">

                        </div>
                        <div class="space-y-3 text-body">
                            <h2 class="text-xl font-semibold text-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Card : With Icon
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div
                        class="p-8 rounded-md bdr_high card-body space-y-6">
                        <div class="size-12 bdr_high b-dashed rounded">

                        </div>
                        <div class="space-y-3 text-body">
                            <h2 class="text-xl font-semibold text-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Card Gray
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div class="p-8 rounded-md card-solid space-y-6">
                        <div class="aspect-video bdr_high b-dashed rounded">

                        </div>
                        <div class="space-y-3 text-body">
                            <h2 class="text-xl font-semibold text-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Card Subtle
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div
                        class="p-8 rounded-md card-subtle space-y-6">
                        <div class="aspect-video bdr_high b-dashed rounded">

                        </div>
                        <div class="space-y-3 text-body">
                            <h2 class="text-xl font-semibold text-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Card Soft
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div class="p-8 rounded-md card-soft space-y-6">
                        <div class="aspect-video bdr_high b-dashed rounded">

                        </div>
                        <div class="space-y-3 text-body">
                            <h2 class="text-xl font-semibold text-title">
                                Card Title</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Card With Icon
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div
                        class="p-8 rounded-md card-subtle space-y-6">
                        <div
                            class="avatar-placeholder avatar-placeholder-lg avatar-placeholder-subtle">
                            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                            </svg>
                        </div>
                        <div class="space-y-3 text-body">
                            <h2 class="text-xl font-semibold text-title">Social Media Strategy
                            </h2>
                            <p>
                                Crafting bespoke strategies to amplify your brand's presence across social platforms,
                                driving meaningful engagement
                            </p>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                E-Commerce Card
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div class="p-1 rd-lg card-solid relative">
                        <div class="relative">
                            <div
                                class="absolute inset-x-1 top-1 flex justify-between items-center text-body text-xs">
                                <span
                                    class="badge-subtle px-2 py-px rounded-full">
                                    -40%
                                </span>
                                <button aria-label="add to favorite"
                                    class="p-1.5 bg-gray-900/80 backdrop-filter backdrop-blur-sm text-white rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                        data-slot="icon" class="size-4">
                                        <path
                                            d="M2 6.342a3.375 3.375 0 0 1 6-2.088 3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.437 14.437 0 0 1-2.676 1.61c-.02.01-.038.017-.05.022l-.014.006-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003-.015-.006a5.528 5.528 0 0 1-.232-.107 14.395 14.395 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38L2 6.342Z" />
                                    </svg>
                                </button>
                            </div>
                            <img src="/images/bottes-cuir.webp" alt="bottes cuir" class="w-full h-auto rounded-md">
                        </div>
                        <div class="flex justify-between items-start gap-2 px-4 pt-3 pb-2 text-sm">
                            <h2 class="flex-1 text-title font-medium">
                                Air Nike
                            </h2>
                            <span class="text-sub-title">12$</span>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                E-Commerce Card 2
            </h1>
            <div class="p-6 rd-lg bdr_high">
                <div class="max-w-sm mx-auto w-full">
                    <!-- card component -->
                    <div class="p-1 rd-lg card-solid relative space-y-3">
                        <div class="px-4 pt-2">
                            <span class="text-sub-title text-sm">
                                Top Seller
                            </span>
                        </div>
                        <img src="/images/sports-shoe.webp" alt="Sport Shoe" class="w-full h-auto rounded-md">
                        <div class="px-4 pb-2 text-sm space-y-2">
                            <div class="flex justify-between items-start gap-2">
                                <h2 class="flex-1 text-title font-medium">
                                    Air Nike
                                </h2>
                                <span class="text-sub-title">12$</span>
                            </div>
                            <div class="flex justify-between items-start gap-2 text-sm">
                                <p class="flex-1 text-sub-body">
                                    Colored
                                </p>
                                <button
                                    class="btn btn-xs btn-solid-neutral rd-md">
                                    Add to card
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end card component -->
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>