<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  b bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Breadcrumbs
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-1.5 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">Home</a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">Navigation</a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5 text-title font-semibold">
                            <span aria-current="page">Current Page</span>
                        </li>
                    </ol>
                </nav>
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-1.5 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">Home</a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">Navigation</a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5 text-primary-600 dark:text-primary-500 font-semibold">
                            <span aria-current="page">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Icon
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-house text-lg"></span>
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5 text-title font-semibold">
                            <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Divider
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Home
                            </a>
                            <span class="select-none pointer-events-none" aria-hidden="true">
                                /
                            </span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Navigation
                            </a>
                            <span class="select-none pointer-events-none" aria-hidden="true">
                                /
                            </span>
                        </li>
                        <li class="text-title font-semibold">
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-house text-lg"></span>
                                Home
                            </a>
                            <svg width="16" height="16" fill="currentColor" class="size-4 shrink-0 -rotate-[20deg]"
                                viewBox="0 0 16 16" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                            </svg>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                                Navigation
                            </a>
                            <svg width="16" height="16" fill="currentColor" class="size-4 shrink-0 -rotate-[20deg]"
                                viewBox="0 0 16 16" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                            </svg>
                        </li>
                        <li class="flex items-center gap-x-1.5 text-title font-semibold">
                            <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Outline / Border
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs" class="py-2 px-4 rounded-md bdr-nm b">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="text-title font-semibold">
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
                <nav aria-label="Breadcrumbs" class="border-y py-2 px-4 border-gray-200 dark:border-gray-800">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-house-line text-lg"></span>
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5 text-title font-semibold">
                            <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Gray BG
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs"
                    class="py-2 px-4 rounded-md bg-high bdr-nm b">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="text-title font-semibold">
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
                <nav aria-label="Breadcrumbs"
                    class="py-2 px-4 bg-high b-y bdr_y-high">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-house-line text-lg"></span>
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title flex items-center gap-x-1.5">
                                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5 text-title font-semibold">
                            <span aria-hidden="true" class="flex i-ph-link"></span>
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Custom Item Indicator
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#"
                                class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rounded-full">
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#"
                                class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rounded-full">
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li
                            class="px-1.5 py-px rounded-full b bdr-nm bg-high text-title font-semibold">
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#"
                                class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rounded-full">
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#"
                                class="ease-linear hover-text-sub-title px-1.5 py-px b bdr-nm rounded-full">
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li
                            class="px-1.5 py-px rounded-full border text-white bg-primary-600 dark:bg-primary-500 border-primary-600 dark:border-primary-600 font-semibold">
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#"
                                class="ease-linear hover-text-sub-title flex items-center gap-x-1.5 px-1.5 py-px rounded-full bg-high hover:bg-gray-200 dark:hover:bg-gray-800">
                                <span aria-hidden="true" class="flex i-ph-house-line text-lg"></span>
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <a href="#"
                                class="ease-linear hover-text-sub-title flex items-center gap-x-1.5 px-1.5 py-px rounded-full bg-high hover:bg-gray-200 dark:hover:bg-gray-800">
                                <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                                Navigation
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li
                            class="flex items-center gap-x-1.5 text-title font-semibold px-1.5 py-px rounded-full bg-body">
                            <span aria-hidden="true" class="flex i-ph-link text-lg"></span>
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Static more
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <nav aria-label="Breadcrumbs">
                    <ol class="flex items-center gap-x-3 text-sub-body">
                        <li class="flex items-center gap-x-1.5">
                            <a href="#" class="ease-linear hover-text-sub-title">
                                Home
                            </a>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="flex items-center gap-x-1.5">
                            <span class="pointer-events-none">
                                <span aria-hidden="true" class="flex i-ph-dots-three"></span>
                            </span>
                            <span aria-hidden="true" class="flex i-ph-caret-right"></span>
                        </li>
                        <li class="text-title font-semibold">
                            <span aria-current="page" class="flex">Current Page</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>