<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-nmer hover-input-gray text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Input
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-nm">
                <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered bg-body rd-md">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Gray
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-nm">
                <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered input-gray rd-md">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Label
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-nm">
                <div class="flex flex-col space-y-2">
                    <label for="user_email_2" class="text-sm text-sub-body">Your Email</label>
                    <input type="text" name="user_email_2" id="user_email_2" placeholder="Your email here"
                    class="input input-md input-bordered bg-body rd-md">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Label Inline
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-nm">
                <div class="flex items-center gap-2">
                    <label for="user_email" class="text-sub-body min-w-max">Your Email</label>
                    <input type="text" placeholder="Your email here" name="user_email" id="user_email"
                    class="input input-md input-bordered bg-body rd-md">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Icon/Text - Grouped-Input
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-nm">
                <div class="relative">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered bg-body ps9 rd-md">
                    <span aria-hidden="true"
                        class="absolute left-3 h-full flex items-center top-0 text-body pointer-events-none">
                        <span class="flex text-lg i-ph-user"></span>
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered ps11 bg-body rd-md">
                    <span aria-hidden="true"
                        class="absolute text-sm left-3 h-full flex items-center top-0 text-body pointer-events-none">
                        CDF
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered ps16 bg-body rd-md">
                    <span aria-hidden="true"
                        class="absolute text-sm left-3 h-full flex items-center top-0 text-body pointer-events-none">
                        https://
                    </span>
                </div>
                
                <div class="flex">
                    <span aria-hidden="true"
                        class="px3 flex items-center text-body input-gray rd-l-md bdr_y bdr_l pointer-events-none">
                        <span class="flex text-lg i-ph-user"></span>
                    </span>
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered  bg-body rd-r-md">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Icon - Grouped-Input : Trailling
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-3 rd-lg b bdr-nm">
                <div class="relative">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered pe9 bg-body rd-md">
                    <span aria-hidden="true"
                        class="absolute right-3 h-full flex items-center top-0 text-body pointer-events-none">
                        <span class="flex text-lg i-ph-user"></span>
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered pe11 bg-body rd-md">
                    <span aria-hidden="true"
                        class="absolute text-sm right-3 h-full flex items-center top-0 text-body pointer-events-none">
                        CDF
                    </span>
                </div>
                <div class="relative">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered pe24 bg-body rd-md">
                    <span aria-hidden="true"
                        class="absolute text-sm right-3 h-full flex items-center top-0 text-body pointer-events-none">
                        @gmail.com
                    </span>
                </div>
                <div class="flex">
                    <input type="text" placeholder="Your email here"
                    class="input input-md input-bordered bg-body rd-l-md">
                    <span aria-hidden="true"
                        class="px3 flex items-center text-body input-gray rd-r-md bdr_y bdr_r pointer-events-none">
                        <span class="flex i-ph-user"></span>
                    </span>
                </div>

            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Disabled
            </h1>
            <div class="p-6 flex flex-wrap gap-3 rd-lg b bdr-nm">
                <input type="text" placeholder="Disabled" disabled
                    class="input input-md input-bordered bg-body rd-md">
                <div class="relative">
                    <input type="text" disabled placeholder="Searching..."
                    class="input input-md input-bordered bg-body rd-md">
                    <span aria-hidden="true"
                        class="absolute right-3 h-full flex items-center top-0 text-body pointer-events-none">
                        <span class="flex i-ph-arrow-clockwise animate-spin"></span>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>