---
import ImageSize from "./ImageSize.astro";
---

<div class="flex flex-wrap items-center gap-2 wmax max-wfull mx-a">
    <ImageSize type="image" size="xs" src="/defaultavatar.webp" placeholder="avatar xs variant" />
    <ImageSize type="image" size="sm" src="/defaultavatar.webp" placeholder="avatar sm variant" />
    <ImageSize type="image" size="md" src="/defaultavatar.webp" placeholder="avatar md variant" />
    <ImageSize type="image" size="lg" src="/defaultavatar.webp" placeholder="avatar lg variant" />
    <ImageSize type="image" size="xl" src="/defaultavatar.webp" placeholder="avatar xl variant" />
</div>