---
import ImageSize from "./ImageSize.astro";
---

<div class="flex flex-wrap items-center gap-2 wmax max-wfull mx-a">
    <ImageSize type="placeholder" size="xs" variant="subtle" intent="primary" text="JK" />
    <ImageSize type="placeholder" size="sm" variant="subtle" intent="gray" text="JK" />
    <ImageSize type="placeholder" size="md" variant="subtle" intent="neutral" text="JK" />
</div>