---
import Button from "../button/Button.astro";
---

<div class="flex flex-wrap items-center gap-3">
    <Button class="btn-solid-primary text-white" size="sm" data-offcanvas-trigger data-target="slide-over-from-left" aria-controls="slide-over-from-left">
        From left
    </Button>
    <Button class="btn-solid-primary text-white" size="sm" data-offcanvas-trigger data-target="slide-over-from-right" aria-controls="slide-over-from-right">
        From right
    </Button>
    <Button class="btn-solid-primary text-white" size="sm" data-offcanvas-trigger data-target="slide-over-bottom" aria-controls="slide-over-bottom">
        From bottom
    </Button>
    <Button class="btn-solid-primary text-white" size="sm" data-offcanvas-trigger data-target="slide-over-top" aria-controls="slide-over-top">
        From top
    </Button>
</div>