---
import Button from "../button/Button.astro";
---

<div class="flex flex-wrap items-center gap-3">
    <Button class="btn-solid-primary text-white" size="sm" data-offcanvas-trigger data-target="slide-over-overlay" aria-controls="slide-over-overlay">
        Overlay
    </Button>
    <Button class="btn-solid-primary text-white" size="sm" data-offcanvas-trigger data-target="slide-over-overlay1" aria-controls="slide-over-overlay1">
        Overlay with blur
    </Button>
</div>