---
import type { BtnSizeVariant, CornerRadius } from "@/types/index";
import type { HTMLAttributes } from "astro/types";

type Props = {
    variant?: "soft" | "outline" | "solid" | "ghost";
    size?: BtnSizeVariant;
    radius?: CornerRadius;
} & HTMLAttributes<"button">;

const variants = {
    solid: "btn-solid",
    soft: "btn-soft",
    outline: "btn-outline",
    ghost: "btn-ghost",
};
const sizes = {
    xs: "btn-xs",
    sm: "btn-sm",
    md: "btn-md",
    lg: "btn-lg",
    xl: "btn-xl",
    "icon-xs": "btn-icon-xs",
    "icon-sm": "btn-icon-sm",
    "icon-md": "btn-icon-md",
    "icon-lg": "btn-icon-lg",
    "icon-xl": "btn-icon-xl",
};

const cornerRadius = {
    sm: "rd-sm",
    md: "rd-md",
    lg: "rd-lg",
    xl: "rd-xl",
    "2xl": "rd-2xl",
    "3xl": "rd-3xl",
    full: "rd-full",
};

const {
    size = "md",
    radius = "lg",
    class: className = "",
    variant = "solid",
    ...rest
} = Astro.props;
---

<button
    class:list={[
        "btn",
        `${sizes[size]}`,
        variants[variant],
        `${cornerRadius[radius]}`,
        className,
    ]}
    {...rest}
>
    <slot />
</button>
