---
import Button from "./Button.astro";
---
<div class="flex flex-wrap items-center gap-2 wfull">
    <Button size="icon-xs" class="btn-solid-primary text-white">
        <span aria-hidden="true" class="flex i-ph-atom"></span>
    </Button>
    <Button size="icon-sm" class="btn-solid-primary text-white">
        <span aria-hidden="true" class="flex i-ph-atom"></span>
    </Button>
    <Button size="icon-md" class="btn-solid-primary text-white">
        <span aria-hidden="true" class="flex i-ph-atom"></span>
    </Button>
    <Button size="icon-lg" class="btn-solid-primary text-white">
        <span aria-hidden="true" class="flex i-ph-atom"></span>
    </Button>
    <Button size="icon-xl" class="btn-solid-primary text-white">
        <span aria-hidden="true" class="flex i-ph-atom"></span>
    </Button>
</div>