---
import Button from "./Button.astro";
---
<div class="flex flex-wrap items-center gap-2 wfull">
    <Button size="xs" class="btn-solid-primary text-white">
        Click me
    </Button>
    <Button size="sm" class="btn-solid-primary text-white">
        Click me
    </Button>
    <Button class="btn-solid-primary text-white">
        Click me
    </Button>
    <Button size="lg" class="btn-solid-primary text-white">
        Click me
    </Button>
    <Button size="xl" class="btn-solid-primary text-white">
        Click me
    </Button>
</div>