---
import Button from "./Button.astro";
---

<div>
    <div class="grid grid-cols-[auto_minmax(0,1fr)] gap-4 overflow-hidden">
        <div class="grid text-sm text-sub-body mt14 pl3 sm-pl0">
            <div>Primary</div>
            <div>Secondry</div>
            <div>Accent</div>
            <div>Success</div>
            <div>Info</div>
            <div>Warning</div>
            <div>Danger</div>
            <div>Gray</div>
            <div>Neutral</div>
        </div>
        <div class="grid overflow-hidden">
            <div data-invisible-scrollbar class="grid overflow-x-auto">
                <div
                    class="grid grid-cols-4 gap-4 px4 text-sm text-sub-body pb3"
                >
                    <div>Solid</div>
                    <div>Outline</div>
                    <div>Soft</div>
                    <div>Ghost</div>
                </div>
                <div class="p4 rd-md b bdr-high gap4 grid min-wmax">
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-primary text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-primary"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-primary"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-primary"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button
                            size="sm"
                            class={"btn-solid-secondary text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-secondary"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-secondary"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-secondary"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-accent text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-accent"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-accent"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-accent"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-success text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-success"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-success"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-success"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-info text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-info"}>Click Me</Button
                        >
                        <Button size="sm" variant="soft" class={"btn-soft-info"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-info"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-warning text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-warning"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-warning"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-warning"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-danger text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-danger"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-danger"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-danger"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-gray text-white"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-gray"}>Click Me</Button
                        >
                        <Button size="sm" variant="soft" class={"btn-soft-gray"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-gray"}>Click Me</Button
                        >
                    </div>
                    <div class="flex items-center gap-x4">
                        <Button size="sm" class={"btn-solid-neutral"}
                            >Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="outline"
                            class={"btn-outline-neutral"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="soft"
                            class={"btn-soft-neutral"}>Click Me</Button
                        >
                        <Button
                            size="sm"
                            variant="ghost"
                            class={"btn-ghost-neutral"}>Click Me</Button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
