<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  b bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span class="badge-md rounded-md badge-solid">
                    badge
                </span>
                <span
                    class="badge-md rounded-md badge-solid flex items-center gap-x-1">
                    <span class="flex size-2 rounded-full bg-high" aria-hidden="true"></span>
                    Badge with indicator
                </span>
                <span class="px-2 py-1 text-sm badge-solid">
                    rounded none
                </span>
                <span class="px-2 py-1 text-sm rounded-sm badge-solid">
                    rounded sm
                </span>
                <span class="px-2 py-1 text-sm rounded badge-solid">
                    rounded
                </span>
                <span class="px-2 py-1 text-sm rounded-md badge-solid">
                    rounded-md
                </span>
                <span class="px-2 py-1 text-sm rd-lg badge-solid">
                    rd-lg
                </span>
                <span class="px-2 py-1 text-sm rounded-xl badge-solid">
                    rounded-xl
                </span>
                <span class="px-2 py-1 text-sm rounded-full badge-solid">
                    rounded-full
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Outline Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="px-2 py-1 text-sm rounded-md border border-gray-100 dark:border-gray-900 text-title">
                    outline
                </span>
                <span class="px-2 py-1 text-sm border border-danger-600 text-danger-600">
                    outline
                </span>
                <span class="px-2 py-1 text-sm rounded-sm border border-success-600 text-success-600">
                    outline
                </span>
                <span class="px-2 py-1 text-sm rounded-md border border-warning-600 text-warning-600">
                    outline
                </span>
                <span class="px-2 py-1 text-sm rounded-full border border-warning-600 text-warning-600">
                    2 test
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Solid Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span class="px-2 py-1 text-sm rounded-md bg-gray-200 dark:bg-gray-800 text-title">
                    online
                </span>
                <span class="px-2 py-1 text-sm rounded-sm bg-success-600 text-white">
                    completed
                </span>
                <span class="px-2 py-1 text-sm rounded-md bg-warning-600 text-white">
                    Pending
                </span>
                <span class="px-2 py-1 text-sm rounded-full bg-danger-600 text-white">
                    Canceled
                </span>
            </div>
        </div>
        
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Soft Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="rd-md badge-md badge-soft-primary">
                    Badge
                </span>
                <span class="rd-md badge-md badge-soft-secondary">
                    A badge
                </span>
                <span class="rd-md badge-md badge-soft-accent">
                    A badge
                </span>
                <span class="rd-md badge-md badge-soft-warning">
                    Badge Example
                </span>
                <span class="rd-md badge-md badge-soft-success">
                    A badge
                </span>
                <span class="rd-md badge-md badge-soft-danger">
                    A badge
                </span>
                <span class="rd-md badge-md badge-soft">
                    A badge
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Subtle Badge
            </h1>
            <div class="p-6  flex flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="rd-md badge-md badge-subtle-primary">
                    Badge
                </span>
                <span class="rd-md badge-md badge-subtle-secondary">
                    A badge
                </span>
                <span class="rd-md badge-md badge-subtle-accent">
                    A badge
                </span>
                <span class="rd-md badge-md badge-subtle-warning">
                    Badge Example
                </span>
                <span class="rd-md badge-md badge-subtle-success">
                    A badge
                </span>
                <span class="rd-md badge-md badge-subtle-danger">
                    A badge
                </span>
                <span class="rd-md badge-md badge-subtle">
                    A badge
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex items-center flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="rd-md badge-xs badge-subtle">
                    badge XS
                </span>
                <span
                    class="rd-md badge-sm badge-subtle">
                    Badge SM
                </span>
                <span
                    class="rd-md badge-md badge-subtle">
                    MD/Default
                </span>
                <span
                    class="rd-md badge-lg badge-subtle">
                    Badge Lg
                </span>
                <span
                    class="rd-md badge-xl badge-subtle">
                    Badge xl
                </span>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>