<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  b bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span class="badge-md rd-md ui-solid">
                    badge
                </span>
                <span
                    class="badge-md rd-md ui-solid flex items-center gap-x-1">
                    <span class="flex size-2 rd-full bg-high" aria-hidden="true"></span>
                    Badge with indicator
                </span>
                <span class="badge-md ui-solid">
                    rounded none
                </span>
                <span class="badge-md rd-sm ui-solid">
                    rounded sm
                </span>
                <span class="badge-md rounded ui-solid">
                    rounded
                </span>
                <span class="badge-md rd-md ui-solid">
                    rd-md
                </span>
                <span class="badge-md rd-lg ui-solid">
                    rd-lg
                </span>
                <span class="badge-md rd-xl ui-solid">
                    rd-xl
                </span>
                <span class="badge-md rd-full ui-solid">
                    rd-full
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Outline Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="badge-md rd-md border ui-outline">
                    outline
                </span>
                <span class="badge-md border ui-outline-danger">
                    outline
                </span>
                <span class="badge-md rd-sm border ui-outline-success">
                    outline
                </span>
                <span class="badge-md rd-md border ui-outline-warning">
                    outline
                </span>
                <span class="badge-md rd-full border ui-outline-warning">
                    2 test
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Solid Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span class="badge-md rd-md ui-solid">
                    online
                </span>
                <span class="badge-md rd-sm ui-solid-success text-white">
                    completed
                </span>
                <span class="badge-md rd-md ui-solid-warning text-white">
                    Pending
                </span>
                <span class="badge-md rd-full ui-solid-danger text-white">
                    Canceled
                </span>
            </div>
        </div>
        
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Soft Badge
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="rd-md badge-md ui-soft-primary">
                    Badge
                </span>
                <span class="rd-md badge-md ui-soft-secondary">
                    A badge
                </span>
                <span class="rd-md badge-md ui-soft-accent">
                    A badge
                </span>
                <span class="rd-md badge-md ui-soft-warning">
                    Badge Example
                </span>
                <span class="rd-md badge-md ui-soft-success">
                    A badge
                </span>
                <span class="rd-md badge-md ui-soft-danger">
                    A badge
                </span>
                <span class="rd-md badge-md ui-soft">
                    A badge
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Subtle Badge
            </h1>
            <div class="p-6  flex flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="rd-md badge-md ui-subtle-primary">
                    Badge
                </span>
                <span class="rd-md badge-md ui-subtle-secondary">
                    A badge
                </span>
                <span class="rd-md badge-md ui-subtle-accent">
                    A badge
                </span>
                <span class="rd-md badge-md ui-subtle-warning">
                    Badge Example
                </span>
                <span class="rd-md badge-md ui-subtle-success">
                    A badge
                </span>
                <span class="rd-md badge-md ui-subtle-danger">
                    A badge
                </span>
                <span class="rd-md badge-md ui-subtle">
                    A badge
                </span>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex items-center flex-wrap gap-4 rd-lg b bdr-high">
                <span
                    class="rd-md badge-xs ui-subtle">
                    badge XS
                </span>
                <span
                    class="rd-md badge-sm ui-subtle">
                    Badge SM
                </span>
                <span
                    class="rd-md badge-md ui-subtle">
                    MD/Default
                </span>
                <span
                    class="rd-md badge-lg ui-subtle">
                    Badge Lg
                </span>
                <span
                    class="rd-md badge-xl ui-subtle">
                    Badge xl
                </span>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>