<div class="flex flex-col gap-3">
    <nav>
        <ul class="flex items-center gap-0.5 text-body">
            <li>
                <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                    Prev
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                    1
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                    2
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                    3
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>