<nav>
    <ul class="flex items-center gap-0.5 text-body">
        <li>
            <a aria-label="Prev page" href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px gap-x-1.5 justify-center rd-md">
                <span aria-hidden="true" class="flex i-ph-caret-left text-lg"></span>
                Prev
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                1
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                2
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center rd-md">
                3
            </a>
        </li>
        <li>
            <a aria-label="Next page" href="#" class="btn btn-sm btn-ghost btn-ghost-gray min-w-36px justify-center gap-x-1.5 rd-md">
                Next
                <span aria-hidden="true" class="flex i-ph-caret-right text-lg"></span>
            </a>
        </li>
    </ul>
</nav>