<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
          <button data-switch-theme aria-label="toggle app theme"
            class="btn btn-icon-md rd-full b  b bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
            <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
          </button>
        </div>
      </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-xs text-white btn-solid rd-lg">
                    button
                </button>
                <button class="btn btn-sm text-white btn-solid rd-lg">
                    button
                </button>
                <button class="btn btn-md text-white btn-solid rd-lg">
                    button
                </button>
                <button class="btn btn-lg text-white btn-solid rd-lg">
                    button
                </button>
                <button class="btn btn-xl text-white btn-solid rd-lg">
                    button
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Icons
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button aria-label="button with icon" class="btn btn-icon-xs text-white btn-solid rd-lg">
                    <span aria-hidden="true" class="flex i-ph-atom"></span>
                </button>
                <button aria-label="button with icon" class="btn btn-icon-sm text-white btn-solid rd-lg">
                    <span aria-hidden="true" class="flex i-ph-atom"></span>
                </button>
                <button aria-label="button with icon" class="btn btn-icon-md text-white btn-solid rd-lg">
                    <span aria-hidden="true" class="flex i-ph-atom"></span>
                </button>
                <button aria-label="button with icon" class="btn btn-icon-lg text-white btn-solid rd-lg">
                    <span aria-hidden="true" class="flex i-ph-atom"></span>
                </button>
                <button aria-label="button with icon" class="btn btn-icon-xl text-white btn-solid rd-lg">
                    <span aria-hidden="true" class="flex i-ph-atom"></span>
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Intent
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-md text-white btn-solid rd-lg">
                    Primary
                </button>
                <button class="btn btn-md text-white btn-solid-secondary rd-lg">
                    Secondary
                </button>
                <button class="btn btn-md text-white btn-solid-accent rd-lg">
                    Accent
                </button>
                <button class="btn btn-md text-white btn-solid-success rd-lg">
                    Success
                </button>
                <button class="btn btn-md text-white btn-solid-info rd-lg">
                    Info
                </button>
                <button class="btn btn-md text-white btn-solid-danger rd-lg">
                    Danger
                </button>
                <button class="btn btn-md text-white btn-solid-neutral rd-lg">
                    Neutral
                </button>
                <button class="btn btn-md text-white btn-solid-gray rd-lg">
                    Gray
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                White / Dark
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-md btn-white rd-lg">
                    Click me
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Icon
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-md text-white btn-solid rd-lg gap-2">
                    <span aria-hidden="true" class="flex i-ph-arrows-clockwise"></span>
                    Icon left
                </button>
                <button class="btn btn-md text-white btn-solid rd-lg gap-2">
                    Icon left
                    <span aria-hidden="true" class="flex i-ph-arrows-clockwise"></span>
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                State
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button disabled
                    class="btn btn-md text-white btn-solid rd-lg gap-x1.5">
                    <span aria-hidden="true" class="flex i-ph-arrows-clockwise animate-spin"></span>
                    Loading
                </button>
                <button disabled
                    class="btn btn-md text-white btn-solid rd-lg gap-x1.5">
                    Disabled
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Ghost
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-md btn-ghost rd-lg">
                    Primary
                </button>
                <button class="btn btn-md btn-ghost-secondary rd-lg">
                    Secondary
                </button>
                <button class="btn btn-md btn-ghost-accent rd-lg">
                    Accent
                </button>
                <button class="btn btn-md btn-sghostsuccess rd-lg">
                    Success
                </button>
                <button class="btn btn-md btn-ghost-info rd-lg">
                    Info
                </button>
                <button class="btn btn-md btn-ghost-danger rd-lg">
                    Danger
                </button>
                <button class="btn btn-md btn-ghost-neutral rd-lg">
                    Neutral
                </button>
                <button class="btn btn-md btn-ghost-gray rd-lg">
                    Gray
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Outline
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-md btn-outline rd-lg">
                    Primary
                </button>
                <button class="btn btn-md btn-outline-secondary rd-lg">
                    Secondary
                </button>
                <button class="btn btn-md btn-outline-accent rd-lg">
                    Accent
                </button>
                <button class="btn btn-md btn-outline-success rd-lg">
                    Success
                </button>
                <button class="btn btn-md btn-outline-info rd-lg">
                    Info
                </button>
                <button class="btn btn-md btn-outline-danger rd-lg">
                    Danger
                </button>
                <button class="btn btn-md btn-outline-neutral rd-lg">
                    Neutral
                </button>
                <button class="btn btn-md btn-outline-gray rd-lg">
                    Gray
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Soft
            </h1>
            <div class="p-6 flex flex-wrap items-center gap-2 rd-lg b bdr-high">
                <button class="btn btn-md btn-soft rd-lg">
                    Primary
                </button>
                <button class="btn btn-md btn-soft-secondary rd-lg">
                    Secondary
                </button>
                <button class="btn btn-md btn-soft-accent rd-lg">
                    Accent
                </button>
                <button class="btn btn-md btn-soft-success rd-lg">
                    Success
                </button>
                <button class="btn btn-md btn-soft-info rd-lg">
                    Info
                </button>
                <button class="btn btn-md btn-soft-danger rd-lg">
                    Danger
                </button>
                <button class="btn btn-md btn-soft-neutral rd-lg">
                    Neutral
                </button>
                <button class="btn btn-md btn-soft-gray rd-lg">
                    Gray
                </button>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Corner Radius
            </h1>
            <div class="p-6 flex flex-wrap gap-2 rd-lg b bdr-high">
                <button class="btn btn-md text-white btn-solid">
                    rounded none
                </button>
                <button class="btn btn-md text-white btn-solid rd-sm">
                    rounded sm
                </button>
                <button class="btn btn-md text-white btn-solid rd-md">
                    rounded md
                </button>
                <button class="btn btn-md text-white btn-solid rd-lg">
                    rounded lg
                </button>
                <button class="btn btn-md text-white btn-solid rd-xl">
                    rounded xl
                </button>
                <button class="btn btn-md text-white btn-solid rd-full">
                    rounded full
                </button>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>