<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery</title>
    <meta name="description" content="Grocery Store Website">
    <link
        href="https://fonts.googleapis.com/family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            width: 100%;
        }

        button[data-toggle-navbar][data-is-open="true"] #line-1 {
            transform: rotate(45deg) translateY(0.375rem);
        }

        button[data-toggle-navbar][data-is-open="true"] #line-2 {
            transform: rotate(-45deg) translateY(-0.375rem);
        }
    </style>
</head>

<body bg="orange-50 dark:gray-950" class="overflow-x-hidden overflow-y-auto lg-overflow-y-auto">

    <!-- navbar -->
    <div data-nav-overlay aria-hidden="true" fixed bg="gray-7/40" inset-0 z-30 class="hidden lg:hidden"></div>
    <header bg="orange-50 dark:gray-950" fixed left-0 top-0 z-40 w-full flex items-center h-20 border-b="~ gray-1 dark:gray-7">
        <nav relative mx-auto max-w-7xl w-full px="5 sm:10 md:12 lg:5" flex gap-x-5 justify-between items-center>
            <div flex items-center min-w-max>
                <a href="#" font-semibold text="xl gray-8 dark:gray-2">
                    <span relative text-orange-600 after="absolute content-empty inset-0 rotate-3 border border-orange-600">Grocy</span>Mart
                </a>
            </div>

            <div data-navbar bg="white dark:gray-950 lg:transparent" border="b b-gray-2 dark:b-gray-7 lg:none" py="8 lg:0" px="5 sm:10 md:12 lg:0" absolute left-0 top-full lg-top-0 w-full lg-relative  lg-flex lg-justify-between duration-300 ease-linear
                class="translate-y-10 -rotate-12 op-0 invisible lg-visible lg-rotate-0 lg-translate-y-0 lg-op-100">
                <ul flex flex-col lg-flex-row gap-6 lg-items-center text="gray-7 dark:gray-300" lg-w-full lg-justify-center>
                    <li>
                        <a href="#" relative py-2.5 duration-300 ease-linear hover:text-orange-600 
                        after="absolute content-empty w-full left-0 bottom-0 h-px rd-md origin-left ease-linear duration-300 scale-x-0 bg-orange-600" hover:after:scale-100>Home</a>
                    </li>
                    <li>
                        <a href="#" relative py-2.5 duration-300 ease-linear hover:text-orange-600 
                        after="absolute content-empty w-full left-0 bottom-0 h-px rd-md origin-left ease-linear duration-300 scale-x-0 bg-orange-600" hover:after:scale-100>Categories</a>
                    </li>
                    <li>
                        <a href="#" relative py-2.5 duration-300 ease-linear hover:text-orange-600 
                        after="absolute content-empty w-full left-0 bottom-0 h-px rd-md origin-left ease-linear duration-300 scale-x-0 bg-orange-600" hover:after:scale-100>Sales</a>
                    </li>
                    <li>
                        <a href="#" relative py-2.5 duration-300 ease-linear hover:text-orange-600 
                        after="absolute content-empty w-full left-0 bottom-0 h-px rd-md origin-left ease-linear duration-300 scale-x-0 bg-orange-600" hover:after:scale-100>About</a>
                    </li>
                    <li>
                        <a href="#" relative py-2.5 duration-300 ease-linear hover:text-orange-600 
                        after="absolute content-empty w-full left-0 bottom-0 h-px rd-md origin-left ease-linear duration-300 scale-x-0 bg-orange-600" hover:after:scale-100>Contact</a>
                    </li>
                </ul>
                <div aria-hidden="true"
                   flex flex-col sm-flex-row sm-items-center gap-4  lg-min-w-max mt-10 lg-mt-0>
                    <div aria-hidden="true" hidden lg-flex lg-items-center>
                        <a href="#" class="relative px-1.5">
                            <span class="sr-only">cart</span>
                            <span absolute top-0 right-0 bg-orange-600 w2 h2 rd-full></span>
                            <span i-carbon-shopping-cart bg="gray-7 dark:gray-300" flex text-2xl></span>
                        </a>
                    </div>
                    <a href="#" px5 py2.5 rd-md text-orange-600 underline flex justify-center>
                        Signin
                    </a>
                    <a href="#" px-5 py-2.5 rd-md bg="orange-600 hover:orange-700" text-white flex justify-center duration-300 ease-linear>
                        Signup
                    </a>
                </div>
            </div>
            <div aria-hidden="true" flex items-center lg-hidden gap-x-4>
                <div aria-hidden="true" class="flex items-center gap-x-4 lg:hidden">
                    <a href="#" relative px-1.5>
                        <span class="sr-only">cart</span>
                        <span absolute top-0 right-0 bg-orange-600 w-2 h-2 rd-full></span>
                        <span i-carbon-shopping-cart bg="gray-7 dark:gray-300" flex text-2xl></span>
                    </a>
                    <div class="flex">
                        <button data-toggle-navbar data-is-open="false"
                            outline-none border="l l-orange-100 dark:l-gray-7" pl-3 relative py-3 bg-transparent>
                            <span class="sr-only">Toggle navbar</span>
                            <div id="line-1" aria-hidden="true" bg="gray-8 dark:gray-2" h0.5 w6 rd  transition duration-300></div>
                            <div id="line-2" aria-hidden="true" bg="gray-8 dark:gray-2" mt2 h0.5 w6 rd transition duration-300></div>
                        </button>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <script type="module" src="./../../../../main.js"></script>

    <script>
        const btnHumb = document.querySelector("[data-toggle-navbar]")
        const navbar = document.querySelector("[data-navbar]")
        const overlay = document.querySelector("[data-nav-overlay]")
        if (btnHumb && navbar) {
            const toggleBtnAttr = () => {
                const isOpen = btnHumb.getAttribute("data-is-open")
                btnHumb.setAttribute("data-is-open", isOpen === "true" ? "false" : "true")
                if (isOpen === "false") {
      document.body.classList.remove("overflow-y-auto");
      document.body.classList.add("overflow-hidden");
      overlay.classList.toggle("hidden");
    } else {
      document.body.classList.add("overflow-y-auto");
      document.body.classList.remove("overflow-hidden");
      overlay.classList.add("hidden");
    }
            }
            btnHumb.addEventListener("click", () => {
                navbar.classList.toggle("invisible")
                navbar.classList.toggle("op-0")
                navbar.classList.toggle("translate-y-10")
                navbar.classList.toggle("-rotate-12")
                toggleBtnAttr()
            })

            overlay.addEventListener("click", () => {
                navbar.classList.add("invisible")
                navbar.classList.add("op-0")
                navbar.classList.add("translate-y-10")
                navbar.classList.add("-rotate-12")
                toggleBtnAttr()
            })
        }
    </script>
</body>

</html>