---
import { ViewTransitions } from "astro:transitions";
import { AstroFont } from "astro-font";
import "@assets/css/global.css";
import "@assets/css/find-ui.css";
import type { SeoType } from "../types";
import SEO from "@components/molecules/SEO.astro";
import ScriptTheme from "./ScriptTheme.astro";
import ScriptPageFind from "./ScriptPageFind.astro";
type Props = {
  seo: SeoType;
};

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-body">
  <head>
    <SEO seo={seo}>
      <link rel="sitemap" href="/sitemap-index.xml" />
    </SEO>

    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "geistSans",
          src: [
            {
              style: "normal",
              weight: "400",
              path: "/fonts/geist-normal.woff",
            },
            {
              style: "normal",
              weight: "500",
              path: "/fonts/geist-medium.woff",
            },
            {
              style: "normal",
              weight: "600",
              path: "/fonts/geist-semibold.woff",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".font-geist",
          fallback: "serif",
        },
      ]}
    />

    <ScriptTheme />
    <ScriptPageFind />
  </head>
  <body
    class="overflow-hidden overflow-y-auto lg-overflow-y-auto bg-body font-geist"
  >
    <slot />
    <script>
      import { initScriptTheme } from "@assets/js/theme";
      import { initNavbar } from "@assets/js/navbar";
      import { initSwitchPalette } from "@assets/js/switch-palette";
      import {initCommonScript } from "@assets/js/global"

      const initMainScript = () => {
        initScriptTheme();
        initNavbar();
        initSwitchPalette();
        initCommonScript()
      };

      initMainScript()
      document.addEventListener("astro:after-swap", initMainScript);
    </script>
  </body>
</html>
