<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Divider
            </h1>
            <div class="p-6 rd-lg flex flex-col gap-4 b bdr-high">
                <hr class="divider-hr-border-primary">
                <hr class="divider-hr-border-secondary">
                <hr class="divider-hr-border-danger">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size : Height
            </h1>
            <div class="p-6 rd-lg flex flex-col gap-4 b bdr-high">
                <hr class="divider-hr-border">
                <hr class="divider-hr-2 divider-hr-border">
                <hr class="divider-hr-3 divider-hr-border">
                <hr class="divider-hr-4 divider-hr-border">
                <hr class="divider-hr-6 divider-hr-border">
                <hr class="divider-hr-8 divider-hr-border">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Corner Radius
            </h1>
            <div class="p-6 rd-lg flex flex-col gap-4 b bdr-high">
                <hr class="divider-hr-border rd-lg">
                <hr class="divider-hr-2 divider-hr-border rd-lg">
                <hr class="divider-hr-3 divider-hr-border-primary rd-md">
                <hr class="divider-hr-4 divider-hr-border rd-3xl">
                <hr class="divider-hr-6 divider-hr-border rd-md">
                <hr class="divider-hr-8 divider-hr-border rd-full">
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With label
            </h1>
            <div class="p-6 rd-lg flex flex-col gap-4 b bdr-high">
                <div role="divider" class="divider-custom divider-custom-1 divider-custom-bg-gray flex justify-start items-center">
                    <span class="pr-3 bg-body text-body relative">Label Start</span>
                </div>
                <div role="divider" class="divider-custom divider-custom-1 divider-custom-bg-gray flex justify-center items-center">
                    <span class="px-3 bg-body text-body relative">Label Center</span>
                </div>
                <div role="divider" class="divider-custom divider-custom-1 divider-custom-bg-gray flex justify-end items-center">
                    <span class="pl-3 bg-body text-body relative">Label Start</span>
                </div>
                <div role="divider" class="divider-custom divider-custom-1 divider-custom-bg-gray flex justify-center items-center">
                    <span class="px-3 bg-emerald-600 dark:bg-emerald-500 text-sm text-white rd-full py-px relative">Custom label</span>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>