---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"p"> & {}
const { class: className, ...rest } = Astro.props;
---

<p class={`text-body ${className}`} {...rest}>
  <slot />
</p>
