---
import { discordServer, orgUrl, twitterLink } from "@/const/index";
import UiLink from "./UiLink.astro";


const links = [
    {
        title: "Discord Server",
        href: discordServer,
        icon: "i-fx-discord",
    },
    {
        title: "Github Account",
        href: orgUrl,
        icon: "i-fx-github",
    },
    {
        title: "X account",
        href: twitterLink,
        icon: "i-ph-x-logo",
    },
];
---
<div class="flex items-center gap-x0.5">
    
{
    links.map((link) => (
        <UiLink href={link.href} aria-label={link.title} class="btn-nav-icon">
            <span aria-hidden="true" class={`flex ${link.icon}`} />
        </UiLink>
    ))
}
</div>
