<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Switch
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <input type="checkbox" name="switch_1" id="switch_1" class="bg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />

            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With label
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <label for="switch" class="">
                    <input type="checkbox" name="switch" id="switch" class="bg-body text-title switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-white dark-switch-checked-thumb-gray950 peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">Use
                        Dark Theme</span>
                </label>
                <label for="switch_lab1">
                    <input type="checkbox" checked name="switch_lab1" id="switch_lab1" class="bg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">Checked</span>
                </label>
                <label for="switch_lab_2" class="">
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 me-3">No</span>
                    <input type="checkbox" name="switch_lab_2" id="switch_lab_2" class="bg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">Yes</span>
                </label>

            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Disabled
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <label for="switch_disabled" class="">
                    <input disabled type="checkbox" name="switch_disabled" id="switch_disabled" class="bg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">Use
                        Dark Theme</span>
                </label>
                <label for="switch_disabled2">
                    <input disabled type="checkbox" checked name="switch_disabled2" id="switch_disabled2" class="abg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">Checked</span>
                </label>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <label for="switch_sm" class="">
                    <input type="checkbox" name="switch_sm" id="switch_sm" class="bg-body text-primary600 switch switch-sm switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">SM</span>
                </label>
                <label for="switch_normal" class="">
                    <input type="checkbox" name="switch_normal" id="switch_normal" class="bg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">MD</span>
                </label>
                <label for="switch_md">
                    <input type="checkbox" checked name="switch_md" id="switch_md" class="bg-body text-primary600 switch switch-lg switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">LG</span>
                </label>
                <label for="switch_md">
                    <input type="checkbox" checked name="switch_md" id="switch_md" class="bg-body text-primary600 switch switch-xl switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
                    <span
                        class="text-sub-title peer-disabled:pointer-events-none peer-disabled:op50 ms-3">XL</span>
                </label>

            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>