<div class="space-y-4 wfull">
    <textarea placeholder="Your message here" class="form-input form-input-md form-input-bordered bg-body rd-md"></textarea>
    <textarea placeholder="Your message here" class="form-input form-input-md form-input-bordered-high bg-high rd-md"></textarea>
</div>