<div class="space-y-2">
    <label for="message" class="w-max text-sm text-sub-body">Your Message</label>
    <textarea id="message" name="message" placeholder="Tell us your ...." class="form-input form-input-md form-input-bordered bg-body rd-md"></textarea>
</div>