<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Meter
            </h1>
            <div class="p-6 flex flex-col gap-8 rd-lg b bdr-high">
                <meter max="9" value="4" class="meter meter-h-md meter-rounded-md bg-high text-primary500"></meter>
                <meter max="9" value="4" class="meter meter-h-md meter-rounded-md bg-high text-accent500"></meter>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Progress indicator
            </h1>
            <div class="p-6 flex flex-col gap-8 rd-lg b bdr-high">
                <div class="">
                    <div class="flex justify-end" style="width: 40%">
                        <span class="text-sm text-body">40%</span>
                    </div>
                    <meter max="10" value="4" class="meter meter-h-md meter-rounded-md bg-high text-warning500"></meter>
                </div>
                <div class="relative h-max">
                    <meter max="100" value="70" class="meter meter-h-2xl meter-rounded-md bg-high text-info500"></meter>
                     <div class="flex justify-end absolute top-0 left-0 h-6 items-center z-10" style="width: 40%">
                        <span class="text-sm text-white">70%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Meter Size
            </h1>
            <div class="p-6 flex flex-col gap-8 rd-lg b bdr-high">
                <meter max="100" value="70" class="meter meter-h-xs meter-rounded-md bg-high text-primary500"></meter>
                <meter max="100" value="70" class="meter meter-h-sm meter-rounded-md bg-high text-primary500"></meter>
                <meter max="100" value="70" class="meter meter-h-md meter-rounded-md bg-high text-primary500"></meter>
                <meter max="100" value="70" class="meter meter-h-lg meter-rounded-md bg-high text-primary500"></meter>
                <meter max="100" value="70" class="meter meter-h-xl meter-rounded-md bg-high text-primary500"></meter>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>