<div class="flex flex-wrap items-center gap-3">
    <kbd class="kbd-xs ui-solid text-title rd-md">
        kbd xs
    </kbd>
    <kbd class="kbd-sm ui-solid text-title rd-md">
        Kbd sm
    </kbd>
    <kbd class="kbd-md ui-solid text-title rd-md">
        Kbd md
    </kbd>
    <kbd class="kbd-lg ui-solid text-title rd-md">
        Kbd lg
    </kbd>
    <kbd class="kbd-xl ui-solid text-title rd-md">
        Kbd xl
    </kbd>
</div>