<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="bg-body pt14">
  <div class="fixed bottom-0 w-screen inset-x-0">
    <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
      <button data-switch-theme aria-label="toggle app theme"
        class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
        <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
      </button>
    </div>
  </div>
  <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Default Accordion
      </h1>
      <div class="p-6 rd-lg b bdr-high">
        <div data-accordion data-default-value="accordion-1" data-type="single" class="">
          <div data-accordion-item data-accordion-value="accordion-1" class="b-b bdr_b-nm">
            <button data-accordion-trigger aria-label="toggle button"
              class="w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg group">
              Is it accessible?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="py-2">
                Yes. It adheres to the WAI-ARIA design pattern.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-2" class="b-b bdr_b-nm">
            <button data-accordion-trigger aria-label="toggle button"
              class="w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg group">
              Is it unstyled?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="py-2">
                Yes. It's unstyled by default, giving you freedom over the look and feel.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-3" class="b-b bdr_b-nm">
            <button data-accordion-trigger aria-label="toggle button"
              class="w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg group">
              Can it be animated?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="py-2">
                Yes! You can use the transition prop to configure the animation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Solid Accordion
      </h1>
      <div class="p-6 rd-lg b bdr-high">
        <div data-accordion data-default-value="accordion-1" data-type="single" class="space-y-2">
          <div data-accordion-item data-accordion-value="accordion-1" class="rounded-md accordion-solid">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Is it accessible?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It adheres to the WAI-ARIA design pattern.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-2" class="rounded-md bg-gray-100 dark:bg-gray-900">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Is it unstyled?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It's unstyled by default, giving you freedom over the look and feel.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-3" class="rounded-md bg-gray-100 dark:bg-gray-900">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Can it be animated?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes! You can use the transition prop to configure the animation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Soft Accordion
      </h1>
      <div class="p-6 rd-lg b bdr-high">
        <div data-accordion data-default-value="accordion-1" data-type="single" class="space-y-2">
          <div data-accordion-item data-accordion-value="accordion-1"
            class="rounded-md accordion-soft">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Is it accessible?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It adheres to the WAI-ARIA design pattern.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-2"
            class="rounded-md accordion-soft">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Is it unstyled?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It's unstyled by default, giving you freedom over the look and feel.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-3"
            class="rounded-md accordion-soft">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Can it be animated?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes! You can use the transition prop to configure the animation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Outline Accordion
      </h1>
      <div class="p-6 rd-lg b bdr-high">
        <div data-accordion data-default-value="accordion-1" data-type="single" class="space-y-2">
          <div data-accordion-item data-accordion-value="accordion-1" class="rounded-md accordion-outline b">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg group">
              Is it accessible?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It adheres to the WAI-ARIA design pattern.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-2" class="rounded-md accordion-outline b">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg group">
              Is it unstyled?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It's unstyled by default, giving you freedom over the look and feel.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-3" class="rounded-md accordion-outline b">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg group">
              Can it be animated?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes! You can use the transition prop to configure the animation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Subtle Accordion
      </h1>
      <div class="p-6 rd-lg b bdr-high">
        <div data-accordion data-default-value="accordion-1" data-type="single" class="space-y-2">
          <div data-accordion-item data-accordion-value="accordion-1"
            class="rounded-md accordion-subtle fx-open-accordion-item-subtle-active">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Is it accessible?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It adheres to the WAI-ARIA design pattern.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-2"
            class="rounded-md accordion-subtle fx-open-accordion-item-subtle-active">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Is it unstyled?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes. It's unstyled by default, giving you freedom over the look and feel.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-3"
            class="rounded-md accordion-subtle fx-open-accordion-item-subtle-active">
            <button data-accordion-trigger aria-label="toggle button"
              class="px-4 w-full flex justify-between items-center py-2 text-sub-title font-medium text-lg ease-linear hover-bg-high rounded-md group">
              Can it be animated?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p class="p-4">
                Yes! You can use the transition prop to configure the animation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <h1 class="text-xl font-semibold text-title">
        Link Accordion
      </h1>
      <div class="p-6 rd-lg b bdr-high">
        <div data-accordion data-default-value="accordion-1" data-type="single" class="space-y-2">
          <div data-accordion-item data-accordion-value="accordion-1" class="">
            <button data-accordion-trigger aria-label="toggle button"
              class="pb-2 w-full flex justify-between items-center text-sub-title font-medium text-lg hover:underline group">
              Is it accessible?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p>
                Yes. It adheres to the WAI-ARIA design pattern.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-2" class="">
            <button data-accordion-trigger aria-label="toggle button"
              class="pb-2 w-full flex justify-between items-center text-sub-title font-medium text-lg hover:underline group">
              Is it unstyled?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p>
                Yes. It's unstyled by default, giving you freedom over the look and feel.
              </p>
            </div>
          </div>
          <div data-accordion-item data-accordion-value="accordion-3" class="">
            <button data-accordion-trigger aria-label="toggle button"
              class="pb-2 w-full flex justify-between items-center text-sub-title font-medium text-lg hover:underline group">
              Can it be animated?
              <span aria-hidden="true" class="flex i-ph-caret-down ease-linear duration-300 group-aria-expanded-rotate-180"></span>
            </button>
            <div aria-hidden="true" data-accordion-content class="text-body duration-200 ease-linear overflow-hidden">
              <p>
                Yes! You can use the transition prop to configure the animation.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script type="module" src="/main.ts"></script>
  <script type="module" src="./js/script.js"></script>
</body>

</html>