---
import CopyBtnCode from "@components/vuejs/CopyBtnCode.vue";

type Props = {
  shellStyle?: string;
  noBorderRadiusTop?: boolean;
};

const { shellStyle, noBorderRadiusTop } = Astro.props;
---

<div
  data-pagefind-ignore
  data-code-block
  class:list={[
    "relative group overflow-hidden max-h-35rem wfull grid b bdr-high rd-lg bg-[--astro-code-color-background]",
    {
      "my4 first-mt0 last-mb0": !noBorderRadiusTop,
      "rd-t-0": noBorderRadiusTop,
    },
  ]}
>
  <CopyBtnCode
    className="absolute top-2 right-2 z40 invisible flex op0 group-hover-visible group-hover-op100"
    client:load
  />
  <div data-shell-indicator={shellStyle ? "true" : "false"} data-code-snippet class="grid overflow-hidden">
    <slot />
  </div>
</div>
