---
import UiLink from "@components/atoms/UiLink.astro";

type Props = {
    href: string;
    icon: string;
}
const { href } = Astro.props;
---

<UiLink href={href} class="flex flex-col w-full rd-lg">
    <div>
        
    </div>
    <div>
        <slot />
    </div>
</UiLink>
