---
import dynamic from "astro:import";

type Props = {
    name: string;
    props?: any;
};

const { name, props = {} } = Astro.props;

const toImport = `components/registry/${name}.astro`;
const Component = await dynamic(toImport);
---

<div
    data-pagefind-ignore
    class="b bdr-high rd-lg p1.5 md-p10 bg-body d-flex-justify-center min-h-max mt6 first-mt0"
>
    <Component {...props} />
</div>
