---
type Props = {
    noBottomBorder?: boolean;
}

const { noBottomBorder } = Astro.props;
---

<div
    class:list={[
        "b bdr-nm rd-lg wfull p5",
        {
            "my4 first-mt0 last-mb0":!noBottomBorder,
            "b-b-0 rd-b-0": noBottomBorder,
        },
    ]}
>
    <slot />
</div>
