---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"p"> 
const { class: className, ...rest } = Astro.props;
---

<div class={`mt6 first-mt0 leading-normal ${className}`} {...rest}>
  <slot />
</div>
