---
type Props = {
  value: string;
  active?: boolean;
  noBorder?: boolean;
  noBg?: string;
  class?: string;
};

const { value, active, class: className } = Astro.props;
---

<section
  data-tab-panel
  aria-labelledby={value}
  role="tabpanel"
  id={value}
  tabindex="0"
  aria-hidden={`${active ? "false" : "true"}`}
  data-state={`${active ? "active" : "inactive"}`}
  class={`hidden fx-active-flex active-outline-gray8/50 focus-outline-gray8/50 wfull ${className ? className : ""}`}
>
  <slot />
</section>
