<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Range
            </h1>
            <div class="p-6 flex flex-col space-y-5 rd-lg b bdr-high">
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
                </div>
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="80" value="20" class="w-full cursor-pointer form-input-range range-thumb-bg-primary6 range-thumb-size-md range-track-bg-gray text-primary600">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Disabled
            </h1>
            <div class="p-6 flex flex-col space-y-5 rd-lg b bdr-high">
                <div class="relative w-full flex items-center h-4">
                    <input type="range" disabled name="range_slide" min="0" value="30" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Stepper
            </h1>
            <div class="p-6 flex flex-col space-y-5 rd-lg b bdr-high">
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" step="4" min="0" max="40" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Style
            </h1>
            <div class="p-6 flex flex-col space-y-5 rd-lg b bdr-high">
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
                </div>
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-secondary6">
                </div>
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-accent6">
                </div>
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-success6">
                </div>
                <div class="relative w-full flex items-center h-4">
                    <input type="range" name="range_slide" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-info6">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Custom Indicator
            </h1>
            <div class="p-6 flex flex-col space-y-4 rd-lg b bdr-high">
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-success6 dark-bg-success5 h-2"
                    id="range_custom1" class="relative w-full flex items-center h-4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-success6 dark-text-success5">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-primary-600 dark-bg-primary-500 h-2"
                    id="range_custom3" class="relative w-full flex items-center h-4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600 dark-text-primary500">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex flex-col space-y-5 rd-lg b bdr-high">
                <div class="relative w-full flex items-center h-2">
                    <label for="range_slide_xs" class="sr-only">rangexs</label>
                    <input type="range" name="range_slide_xs" id="range_slide_xs" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xs range-track-bg-gray text-primary600">
                </div>
                <div class="relative w-full flex items-center h-3">
                    <label for="range_slide_sm" class="sr-only">rangesm</label>
                    <input type="range" name="range_slide_sm" id="range_slide_sm" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-sm range-track-bg-gray text-primary600">
                </div>
                <div class="relative w-full flex items-center h-4">
                    <label for="range_slide_md" class="sr-only">rangemd</label>
                    <input type="range" name="range_slide_md" id="range_slide_md" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-primary600">
                </div>
                <div class="relative w-full flex items-center h-5">
                    <label for="range_slide_lg" class="sr-only">rangelg</label>
                    <input type="range" name="range_slide_lg" id="range_slide_lg" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-lg range-track-bg-gray text-primary600">
                </div>
                <div class="relative w-full flex items-center h-6">
                    <label for="range_slide_xl" class="sr-only">rangexl</label>
                    <input type="range" name="range_slide_xl" id="range_slide_xl" min="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xl range-track-bg-gray text-primary600">
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Custom Indicator : Size
            </h1>
            <div class="p-6 flex flex-col space-y-4 rd-lg b bdr-high">
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-1"
                    class="relative w-full flex items-center h-2">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xs range-track-bg-gray text-success6 dark-text-success5">
                </div>
               
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2"
                    id="range_custom1" class="relative w-full flex items-center h-4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-sm range-track-bg-gray text-success6 dark-text-success5">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2.5"
                    id="range_custom1" class="relative w-full flex items-center h-4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-md range-track-bg-gray text-success6 dark-text-success5">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2.5"
                    id="range_custom1" class="relative w-full flex items-center h-4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-lg range-track-bg-gray text-success6 dark-text-success5">
                </div>
                <div data-custom-range-wrapper
                    data-range-indicator="peer-disabled:bg-op50 rd-lg bg-success-600 dark:bg-success-500 h-2.5"
                    id="range_custom1" class="relative w-full flex items-center h-4">
                    <input data-input-range type="range" name="range_slide_3" min="0" value="0" max="100" class="w-full cursor-pointer form-input-range range-thumb-bg-white dark-range-thumb-bg-gray950 range-thumb-size-xl range-track-bg-gray text-success6 dark-text-success5">
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>