<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative pb-20 z-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Tab
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs role="tab">
                    <ul data-tab-list role="tablist"
                        class="flex items-center relative h-12 px-px bg-solid w-full rd-md">
                        <li role="presentation" class="flex">
                            <a href="#tab1" data-tabs-trigger data-target="tab1" aria-controls="tab1" tabindex="0"
                                class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 fx-active-bg-high-solid outline outline-1 outline-transparent focus:outline-primary-500 dark:focus:outline-primary-400">
                                Tab 1
                            </a>
                        </li>
                        <li role="presentation" class="flex">
                            <a href="#tab2" data-tabs-trigger data-target="tab2" aria-controls="tab2" tabindex="-1"
                                class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 fx-active-bg-high-solid outline outline-1 outline-transparent focus:outline-primary-500 dark:focus:outline-primary-400">
                                Tab2
                            </a>
                        </li>
                        <li role="presentation" class="flex">
                            <a href="#tab3" data-tabs-trigger data-target="tab3" aria-controls="tab3" tabindex="-1"
                                class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 fx-active-bg-high-solid outline outline-1 outline-transparent focus:outline-primary-500 dark:focus:outline-primary-400">
                                Tab3
                            </a>
                        </li>
                    </ul>
                    <div data-panels-container>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Indicator
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs
                    data-indicator-class-name="u-fx-tabs-indicator flex bg-gray-200 dark:bg-gray-800 rd absolute top-0 left-0"
                    role="tab">
                    <div data-tab-list-wrapper
                        class="flex w-full rd-md bg-solid p-0.5 relative">
                        <ul data-tab-list role="tablist" class="flex items-center relative w-full h-max">
                            <li role="presentation" class="flex">
                                <a href="#tab1" data-tabs-trigger data-target="tab1" aria-controls="tab1" tabindex="0"
                                    class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    Tab 1
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#tab2" data-tabs-trigger data-target="tab2" aria-controls="tab2" tabindex="0"
                                    class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    Tab 2
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#tab3" data-tabs-trigger data-target="tab3" aria-controls="tab3" tabindex="0"
                                    class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    Tab 3
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div data-panels-container>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Orientation : Vertical
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs data-orientation="vertical" role="tab" class="flex items-start w-full">
                    <ul data-tab-list role="tablist"
                        class="flex flex-col p-0.5 w-max relative bg-solid rd-md">
                        <li role="presentation" class="flex">
                            <a href="#tab1" data-tabs-trigger data-target="tab1" aria-controls="tab1" tabindex="0"
                                class="px-4 py-2 rd fx-active-bg-high-solid text-body disabled:cursor-not-allowed disabled:opacity-80 relative w-full">
                                Tab 1
                            </a>
                        </li>
                        <li role="presentation" class="flex">
                            <a href="#tab2" data-tabs-trigger data-target="tab2" aria-controls="tab2" tabindex="-1"
                                class="px-4 py-2 rd fx-active-bg-high-solid text-body disabled:cursor-not-allowed disabled:opacity-80 relative w-full">
                                Tab2
                            </a>
                        </li>
                        <li role="presentation" class="flex">
                            <a href="#tab3" data-tabs-trigger data-target="tab3" aria-controls="tab3" tabindex="-1"
                                class="px-4 py-2 rd fx-active-bg-high-solid text-body disabled:cursor-not-allowed disabled:opacity-80 relative w-full">
                                Tab3
                            </a>
                        </li>
                    </ul>
                    <div data-panels-container class="flex-1">
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md ml-2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md ml-2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md ml-2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Orientation : Vertical With Indicator
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs data-orientation="vertical"
                    data-indicator-class-name="u-fx-tabs-indicator rd bg-gray-200 dark:bg-gray-800 absolute top-0 left-0"
                    role="tab" class="flex items-start w-full">
                    <div data-tab-list-wrapper class="flex w-max bg-solid rd-md p-0.5">
                        <ul data-tab-list role="tablist" class="flex flex-col w-max relative">
                            <li role="presentation" class="flex">
                                <a href="#tab1" data-tabs-trigger data-target="tab1" aria-controls="tab1" tabindex="0"
                                    class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative w-full">
                                    Tab 1
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#tab2" data-tabs-trigger data-target="tab2" aria-controls="tab2" tabindex="-1"
                                    class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative w-full">
                                    Tab2
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#tab3" data-tabs-trigger data-target="tab3" aria-controls="tab3" tabindex="-1"
                                    class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative w-full">
                                    Tab3
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div data-panels-container class="flex-1">
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md ml-2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md ml-2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md ml-2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Default Index
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs data-default-value="tab2" role="tab">
                    <ul data-tab-list role="tablist"
                        class="flex items-center relative h-12 px-px bg-solid w-full rd-md">
                        <li role="presentation" class="flex">
                            <a href="#tabs1" data-tabs-trigger data-target="tab1" aria-controls="tab1" tabindex="0"
                                class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 fx-active-bg-high-solid outline outline-1 outline-transparent focus:outline-primary-500 dark:focus:outline-primary-400">
                                Tab 1
                            </a>
                        </li>
                        <li role="presentation" class="flex">
                            <a href="#tabs2" data-tabs-trigger data-target="tab2" aria-controls="tab2" tabindex="-1"
                                class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 fx-active-bg-high-solid outline outline-1 outline-transparent focus:outline-primary-500 dark:focus:outline-primary-400">
                                Tab2
                            </a>
                        </li>
                        <li role="presentation" class="flex">
                            <a href="#tabs3" data-tabs-trigger data-target="tab3" aria-controls="tab3" tabindex="-1"
                                class="px-4 py-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 fx-active-bg-high-solid outline outline-1 outline-transparent focus:outline-primary-500 dark:focus:outline-primary-400">
                                Tab3
                            </a>
                        </li>
                    </ul>
                    <div data-panels-container>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab1" aria-labelledby="tab1">
                            Tab 1 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab2" aria-labelledby="tab2">
                            Tab 2 Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="tab3" aria-labelledby="tab3">
                            Tab 3 Content
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Trigger With Icon
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs
                    data-indicator-class-name="u-fx-tabs-indicator flex bg-gray-200 dark:bg-gray-800 rd" role="tab">
                    <div data-tab-list-wrapper class="w-full p-0.5 bg-solid">
                        <ul data-tab-list role="tablist" class="flex items-center relative  w-full rd-md">
                            <li role="presentation" class="flex">
                                <a href="#tab1" data-tabs-trigger data-target="settingTab" aria-controls="settingTab"
                                    tabindex="0"
                                    class="px-4 py-2 flex items-center gap-x-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    <span aria-hidden="true" class="flex text-lg i-ph-gear"></span>
                                    Setting
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#tab2" data-tabs-trigger data-target="billingTab" aria-controls="billingTab"
                                    tabindex="-1"
                                    class="px-4 py-2 flex items-center gap-x-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    <span aria-hidden="true" class="flex text-lg i-ph-money"></span>
                                    Billing
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#tab3" data-tabs-trigger data-target="accountTab" aria-controls="accountTab"
                                    tabindex="-1"
                                    class="px-4 py-2 flex items-center gap-x-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    <span aria-hidden="true" class="flex text-lg i-ph-user"></span>
                                    Account
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div data-panels-container>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="settingTab" aria-label="settingTab">
                            Setting tab Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="billingTab" aria-labelledby="billingTab">
                            Billing Tab Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="accountTab" aria-labelledby="accountTab">
                            Account Tab Content
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Show Panel With Animation : keyframes animation
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs data-show-animation="fadeIn .8s cubic-bezier(.48,1.55,.28,1)"
                    data-indicator-class-name="u-fx-tabs-indicator flex bg-gray-200 dark:bg-gray-800 rd absolute top-0 left-0"
                    role="tab">
                    <div data-tab-list-wrapper class="w-full flex p-0.5 bg-solid">
                        <ul data-tab-list role="tablist" class="flex items-center relative w-full">
                            <li role="presentation" class="flex">
                                <a href="#settingTab" data-tabs-trigger data-target="settingTab"
                                    aria-controls="settingTab" tabindex="0"
                                    class="px-4 py-2 flex items-center gap-x-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    <span aria-hidden="true" class="flex text-lg i-ph-gear"></span>
                                    Setting
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#billingTab" data-tabs-trigger data-target="billingTab"
                                    aria-controls="billingTab" tabindex="-1"
                                    class="px-4 py-2 flex items-center gap-x-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    <span aria-hidden="true" class="flex text-lg i-ph-money"></span>
                                    Billing
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#accountTab" data-tabs-trigger data-target="accountTab"
                                    aria-controls="accountTab" tabindex="-1"
                                    class="px-4 py-2 flex items-center gap-x-2 rd text-body disabled:cursor-not-allowed disabled:opacity-80 relative z-20">
                                    <span aria-hidden="true" class="flex text-lg i-ph-user"></span>
                                    Account
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div data-panels-container>
                        <section role="tabpanel" tabindex="0"
                            class="u-fx-animated-tab-panel ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="settingTab" aria-label="settingTab">
                            Setting tab Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="u-fx-animated-tab-panel hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="billingTab" aria-labelledby="billingTab">
                            Billing Tab Content
                        </section>
                        <section role="tabpanel" tabindex="0"
                            class="u-fx-animated-tab-panel hidden fx-active:flex ring-offset-gray-950 h-40 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2"
                            data-tab-panel id="accountTab" aria-labelledby="accountTab">
                            Account Tab Content
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Example With Form
            </h1>
            <div class="p-6 rd-lg bdr_high text-body">
                <div data-fx-tabs data-tabs
                    data-indicator-class-name="u-fx-tabs-indicator flex bg-gray-200 dark:bg-gray-800 rd absolute top-0 left-0"
                    role="tab" class="mx-auto max-w-xl">
                    <div data-tab-list-wrapper class="flex w-full p-0.5 bg-solid rd-md">
                        <ul data-tab-list role="tablist"
                            class="flex items-center relative w-full">
                            <li role="presentation" class="flex">

                                <a href="#accountTab" data-tabs-trigger data-target="accountTab"
                                    aria-controls="accountTab" tabindex="0"
                                    class="px-4 py-2 rd flex-1 flex items-center justify-center text-body disabled:cursor-not-allowed disabled:opacity-80 relative">
                                    Account
                                </a>
                            </li>
                            <li role="presentation" class="flex">
                                <a href="#passTab" data-tabs-trigger data-target="passTab" aria-controls="passTab"
                                    tabindex="-1"
                                    class="px-4 py-2 rd flex-1 flex items-center justify-center text-body disabled:cursor-not-allowed disabled:opacity-80 relative">
                                    Password
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div data-panels-container>
                        <form role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 p-6 md:p-10 divide-y divide-gray-200 dark:divide-gray-800 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2 bg-white dark:bg-gray-950 flex-col"
                            data-tab-panel id="accountTab" aria-labelledby="accountTab">
                            <div class="space-y-1.5 pb-6 md:pb-8">
                                <h3
                                    class="text-2xl font-semibold leading-none tracking-tight text-title">
                                    Account</h3>
                                <p class="text-sm text-body">Make changes to your account here.
                                    Click save
                                    when you're done.</p>
                            </div>
                            <div class="py-6 md:py-8 space-y-4">
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="user_email"
                                        class="text-sm text-sub-body">Email</label>
                                    <input type="email" id="user_email" name="user_email"
                                        placeholder="johndoe@gmail.com"
                                        class="input input-md input-bordered bg-body rd-md">
                                </div>
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="user_name"
                                        class="text-sm text-sub-body">Username</label>
                                    <input type="text" id="user_name" name="user_name" placeholder="@doedoe"
                                        class="input input-md input-bordered bg-body rd-md">
                                </div>
                            </div>
                            <div class="flex items-center pt-6 md:pt-8">
                                <button
                                    class="h-10 px-5 text-sm flex justify-center items-center rd-md bg-gray-950 text-white dark:bg-white dark:text-gray-950 hover:bg-opacity-80 disabled:opacity-60 disabled:cursor-not-allowed transition-colors ease-linear">
                                    Save changes
                                </button>
                            </div>
                        </form>
                        <form role="tabpanel" tabindex="0"
                            class="hidden fx-active:flex ring-offset-gray-950 p-6 md:p-10 divide-y divide-gray-200 dark:divide-gray-800 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-danger-500 focus-visible:ring-offset-2 border border-gray-200 dark:border-gray-800 rd-md mt-2 bg-white dark:bg-gray-950 flex-col"
                            data-tab-panel id="passTab" aria-labelledby="passTab">
                            <div class="space-y-1.5 pb-6 md:pb-8">
                                <h3
                                    class="text-2xl font-semibold leading-none tracking-tight text-title">
                                    Password</h3>
                                <p class="text-sm text-body">Change your password here. After
                                    saving, you'll be logged out.</p>
                            </div>
                            <div class="py-6 md:py-8 space-y-4">
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="currentPassword"
                                        class="text-sm text-sub-body">Current Password</label>
                                    <input type="password" id="currentPassword" name="currentPassword"
                                        class="input input-md input-bordered bg-body rd-md">
                                </div>
                                <div class="flex flex-col w-full space-y-2">
                                    <label for="new_password" class="text-sm text-sub-body">New
                                        Password</label>
                                    <input type="password" id="new_password" name="new_password"
                                        class="input input-md input-bordered bg-body rd-md">
                                </div>
                            </div>
                            <div class="flex items-center pt-6 md:pt-8">
                                <button
                            class="btn btn-md btn-solid-neutral rd-md">
                            Save changes
                        </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.js"></script>
</body>

</html>