<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default AlertDialog
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-modal-trigger data-modal-target="modal-default" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        DefaultModal
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-default"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="u-fx-animated-modal-content bg-body rd-lg overflow-hidden w-full max-w-2xl flex flex-col ease-linear transition-all absolute top-4 ">
                            <div class="b-bdr_b-nm p-4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-title">
                                    Modal Default
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="btn btn-icon-md btn-white rd-full">
                                    <span aria-hidden="true" class="flex i-ph-x"></span>
                                </button>
                            </div>
                            <div class="px-4 py-6">

                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-fade" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        FadeIn & Scale
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-fade"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-2xl flex flex-col ease-linear transition-all ">
                            <div class="b-bdr_b-nm p-4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-title">
                                    FadeIn And Scale
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="btn btn-icon-md btn-white rd-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="size-4">
                                        <path
                                            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="px-4 py-6">

                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-slidedown" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Slide Down
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-slidedown"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="slide-down-animation-modal .4s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-2xl flex flex-col ease-linear transition-all ">
                            <div class="b-bdr_b-nm p-4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-title">
                                    FadeIn And Scale
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="btn btn-icon-md btn-white rd-full">
                                    <span aria-hidden="true" class="flex i-ph-x"></span>
                                </button>
                            </div>
                            <div class="px-4 py-6">

                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-slideup" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Slide Up
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-slideup"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="slide-up-animation-modal .4s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-2xl flex flex-col ease-linear transition-all ">
                            <div class="b-bdr_b-nm p-4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-title">
                                    FadeIn And Scale
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="btn btn-icon-md btn-white rd-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="size-4">
                                        <path
                                            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="px-4 py-6">

                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Size
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-modal-trigger data-modal-target="modal-default-size"
                        class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Default Size
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-default-size"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="u-fx-animated-modal-content bg-body rd-lg overflow-hidden w-full max-w-2xl flex flex-col ease-linear transition-all absolute top-4">
                            <div class="p-4">
                                <div
                                    class="h-10 flex bg-high border border-dotted border-gray-200 dark:border-gray-800 rounded-md">

                                </div>
                            </div>
                            <div class="px-4 py-6">
                                <div
                                    class="h-40 flex border border-dashed border-gray-200 dark:border-gray-800 bg-high rounded-md">

                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-xs" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        XS Modal
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-xs"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="u-fx-animated-modal-content bg-body rd-lg overflow-hidden w-full max-w-sm flex flex-col ease-linear transition-all absolute top-4">
                            <div class="b-bdr_b-nm p-4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-title">
                                    Modal Default
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="btn btn-icon-md btn-white rd-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="size-4">
                                        <path
                                            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="px-4 py-6">

                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-fullScreen" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Full Screen
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-fullScreen"
                        class="items-start fixed w-screen h-screen top-0 left-0 hidden fx-open:flex"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="u-fx-animated-modal-content bg-body rd-lg overflow-hidden flex flex-col ease-linear transition-all absolute w-full h-full top-0">
                            <div class="p-4 h-max">
                                <div
                                    class="h-10 flex bg-high border border-dotted border-gray-200 dark:border-gray-800 rounded-md">

                                </div>
                            </div>
                            <div class="px-4 py-6 flex-1">
                                <div
                                    class="h-full flex border border-dashed border-gray-200 dark:border-gray-800 bg-high rounded-md">

                                </div>
                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3 h-max">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Alert Message
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-def" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Default Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-def"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div class="w-max p-3 rounded-full bg-gray-200 dark:bg-gray-800 text-sub-title">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Confirm your action
                            </h2>
                            <p class="text-body">
                                Are you sure you want to proceed with this action?
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd-md">
                                    Yes, Proceed
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd-md">
                                    No, Cancel
                                </button>
                            </div>

                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-cta-right"
                        class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        CTA RIght
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-cta-right"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div class="w-max p-3 rounded-full bg-gray-200 dark:bg-gray-800 text-sub-title">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Confirm your action
                            </h2>
                            <p class="text-body">
                                Are you sure you want to proceed with this action?
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-sm btn-white rd-md">
                                    No, Cancel
                                </button>
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd-md">
                                    Yes, Proceed
                                </button>
                            </div>

                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-success"
                        class="btn btn-md text-white btn-solid btn-solid-success rd-lg">
                        Success Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-success"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div
                                class="w-max p-3 rounded-full bg-success-300/40 dark:bg-success-900/60 text-success-700 dark:text-success-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Succes !!
                            </h2>
                            <p class="text-body">
                                Your operation was successful. Great job!
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-sm rd-md text-white btn-solid btn-solid-success">
                                    Ok, close
                                </button>
                            </div>

                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-danger-confirm"
                        class="btn btn-md text-white btn-solid btn-solid-danger rd-lg">
                        Danger Confirm
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-danger-confirm"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div
                                class="w-max p-3 rounded-full bg-danger-300/40 dark:bg-danger-900/60 text-danger-700 dark:text-danger-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Confirm Deletion!!
                            </h2>
                            <p class="text-body">
                                This is a dangerous situation. Please take necessary precautions.
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-sm text-white btn-solid btn-solid-danger rd-md">
                                    Yes, Delete
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd-md">
                                    No, Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-danger-confirm-cta-right"
                        class="btn btn-md text-white btn-solid btn-solid-danger rd-lg">
                        Danger Confirm CTa Right
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true"
                        data-modal-id="modal-danger-confirm-cta-right"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div
                                class="w-max p-3 rounded-full bg-danger-300/40 dark:bg-danger-900/60 text-danger-700 dark:text-danger-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Confirm Deletion!!
                            </h2>
                            <p class="text-body">
                                This is a dangerous situation. Please take necessary precautions.
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-sm btn-white rd-md">
                                    No, Cancel
                                </button>
                                <button data-close-modal class="btn btn-sm rd-md text-white btn-solid btn-solid-danger">
                                    Yes, Delete
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-danger-message"
                        class="btn btn-md text-white btn-solid btn-solid-danger rd-lg">
                        Danger Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-danger-message"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .6s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all">
                            <div
                                class="w-max p-3 rounded-full bg-danger-300/40 dark:bg-danger-900/60 text-danger-700 dark:text-danger-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Security Vulnerability!!!
                            </h2>
                            <p class="text-body">
                                This is a dangerous situation. Please take necessary precautions.
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-sm rd-md text-white btn-solid btn-solid-danger">
                                    Ok, I understand
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-warning-message"
                        class="btn btn-md text-white btn-solid btn-solid-warning rd-lg">
                        Warning Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-warning-message"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .6s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div
                                class="w-max p-3 rounded-full bg-warning-300/40 dark:bg-warning-900/60 text-warning-700 dark:text-warning-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                This is a warning Message....
                            </h2>
                            <p class="text-body">
                                There may be potential issues. Proceed with caution.
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-sm rd-md text-white btn-solid btn-solid-warning">
                                    Acknowledge
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Without Overlay
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-modal-trigger data-modal-target="modal-no-overlay" class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        No Overlay
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-no-overlay"
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="u-fx-animated-modal-content bg-body border border-gray-200 dark:border-gray-800 rd-lg overflow-hidden w-full max-w-xl flex flex-col ease-linear transition-all absolute top-4">
                            <div class="b-bdr_b-nm p-4 flex justify-between items-center">
                                <h2 class="text-lg font-semibold text-title">
                                    Modal Default
                                </h2>
                                <button aria-label="close modal" data-close-modal
                                    class="btn btn-icon-md btn-white rd-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                        class="size-4">
                                        <path
                                            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="px-4 py-6">

                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-fullScreen_nooverlay"
                        class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Without Overlay
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-fullScreen_nooverlay"
                        class="items-start fixed w-screen h-screen top-0 left-0 hidden fx-open:flex">
                        <dialog data-modal-content data-enter-animation="fadeIn .4s linear"
                            data-exit-animation="fadeOut .1s linear"
                            class="u-fx-animated-modal-content bg-body rd-lg overflow-hidden flex flex-col ease-linear transition-all absolute w-full h-full top-0">
                            <div class="p-4 h-max">
                                <div
                                    class="h-10 flex bg-high border border-dotted border-gray-200 dark:border-gray-800 rounded-md">

                                </div>
                            </div>
                            <div class="px-4 py-6 flex-1">
                                <div
                                    class="h-full flex border border-dashed border-gray-200 dark:border-gray-800 bg-high rounded-md">

                                </div>
                            </div>
                            <div class="bdr_t p-4 flex items-center gap-x-3 h-max">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd">
                                    Save
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd">
                                    Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Prevent Close/Static Overlay
            </h1>
            <div class="p-6 flex flex-wrap gap-4 rd-lg b bdr-high">
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-def-prevent"
                        class="btn btn-md text-white btn-solid btn-solid-primary rd-lg">
                        Default Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true" data-modal-id="modal-message-def-prevent"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        data-prevent-close-modal
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div class="w-max p-3 rounded-full bg-gray-200 dark:bg-gray-800 text-sub-title">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Confirm your action
                            </h2>
                            <p class="text-body">
                                Are you sure you want to proceed with this action?
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button class="btn btn-sm text-white btn-solid btn-solid-primary rd-md">
                                    Yes, Proceed
                                </button>
                                <button data-close-modal class="btn btn-sm btn-white rd-md">
                                    No, Cancel
                                </button>
                            </div>
                        </dialog>
                    </div>
                </div>
                <div>
                    <button data-modal-trigger data-modal-target="modal-message-success-prevent"
                        class="btn btn-md text-white btn-solid btn-solid-success rd-lg">
                        Success Message
                    </button>
                    <div data-fx-modal data-alert-dialog aria-hidden="true"
                        data-modal-id="modal-message-success-prevent"
                        data-modal-overlay="u-fx-overlay bg-gray-800/70 backdrop-filter backdrop-blur-3xl"
                        data-prevent-close-modal
                        class="items-start p-4 fixed hidden fx-open:flex w-screen h-screen top-0 left-0">
                        <dialog data-modal-content data-enter-animation="fadeInScale .4s linear"
                            data-exit-animation="fadeOutScale .1s linear"
                            class="u-fx-animated-modal-content relative bg-body rd-lg overflow-hidden w-full max-w-xl p-8 flex flex-col gap-y-4 items-center ease-linear transition-all ">
                            <div
                                class="w-max p-3 rounded-full bg-success-300/40 dark:bg-success-900/60 text-success-700 dark:text-success-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                </svg>
                            </div>
                            <h2 class="font-semibold text-xl text-title">
                                Succes !!
                            </h2>
                            <p class="text-body">
                                Your operation was successful. Great job!
                            </p>
                            <div class="flex justify-center gap-x-3 pt-4">
                                <button data-close-modal class="btn btn-md text-white btn-solid btn-solid-success rd-md">
                                    Ok, close
                                </button>
                            </div>

                        </dialog>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>