---
import CopyBtnCode from "@components/vuejs/CopyBtnCode.vue";
import CustomCodeBlock from "@components/vuejs/CustomCodeBlock.vue";

type Props = {
    code: string;
    lang: "html" | "css" | "ts" | "js" | "vue";
    class?: string;
    unstilled?: boolean;
};

const { code, lang, unstilled, class: className = "" } = Astro.props;
---

<div
    data-pagefind-ignore
    data-code-component
    data-code-block
    data-code-box-collapsible
    class={`${unstilled ? "" : "relative group overflow-hidden max-h-35rem wfull grid b bdr-high rd-lg bg-[--astro-code-color-background]"} ${className}`}
>
    <CopyBtnCode
        className="absolute top-2 right-2 z40 invisible flex op0 group-hover-visible group-hover-op100 text-gray300"
        client:load
    />
    <div
        data-hidden-scrollbar-s
        data-overlayscrollbars-initialize
        class="wfull flex hfull overflow-auto"
    >
        <CustomCodeBlock code={code} lang={lang} client:load />
    </div>
</div>
