---
type Props = {
  text: string;
  href: string;
  type: "prev" | "next";
}

const { text, href, type } = Astro.props;
---

<a data-pagefind-ignore
  href={href}
  aria-label={`Link to : ${text}`}
  class={`btn btn-white rd-lg gap-2.5 md-items-center md-px3 p2.5 
  ${type === "prev" ? "flex-row" : "flex-row-reverse"}`}
>
  <div class="flex items-center">
    <span aria-hidden="true" class="min-wmax flex p2 b bdr-high rd-full">
      <span
        class={`${
          type === "prev" ? "i-ph-arrow-left" : "i-ph-arrow-right"
        }`}></span>
    </span>
  </div>
  <div class="flex-1 flex flex-col space-y-2">
    <span class="text-sm text-sub-body">
      {type === "prev" ? "Previous" : "Next"} Page
    </span>
    <span font-semibold>
      {text}
    </span>
  </div>
</a>
