---
import type { MarkdownHeading } from "astro";
import TableOfContentsHeading from "./TableOfContentsHeading.astro";

type Props = {
  headings: MarkdownHeading[];
};

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings: MarkdownHeading[];
};

const { headings } = Astro.props;

const grouppedHeadings = headings.reduce((array, heading) => {
  if (heading.depth === 2) {
    array.push({ ...heading, subheadings: [] });
  } else if (heading.depth === 3) {
    array.at(-1)?.subheadings.push(heading);
  }

  return array;
}, [] as HeadingWithSubheadings[]);
---

<nav
  id="table-of-contents"
  aria-label="Table Of Contents"
  class="pt3 text-sub-body w-full text-sm xl-pt0 b-l bdr_l-high b-dashed"
>
  <ol class="space-y-2">
    {grouppedHeadings.map((h) => <TableOfContentsHeading heading={h} />)}
  </ol>
</nav>

