---
import type { MarkdownHeading } from "astro";

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings: MarkdownHeading[];
};

type Props = {
  heading: HeadingWithSubheadings;
}

const { heading: h } = Astro.props;
---

<li>
    <a
      href={`#${h.slug}`}
      class="hover-text-title ease-linear duration-200 lg-pl4"
    >
      {h.text}
    </a>
    {h.subheadings.length > 0 && (
      <ol class="pl8 space-y-2 pt2">
        {h.subheadings.map((sub) => (
          <li>
            <a
              href={`#${sub.slug}`}
              class="d-flex-items-center gap-x1  hover-text-title ease-linear duration-200"
            >
              {sub.text}
            </a>
          </li>
        ))}
      </ol>
    )}
  </li>