<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full bdr_higher hover-bg-solid text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default PopOver
            </h1>
            <div
                class="p-6 flex items-center justify-center gap-4 gap-y-3 rd-lg bdr_high h-96">
                <div data-popover data-placement="bottom" data-trigger-strategy="click" id="test1" class="relative">
                    <button data-fx-tooltip-trigger aria-controls="popper"
                        class="bnt btn-md btn-white ease-linear rd-lg relative">
                        Trigger Popover
                    </button>
                    <div aria-labelledby="popper" data-fx-popper
                        class="u-fx-popper w-60 p-4 bg-solid rounded-md invisible opacity-0 fx-open:visible fx-open:opacity-100">
                        <div class="flex h-40 rounded bg-high-solid">

                        </div>
                    </div>
                </div>
                <div data-popover data-placement="top" data-trigger-strategy="click" id="test2" class="relative">
                    <button data-fx-tooltip-trigger aria-controls="popper"
                        class="bnt btn-md btn-white ease-linear rd-lg relative">
                        Open Top
                    </button>
                    <div aria-labelledby="popper" data-fx-popper
                        class="u-fx-popper w-60 p-4 bg-solid rounded-md invisible opacity-0 fx-open:visible fx-open:opacity-100">
                        <div class="flex h-40 rounded bg-high-solid">

                        </div>
                    </div>
                </div>
                <div data-popover data-trigger-strategy="click" id="test3" class="relative">
                    <button data-fx-tooltip-trigger data-placement="left" aria-controls="popper"
                        class="bnt btn-md btn-white ease-linear rd-lg relative">
                        Open Left
                    </button>
                    <div aria-labelledby="popper" data-fx-popper
                        class="u-fx-popper w-60 p-4 bg-solid rounded-md invisible opacity-0 fx-open:visible fx-open:opacity-100">
                        <div class="flex h-40 rounded bg-high-solid">

                        </div>
                    </div>
                </div>
                <div data-popover data-trigger-strategy="click" id="test4" class="relative">
                    <button data-fx-tooltip-trigger data-placement="right" aria-controls="popper"
                        class="bnt btn-md btn-white ease-linear rd-lg relative">
                        Open Right
                    </button>
                    <div aria-labelledby="popper" data-fx-popper
                        class="u-fx-popper w-60 p-4 bg-solid rounded-md invisible opacity-0 fx-open:visible fx-open:opacity-100">
                        <div class="flex h-40 rounded bg-high-solid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Trigger on Hover
            </h1>
            <div
                class="p-6 flex items-center justify-center gap-4 gap-y-3 rd-lg bdr_high h-96">
                <div data-popover data-trigger-strategy="hover" id="testHover" class="relative">
                    <button data-fx-tooltip-trigger aria-controls="popper"
                        class="bnt btn-md btn-white ease-linear rd-lg relative">
                        Open On Hover
                    </button>
                    <div aria-labelledby="popper" data-fx-popper
                        class="u-fx-popper w-60 p-4 bg-solid rounded-md invisible opacity-0 fx-open:visible fx-open:opacity-100">
                        <div class="flex h-40 rounded bg-high-solid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                With Content
            </h1>
            <div
                class="p-6 flex items-center justify-center gap-4 gap-y-3 rd-lg bdr_high h-96">
                <div data-popover data-trigger-strategy="click" id="testContent1" class="relative">
                    <button data-fx-tooltip-trigger aria-controls="popper"
                        class="text-sub-title flex items-center gap-x-2 p-2 rd-lg bdr">
                        <img src="/defaultavatar.webp" alt="avatar" width="640" height="427"
                            class="size-9 rounded-full object-cover">
                        <div class="flex items-start flex-col">
                            <h4 class="font-semibold text-title">Johnkat MJ</h4>
                            <span class="text-sm text-sub-body">FrontEnd Designer</span>
                        </div>
                    </button>
                    <div aria-labelledby="popper" data-fx-popper
                        class="u-fx-popper w-60 p-5 bg-solid rounded-md invisible opacity-0 fx-open:visible fx-open:opacity-100 space-y-2 shadow shadow-gray-200/30 dark:shadow-transparent flex flex-col items-center text-center">
                        <img src="/defaultavatar.webp" alt="avatar" class="size-16 object-cover rounded-full">
                        <div class="space-y-0.5">
                            <h4 class="text-title font-semibold">John Doe</h4>
                            <p class="text-body text-sm">12k followers</p>
                        </div>
                        <button
                            class="rd-full btn btn-lg btn-solid">
                            Follow
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
    <script type="module" src="./js/script.ts"></script>
</body>

</html>