<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-body pt14">
    <div class="fixed bottom-0 w-screen inset-x-0">
        <div class="max-w-6xl pr-8 pb-8 mx-auto flex justify-end">
            <button data-switch-theme aria-label="toggle app theme"
                class="btn btn-icon-md rd-full b  b bdr-higher hover-bg-high text-body focus:scale-90 active:scale-95 duration-200 ease-linear">
                <span aria-hidden="true" class="flex i-ph-moon dark-i-ph-sun"></span>
            </button>
        </div>
    </div>
    <section class="max-w-3xl mx-auto space-y-16 relative z-20 pb-20">
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Checkbox
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="def_check" id="def_check"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <label for="def_check"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Default
                        checkbox</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" checked name="def_check_checked" id="def_check_checked"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <label for="def_check_checked"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Default checkbox
                        Checked</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Default Checkbox Disabled
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" disabled name="def_check_disabled" id="def_check_disabled"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <label for="def_check_disabled"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Default
                        checkbox</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" disabled checked name="def_check_checked_disabled"
                        id="def_check_checked_disabled"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <label for="def_check_checked_disabled"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Default checkbox
                        Checked</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Required
            </h1>
            <div class="p-6 flex flex-col gap-3 rd-lg b bdr-high">
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="def_check_required" id="def_check_required"
                        class="form-input-checkbox mt-0.5 size-4  peer">
                    <label for="def_check_required"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none ">Default checkbox
                        <span aria-hidden="true" class="text-danger-600 dark:text-danger-500">*</span></label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Style
            </h1>
            <div class="p-6 flex flex-wrap gap-y-3 gap-x-6 rd-lg b bdr-high">
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_styled_1" id="check_styled_1"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <label for="check_styled_1"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_styled_2" id="check_styled_2"
                        class="form-input-checkbox-secondary mt-0.5 size-4 rd-md peer">
                    <label for="check_styled_2"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_styled_3" id="check_styled_3"
                        class="form-input-checkbox-accent mt-0.5 size-4 rd-md peer">
                    <label for="check_styled_3"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_styled_4" id="check_styled_4"
                        class="form-input-checkbox-success mt-0.5 size-4 rd-md peer">
                    <label for="check_styled_4"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_styled_5" id="check_styled_5"
                        class="form-input-checkbox-info mt-0.5 size-4 rd-md peer">
                    <label for="check_styled_5"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Label</label>
                </div>
                <div class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_styled_6" id="check_styled_6"
                        class="form-input-checkbox-danger mt-0.5 size-4 rd-md peer">
                    <label for="check_styled_6"
                        class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Label</label>
                </div>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Help
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <label for="check_help_1" class="flex gap-x-3 text-sm items-start">
                    <input type="checkbox" name="check_help_1" id="check_help_1"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <div
                        class="text-title font-medium text-base peer-disabled:opacity-80 peer-disabled:pointer-events-none flex flex-col">
                        Label
                        <p class="text-body text-sm font-light">
                            Please check this box
                        </p>
                    </div>
                </label>
                <label for="check_help_2"
                    class="flex gap-x-3 text-sm items-start p-4 rounded-md border border-gray-200 dark:border-gray-800 has-[:checked]:border-violet-600 dark:has-[:checked]:border-violet-500">
                    <input type="checkbox" name="check_help_2" id="check_help_2"
                        class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                    <div
                        class="text-title font-medium text-base peer-disabled:opacity-80 peer-disabled:pointer-events-none flex flex-col">
                        Label
                        <p class="text-body text-sm font-light">
                            Please check this box
                        </p>
                    </div>
                </label>
            </div>
        </div>
        <div class="space-y-6">
            <h1 class="text-xl font-semibold text-title">
                Inside List
            </h1>
            <div class="p-6 flex flex-col gap-4 rd-lg b bdr-high">
                <ul
                    class="mx-auto max-w-xl w-full border border-gray-200 dark:border-gray-800 rounded-md divide-y divide-gray-200 dark:divide-gray-800">
                    <li class="py-2 px-4">
                        <div class="flex gap-x-3 text-sm items-start">
                            <input type="checkbox" name="check_opt1" id="check_opt1"
                                class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                            <label for="check_opt1"
                                class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Can code
                                With React</label>
                        </div>
                    </li>
                    <li class="py-2 px-4">
                        <div class="flex gap-x-3 text-sm items-start">
                            <input type="checkbox" name="check_opt2" id="check_opt2"
                                class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                            <label for="check_opt2"
                                class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Can Make
                                Beautifull Design With UnoCSS</label>
                        </div>
                    </li>
                    <li class="py-2 px-4">
                        <div class="flex gap-x-3 text-sm items-start">
                            <input type="checkbox" name="check_opt3" id="check_opt3"
                                class="form-input-checkbox mt-0.5 size-4 rd-md peer">
                            <label for="check_opt3"
                                class="text-body peer-disabled:opacity-80 peer-disabled:pointer-events-none">Can kill
                                HTML</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script type="module" src="/main.ts"></script>
</body>

</html>