<div class="flex items-center flex-wrap gap-6">
    <input type="checkbox" name="switch_1" id="switch_1" class="bg-body text-title switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-white dark-switch-checked-thumb-gray950 peer" />
    <input type="checkbox" name="switch_def1" id="switch_def1" class="bg-body text-primary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
    <input type="checkbox" name="switch_def2" id="switch_def2" class="bg-body text-secondary600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
    <input type="checkbox" name="switch_def3" id="switch_def3" class="bg-body text-accent600 switch switch-md switch-thumb-gray800 dark-switch-thumb-gray2 switch-checked-thumb-gray950 dark-switch-checked-thumb-white peer" />
</div>